force-app/main/default/flows/Create_EDRD_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fax</name>
        <choiceText>Fax</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fax</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Renewal</name>
        <choiceText>Renewal</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Choose_case_option</name>
        <label>Choose case option</label>
        <locationX>248</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Record_Type_for_renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Renewal</defaultConnectorLabel>
        <rules>
            <name>Create_New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record_Type</targetReference>
            </connector>
            <label>Create New Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Medication_details_New_Renewal_decision</name>
        <label>Medication details New/Renewal decision</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Renwal_Medication_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Show Renewal Medication details</defaultConnectorLabel>
        <rules>
            <name>Show_Initial_Medication_details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MedicationRequestDetails</targetReference>
            </connector>
            <label>Show Initial Medication details</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Medication_Decision</name>
        <label>Other Medication Decision</label>
        <locationX>248</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Medication_details_New_Renewal_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Medication Details</defaultConnectorLabel>
        <rules>
            <name>OtherMedicationDetail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Medication.recordName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Medication.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Medication</targetReference>
            </connector>
            <label>Other Medication Details</label>
        </rules>
    </decisions>
    <description>Changes related to EDRD-695</description>
    <dynamicChoiceSets>
        <name>caseTypeSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseTypeValue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IndicationChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Indication_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Medication__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Medication.recordId</elementReference>
            </value>
        </filters>
        <object>Medical_Diagnosis__c</object>
        <sortField>Indication_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestedFrequencyUnits</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Requested_Frequency_Unit__c</picklistField>
        <picklistObject>MedicationRequest</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestedFundingDurationUnit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Requested_Funding_Duration_Unit__c</picklistField>
        <picklistObject>MedicationRequest</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create EDRD Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create EDRD Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Medication_request_with_New_Case</name>
        <label>Create Medication request with New Case</label>
        <locationX>116</locationX>
        <locationY>2462</locationY>
        <assignRecordIdToReference>MedicationRequestRec</assignRecordIdToReference>
        <connector>
            <targetReference>Sucees</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>StoreNewCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dosage_Units__c</field>
            <value>
                <elementReference>Dosage_Units.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dosage__c</field>
            <value>
                <elementReference>Dosage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Diagnosis__c</field>
            <value>
                <elementReference>Select_Indication.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MedicationId</field>
            <value>
                <elementReference>Medication.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Medication_Detail__c</field>
            <value>
                <stringValue>{!Medication_Name}, {!Other_Brand}, {!Other_Indication}, {!Supplier}, {!Dosing}, {!Dosage_Form}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PatientId</field>
            <value>
                <elementReference>searchedPatientRecId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_EDRD_MR_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Frequency_Unit__c</field>
            <value>
                <elementReference>Requested_Frequency_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Frequency__c</field>
            <value>
                <elementReference>Requested_Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Funding_Duration_Unit__c</field>
            <value>
                <elementReference>Requested_Funding_Duration_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Funding_Duration__c</field>
            <value>
                <elementReference>Requested_Funding_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequesterId</field>
            <value>
                <elementReference>ProviderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>StoreNewCase.Type</elementReference>
            </value>
        </inputAssignments>
        <object>MedicationRequest</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Medication_Request_with_New_Renewal_Case</name>
        <label>Create Medication Request with New Renewal Case</label>
        <locationX>380</locationX>
        <locationY>2462</locationY>
        <assignRecordIdToReference>MedicationRequestRec</assignRecordIdToReference>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>StoreRenewalCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dosage_Units__c</field>
            <value>
                <elementReference>Renewal_Dosage_Units.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dosage__c</field>
            <value>
                <elementReference>Renewal_Dosage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Diagnosis__c</field>
            <value>
                <elementReference>Select_Indication.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MedicationId</field>
            <value>
                <elementReference>Medication.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Medication_Detail__c</field>
            <value>
                <stringValue>{!Medication_Name}, {!Other_Brand}, {!Other_Indication}, {!Supplier}, {!Dosing}, {!Dosage_Form}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PatientId</field>
            <value>
                <elementReference>searchedPatientRecId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_EDRD_MR_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Frequency_Unit__c</field>
            <value>
                <elementReference>Renewal_Requested_Frequency_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Frequency__c</field>
            <value>
                <elementReference>Renewal_Requested_Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Funding_Duration_Unit__c</field>
            <value>
                <elementReference>Renewal_Requested_Funding_Duration_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Funding_Duration__c</field>
            <value>
                <elementReference>Renewal_Requested_Funding_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequesterId</field>
            <value>
                <elementReference>ProviderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>StoreRenewalCase.Type</elementReference>
            </value>
        </inputAssignments>
        <object>MedicationRequest</object>
    </recordCreates>
    <recordCreates>
        <name>New_case_Creation_for_Rec_type_New</name>
        <label>New case Creation for Rec type New</label>
        <locationX>116</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Get_Newly_created_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>patientContactRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>ProviderContactRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Received - Awaiting Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>New</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_renewal_case_creation_for_RecType_Renew</name>
        <label>New renewal case creation for RecType Renew</label>
        <locationX>380</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Get_newly_created_Renewal_Rec</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>patientContactRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>ProviderContactRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Received - Awaiting Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record_Type</name>
        <label>Get Case Record Type</label>
        <locationX>116</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_case_Creation_for_Rec_type_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EDRD</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CaseRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Type_for_renewal</name>
        <label>Get Case Record Type for renewal</label>
        <locationX>380</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_renewal_case_creation_for_RecType_Renew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EDRD</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CaseRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_EDRD_MR_Record_Type</name>
        <label>Get EDRD MR Record Type</label>
        <locationX>248</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Other_Medication_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>EDRD</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MedicationRequest</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medication</name>
        <label>Get Medication</label>
        <locationX>248</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Indication_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Medication.recordId</elementReference>
            </value>
        </filters>
        <object>Medication</object>
        <outputReference>VarMedicationInformationRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BrandNameAlternative</queriedFields>
        <queriedFields>Max_Initiation_Funding_Duration__c</queriedFields>
        <queriedFields>Max_Renewal_Funding_Duration__c</queriedFields>
        <queriedFields>HC_Initial_Funding_Duration__c</queriedFields>
        <queriedFields>HC_Initial_Funding_Duration_Unit__c</queriedFields>
        <queriedFields>HC_Initial_Frequency__c</queriedFields>
        <queriedFields>HC_Initial_Frequency_Unit__c</queriedFields>
        <queriedFields>HC_Renewal_Dosage__c</queriedFields>
        <queriedFields>HC_Renewal_Dosage_Units__c</queriedFields>
        <queriedFields>HC_Renewal_Funding_Duration__c</queriedFields>
        <queriedFields>HC_Renewal_Funding_Duration_Unit__c</queriedFields>
        <queriedFields>HC_Renewal_Frequency__c</queriedFields>
        <queriedFields>HC_Renewal_Frequency_Unit__c</queriedFields>
        <queriedFields>HC_Initial_Dosage__c</queriedFields>
        <queriedFields>HC_Initial_Dosage_Units__c</queriedFields>
        <queriedFields>Initial_Recommended_Dosage__c</queriedFields>
        <queriedFields>Renewal_Recommended_Dosage__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Newly_created_Case</name>
        <label>Get Newly created Case</label>
        <locationX>116</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Upload_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_case_Creation_for_Rec_type_New</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>StoreNewCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Provider__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Origin</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_newly_created_Renewal_Rec</name>
        <label>Get newly created Renewal Rec</label>
        <locationX>380</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UploadDocument</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_renewal_case_creation_for_RecType_Renew</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>StoreRenewalCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Provider__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Origin</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Contact_rec</name>
        <label>Get Patient Contact</label>
        <locationX>248</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Provider_Contact_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>searchedPatientRecId.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>patientContactRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Patient_Identifier__c</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Records</name>
        <label>Get Patient Records</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_Provider_for_New_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newCasePatientsearch.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>searchedPatientRecId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Patient_Identifier__pc</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_RecordTypeAccount</name>
        <label>Get Patient RecordType</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Contact_Rec</name>
        <label>Get Provider Contact</label>
        <locationX>248</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_case_option</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProviderRecord.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ProviderContactRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Provider_Type__c</queriedFields>
        <queriedFields>Provider_Identifier__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Record_for_New_case</name>
        <label>Get Provider Record for New case</label>
        <locationX>248</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Medication_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>searchNewCaseProvider.ProviderAccId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ProviderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Provider_Type__pc</queriedFields>
        <queriedFields>Provider_Identifier__pc</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getProviderRecordType</name>
        <label>Get Provider Record Type</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient_RecordTypeAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>getProviderRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Indication_Screen</name>
        <label>Indication Screen</label>
        <locationX>248</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_EDRD_MR_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Search_Indication</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Search Indication&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Indication</name>
            <choiceReferences>IndicationChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select Indication</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Medication_Request</name>
        <label>Medication Request</label>
        <locationX>248</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Medication</targetReference>
        </connector>
        <fields>
            <name>Search_Medication</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Search Medication&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Medication</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>MedicationId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Medication</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>MedicationRequest</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Medication_Name</name>
            <dataType>String</dataType>
            <fieldText>Medication Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Medication.recordName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Other</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Medication.recordName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MedicationRequestDetails</name>
        <label>Medication details</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Patient_Contact_rec</targetReference>
        </connector>
        <fields>
            <name>MedicationInformation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Medication Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShowMedicationInformation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Medication Name : &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!VarMedicationInformationRec.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Brand : &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!VarMedicationInformationRec.BrandNameAlternative}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Initial Recommended Dosage: &lt;/strong&gt;{!VarMedicationInformationRec.Initial_Recommended_Dosage__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Renewal Recommended Dosage: &lt;/strong&gt;{!VarMedicationInformationRec.Renewal_Recommended_Dosage__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Max Initiation Funding Duration: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!VarMedicationInformationRec.Max_Initiation_Funding_Duration__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Max Renewal Funding Duration: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!VarMedicationInformationRec.Max_Renewal_Funding_Duration__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MedicationRequestDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MedicationRequestDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Dosage</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>VarMedicationInformationRec.HC_Initial_Dosage__c</elementReference>
                    </defaultValue>
                    <fieldText>Dosage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Requested_Funding_Duration</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>VarMedicationInformationRec.HC_Initial_Funding_Duration__c</elementReference>
                    </defaultValue>
                    <fieldText>Requested Funding Duration</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Requested_Frequency</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>VarMedicationInformationRec.HC_Initial_Frequency__c</elementReference>
                    </defaultValue>
                    <fieldText>Requested Frequency</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MedicationRequestDetails_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Dosage_Units</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>HC_Initial_Dosage_Units__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Dosage Units</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Medication</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>VarMedicationInformationRec.HC_Initial_Dosage_Units__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Requested_Funding_Duration_Units</name>
                    <choiceReferences>RequestedFundingDurationUnit</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarMedicationInformationRec.HC_Initial_Funding_Duration_Unit__c</elementReference>
                    </defaultValue>
                    <fieldText>Requested Funding Duration Units</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Requested_Frequency_Units</name>
                    <choiceReferences>RequestedFrequencyUnits</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarMedicationInformationRec.HC_Initial_Frequency_Unit__c</elementReference>
                    </defaultValue>
                    <fieldText>Requested Frequency Units</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>New Case</description>
        <name>New_Cases</name>
        <label>New Case</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Search_Patient</targetReference>
        </connector>
        <fields>
            <name>Case_Type</name>
            <choiceReferences>New</choiceReferences>
            <choiceReferences>Renewal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Origin</name>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>Fax</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Fax</defaultSelectedChoiceReference>
            <fieldText>Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_Medication</name>
        <label>Other Medication</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Other_Medication_details</targetReference>
        </connector>
        <fields>
            <name>DisplayOtherMedicine</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Other Medication Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Other_Medication_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Other_Medication_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other_Medication_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Medication_Name</elementReference>
                    </defaultValue>
                    <fieldText>Medication Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Other_Medication_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other_Brand</name>
                    <dataType>String</dataType>
                    <fieldText>Brand</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Other_Indication</name>
            <dataType>String</dataType>
            <fieldText>Indication</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Supplier</name>
            <dataType>String</dataType>
            <fieldText>Supplier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dosing</name>
            <dataType>String</dataType>
            <fieldText>Dosing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dosage_Form</name>
            <dataType>String</dataType>
            <fieldText>Dosage Form</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_Medication_details</name>
        <label>Other Medication details</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Patient_Contact_rec</targetReference>
        </connector>
        <fields>
            <name>Other_MedicationInformation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Medication Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_ShowMedicationInformation</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Medication Name&lt;/strong&gt; &lt;strong&gt;:&lt;/strong&gt; {!Medication_Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Brand&lt;/strong&gt; &lt;strong&gt;:&lt;/strong&gt; {!Other_Brand}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Indication:&lt;/strong&gt; {!Other_Indication}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Supplier:&lt;/strong&gt;&amp;nbsp;{!Supplier}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Dosing:&lt;/strong&gt; {!Dosing}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Dosage Form:&lt;/strong&gt; {!Dosage_Form}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Renwal_Medication_details</name>
        <label>Medication details</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Patient_Contact_rec</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_MedicationInformation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Medication Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShowMedicationInformation_Renewal</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Medication Name : &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!VarMedicationInformationRec.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Brand : &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!VarMedicationInformationRec.BrandNameAlternative}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Initial Recommended Dosage: &lt;/strong&gt;{!VarMedicationInformationRec.Initial_Recommended_Dosage__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Renewal Recommended Dosage: &lt;/strong&gt;{!VarMedicationInformationRec.Renewal_Recommended_Dosage__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Max Initiation Funding Duration: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!VarMedicationInformationRec.Max_Initiation_Funding_Duration__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Max Renewal Funding Duration: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!VarMedicationInformationRec.Max_Renewal_Funding_Duration__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Renwal_Medication_details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Renwal_Medication_details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Renewal_Dosage</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>VarMedicationInformationRec.HC_Renewal_Dosage__c</elementReference>
                    </defaultValue>
                    <fieldText>Dosage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Renewal_Requested_Funding_Duration</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>VarMedicationInformationRec.HC_Renewal_Funding_Duration__c</elementReference>
                    </defaultValue>
                    <fieldText>Requested Funding Duration</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Renewal_Requested_Frequency</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>VarMedicationInformationRec.HC_Renewal_Frequency__c</elementReference>
                    </defaultValue>
                    <fieldText>Requested Frequency</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Renwal_Medication_details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Renewal_Dosage_Units</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>HC_Renewal_Dosage_Units__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Dosage Units</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Medication</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>VarMedicationInformationRec.HC_Renewal_Dosage_Units__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Renewal_Requested_Funding_Duration_Units</name>
                    <choiceReferences>RequestedFundingDurationUnit</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarMedicationInformationRec.HC_Renewal_Funding_Duration_Unit__c</elementReference>
                    </defaultValue>
                    <fieldText>Requested Funding Duration Units</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Renewal_Requested_Frequency_Units</name>
                    <choiceReferences>RequestedFrequencyUnits</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarMedicationInformationRec.HC_Renewal_Frequency_Unit__c</elementReference>
                    </defaultValue>
                    <fieldText>Requested Frequency Units</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Patient</name>
        <label>Search Patient</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Patient_Records</targetReference>
        </connector>
        <fields>
            <name>Search_Patient_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Select a Patient&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>newCasePatientsearch</name>
            <extensionName>c:lookupSearchComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Provider_for_New_Case</name>
        <label>Search Provider for New Case</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Provider_Record_for_New_case</targetReference>
        </connector>
        <fields>
            <name>Search_Provider_New</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Search for Provider&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>searchNewCaseProvider</name>
            <extensionName>c:providerAccountComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>380</locationX>
        <locationY>2570</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Success_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_SuccessfulMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(29, 31, 29);&quot;&gt;EDRD Case #&lt;/strong&gt;&lt;a href=&quot;/{!StoreNewCase.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(72, 121, 244);&quot;&gt;&lt;strong&gt;{!StoreRenewalCase.CaseNumber}&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;color: rgb(29, 31, 29);&quot;&gt; has been created successfully.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Success_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Success_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sucees</name>
        <label>Sucees</label>
        <locationX>116</locationX>
        <locationY>2570</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Sucees_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sucees_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Sucees_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sucees_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SuccessfulMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(42, 44, 41);&quot;&gt;EDRD Case #&lt;/strong&gt;&lt;a href=&quot;/{!StoreNewCase.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(12, 46, 237);&quot;&gt;&lt;strong&gt;{!StoreNewCase.CaseNumber}&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt; ha&lt;/strong&gt;&lt;strong style=&quot;color: rgb(42, 44, 41);&quot;&gt;s been created successfully. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sucees_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sucees_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Sucees_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sucees_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Document</name>
        <label>Upload Document</label>
        <locationX>116</locationX>
        <locationY>2354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Medication_request_with_New_Case</targetReference>
        </connector>
        <fields>
            <name>Upload2</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Upload Supporting Documents&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>New_case_Creation_for_Rec_type_New</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UploadDocument</name>
        <label>Upload Document</label>
        <locationX>380</locationX>
        <locationY>2354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Medication_Request_with_New_Renewal_Case</targetReference>
        </connector>
        <fields>
            <name>Upload</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Upload Supporting Documents&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>New_renewal_case_creation_for_RecType_Renew</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getProviderRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getAllRecordTypeItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>getProviderRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getRenewalAccDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>MedicationRequestRec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Other</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </variables>
    <variables>
        <name>OtherMedDetail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>patientContactRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ProviderContactRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ProviderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>searchedPatientRecId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>storedNewCaseSearchedProviderRec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storedNewSearchedPatientRec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storedRenewalPatientRec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StoreNewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>storeNewCreatedProviderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeNewPatientRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreRenewalCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>testrecVAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccountRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varMedicationInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarMedicationInformationRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Medication</objectType>
    </variables>
    <variables>
        <name>varRenewaAccName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
