force-app/main/default/flows/Create_SA_Request_HIBC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AssignLoopVariableActiveSARequest</name>
        <label>AssignLoopVariableActiveSARequest</label>
        <locationX>1111</locationX>
        <locationY>6662</locationY>
        <assignmentItems>
            <assignToReference>ActiveSARequestInformation</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;tr&gt;&lt;td&gt;&lt;a href=&quot;/{!LoopActiveSARequests.Id}&quot;&gt;{!LoopActiveSARequests.CaseNumber}&lt;/a&gt;&lt;/td&gt;&lt;td&gt;{!LoopActiveSARequests.Status}&lt;/td&gt;&lt;td&gt;{!LoopActiveSARequests.Drug__r.Name}&lt;/td&gt;&lt;td&gt;{!LoopActiveSARequests.Termination_Date__c}&lt;/td&gt;&lt;td&gt;{!LoopActiveSARequests.CreatedDate}&lt;/td&gt;&lt;/tr&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountActiveSARequests</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopActiveSARequests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Drug_Record_ID</name>
        <label>Assignment of Drug Record ID</label>
        <locationX>941</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>DRUGRECORDID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_records_with_Drug_Code.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X3rd_Party_Submission_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Drug_Record_ID_0</name>
        <label>Assignment of Drug Record ID 0</label>
        <locationX>1205</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>DRUGRECORDID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Drug_Selection_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X3rd_Party_Submission_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Created_Patient_ID</name>
        <label>Store Created Patient ID</label>
        <locationX>1106</locationX>
        <locationY>4862</locationY>
        <assignmentItems>
            <assignToReference>Final_Patient_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Patient_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_Patient_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Patient_ID.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckActiveSARequestsPatient</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalPatientAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Patient_ID.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submitter_is_Prescriber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Created_Patient_ID_2</name>
        <label>Store Created Patient ID 2</label>
        <locationX>842</locationX>
        <locationY>5342</locationY>
        <assignmentItems>
            <assignToReference>Final_Patient_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Patient_ID_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalPatientAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Patient_ID_2.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submitter_is_Prescriber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Created_Provider_ID_0</name>
        <label>Store Created Provider ID</label>
        <locationX>1089</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>Final_Provider_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Provider_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_Provider_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Provider_ID.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckActiveSARequestsProvider</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Patient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Created_Provider_ID_2</name>
        <label>Store Created Provider ID 2</label>
        <locationX>825</locationX>
        <locationY>3758</locationY>
        <assignmentItems>
            <assignToReference>Final_Provider_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Provider_ID_2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Patient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Created_Submitter_ID</name>
        <label>Store Created Submitter ID</label>
        <locationX>743</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>Final_Submitter_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Submitter_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_the_Provider_Overriden</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Existing_Patient_ID</name>
        <label>Store Existing Patient ID</label>
        <locationX>578</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>Final_Patient_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Patient_Dummy_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckActiveSARequestsProvider</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_Patient_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Patient_Dummy_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalPatientAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Patient_Dummy_Account.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Patient_Record_With_ODR_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Existing_Patient_ID_0</name>
        <label>Store Existing Patient ID</label>
        <locationX>50</locationX>
        <locationY>5102</locationY>
        <assignmentItems>
            <assignToReference>Final_Patient_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Patient_Dummy_Account_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckActiveSARequestsPatient</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_Patient_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Patient_Dummy_Account_0.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalPatientAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Patient_Dummy_Account_0.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Patient_Record_With_ODR_Info_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Existing_Provider_ID</name>
        <label>Store Existing Provider ID</label>
        <locationX>561</locationX>
        <locationY>3398</locationY>
        <assignmentItems>
            <assignToReference>Final_Provider_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Provider_Dummy_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckActiveSARequestsProvider</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_Provider_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Provider_Dummy_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Provider_Record_With_ODR_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Not_Provided_Created_Provider_ID</name>
        <label>Store Not Provided Created Provider ID</label>
        <locationX>297</locationX>
        <locationY>3518</locationY>
        <assignmentItems>
            <assignToReference>Final_Provider_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Not_Provided_Final_Provider_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Patient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Not_Provided_PHN_Created_Patient_ID</name>
        <label>Store Not Provided PHN Created Patient ID</label>
        <locationX>314</locationX>
        <locationY>5342</locationY>
        <assignmentItems>
            <assignToReference>Final_Patient_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Not_Provided_PHN_Final_Patient_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalPatientAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Patient_Dummy_Account_0.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submitter_is_Prescriber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Parent_ID</name>
        <label>Store Parent ID</label>
        <locationX>473</locationX>
        <locationY>7718</locationY>
        <assignmentItems>
            <assignToReference>Parent_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetActiveSARequests_Record_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SA_Request_Type_Id_Other</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Patient_ID</name>
        <label>Store Patient ID</label>
        <locationX>1370</locationX>
        <locationY>4382</locationY>
        <assignmentItems>
            <assignToReference>Final_Patient_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient_Record_0_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckActiveSARequestsPatient</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_Patient_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient_Record_0_0.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalPatientAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient_Record_0_0.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_Record_With_ODR_Info_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Provider_ID</name>
        <label>Store Provider ID</label>
        <locationX>1353</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>Final_Provider_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Provider_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckActiveSARequestsProvider</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_Provider_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Provider_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Provider_Record_With_ODR_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Submitter_Id</name>
        <label>Store Submitter Id</label>
        <locationX>1007</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Final_Submitter_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Submitter_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Submitter_Record_With_ODR_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Submitter_is_Prescriber_Assignment</name>
        <label>Submitter is Prescriber Assignment</label>
        <locationX>941</locationX>
        <locationY>5966</locationY>
        <assignmentItems>
            <assignToReference>Final_Submitter_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Provider_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Active_SA_Requests_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ZeroAssignSARequestsCount</name>
        <label>ZeroAssignSARequestsCount</label>
        <locationX>209</locationX>
        <locationY>6542</locationY>
        <assignmentItems>
            <assignToReference>CountActiveSARequests</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SA_Request_Type_Id_Other</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>acetaminophen</name>
        <choiceText>acetaminophen</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>acetaminophen</stringValue>
        </value>
    </choices>
    <choices>
        <name>dabigatran</name>
        <choiceText>dabigatran</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>dabigatran</stringValue>
        </value>
    </choices>
    <choices>
        <name>dabigratran</name>
        <choiceText>dabigratran</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>dabigratran</stringValue>
        </value>
    </choices>
    <choices>
        <name>Empty_Choice</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_Practice</name>
        <choiceText>General Practice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Practice</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>NRT</name>
        <choiceText>NRT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NRT</stringValue>
        </value>
    </choices>
    <choices>
        <name>vancomycin</name>
        <choiceText>vancomycin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>vancomycin</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>Bupropion_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>bupropiondepression</stringValue>
        </value>
    </constants>
    <constants>
        <name>Bupropion_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>bupropion</stringValue>
        </value>
    </constants>
    <constants>
        <name>Candesartan_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ARBcand</stringValue>
        </value>
    </constants>
    <constants>
        <name>Candesartan_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>candesartan</stringValue>
        </value>
    </constants>
    <constants>
        <name>Empty_String</name>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </constants>
    <constants>
        <name>Gliclazide_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>gliclazide</stringValue>
        </value>
    </constants>
    <constants>
        <name>Gliclazide_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>gliclazide</stringValue>
        </value>
    </constants>
    <constants>
        <name>Losartan_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ARBlosa</stringValue>
        </value>
    </constants>
    <constants>
        <name>Losartan_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>losartan</stringValue>
        </value>
    </constants>
    <constants>
        <name>OtherText</name>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </constants>
    <constants>
        <name>Pantoprazole_Magnesium_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1PPIpant</stringValue>
        </value>
    </constants>
    <constants>
        <name>Pantoprazole_Magnesium_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>pantoprazole magnesium</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rabeprazole_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1PPIrabe</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rabeprazole_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>rabeprazole</stringValue>
        </value>
    </constants>
    <constants>
        <name>Telmisartan_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ARBtelm</stringValue>
        </value>
    </constants>
    <constants>
        <name>Telmisartan_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>telmisartan</stringValue>
        </value>
    </constants>
    <constants>
        <name>Telmisartan_Twynsta_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>telmisartan + amlodipine combo NB4   NB4</stringValue>
        </value>
    </constants>
    <constants>
        <name>Telmisartan_Twynsta_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Telmisartan Twynsta</stringValue>
        </value>
    </constants>
    <constants>
        <name>Valsartan_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ARBvals</stringValue>
        </value>
    </constants>
    <constants>
        <name>Valsartan_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>valsartan</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Case_Approval_Status</name>
        <label>Case Approval Status</label>
        <locationX>1469</locationX>
        <locationY>10766</locationY>
        <defaultConnector>
            <targetReference>Status_update_based_on_request_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Approved</defaultConnectorLabel>
        <rules>
            <name>Override_Not_Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PatientOverrideReason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Provider_Override_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_Not_Approved</targetReference>
            </connector>
            <label>Override Not Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Approval_Status_0</name>
        <label>Case Approval Status</label>
        <locationX>677</locationX>
        <locationY>10550</locationY>
        <defaultConnector>
            <targetReference>Status_update_based_on_request_type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Approved</defaultConnectorLabel>
        <rules>
            <name>Override_Not_Approved_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PatientOverrideReason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Provider_Override_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_Not_Approved_0</targetReference>
            </connector>
            <label>Override Not Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_update_based_on_type</name>
        <label>Case update based on type</label>
        <locationX>781</locationX>
        <locationY>7358</locationY>
        <defaultConnector>
            <targetReference>Get_SA_Request_Type_Id_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_request_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate Submission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActiveSARequests_0</targetReference>
            </connector>
            <label>Duplicate</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_request_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SA_Request_Type_Id_Other</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
        <rules>
            <name>Extension</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_request_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extension</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SA_Request_Type_Id_Other</targetReference>
            </connector>
            <label>Extension</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Active_SA_Requests_Decision</name>
        <label>Check Active SA Requests Decision</label>
        <locationX>1073</locationX>
        <locationY>6182</locationY>
        <defaultConnector>
            <targetReference>Get_SA_Request_Type_Id_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Check Active SA Requests</defaultConnectorLabel>
        <rules>
            <name>Check_Active_SA_Requests</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckActiveSARequestsPatient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckActiveSARequestsProvider</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActiveSARequests</targetReference>
            </connector>
            <label>Check Active SA Requests</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_value_for_Drug_Selection</name>
        <label>Check value for Drug Selection</label>
        <locationX>1073</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Drug_Selection_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Acetaminophen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Drug_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>acetaminophen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_records_with_Drug_Code</targetReference>
            </connector>
            <label>Is Acetaminophen</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContinueSACreationDecision</name>
        <label>ContinueSACreationDecision</label>
        <locationX>1023</locationX>
        <locationY>7118</locationY>
        <defaultConnectorLabel>Stop SA Request Creation</defaultConnectorLabel>
        <rules>
            <name>Continue_SA_Request_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Continue_SA_Request_Creation_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_Request_Type</targetReference>
            </connector>
            <label>Continue SA Request Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>CountSARequestsDecision</name>
        <label>CountSARequestsDecision</label>
        <locationX>616</locationX>
        <locationY>6422</locationY>
        <defaultConnector>
            <targetReference>LoopActiveSARequests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active Cases</defaultConnectorLabel>
        <rules>
            <name>No_Active_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetActiveSARequests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ZeroAssignSARequestsCount</targetReference>
            </connector>
            <label>No Active Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Patient</name>
        <label>Create Patient</label>
        <locationX>1073</locationX>
        <locationY>4262</locationY>
        <defaultConnector>
            <targetReference>Store_Patient_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Patient Record</defaultConnectorLabel>
        <rules>
            <name>Create_Patient_Record</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patient_Record_0_0.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Patient_Negative_Outcome</targetReference>
            </connector>
            <label>Create Patient Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Provider_0</name>
        <label>Create Provider</label>
        <locationX>1073</locationX>
        <locationY>2678</locationY>
        <defaultConnector>
            <targetReference>Store_Provider_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Provider Record</defaultConnectorLabel>
        <rules>
            <name>Create_Provider_Record_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Provider_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_the_Provider_Overriden</targetReference>
            </connector>
            <label>Create Provider Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Submitter_Decision</name>
        <label>Create_Submitter_Decision</label>
        <locationX>875</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Store_Submitter_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Submitter Record</defaultConnectorLabel>
        <rules>
            <name>Create_Submitter_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Submitter_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Submitter_Record_Type_Id</targetReference>
            </connector>
            <label>Create Submitter Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_no_PHN_patient_exist</name>
        <label>Does no PHN patient exist?</label>
        <locationX>182</locationX>
        <locationY>4982</locationY>
        <defaultConnector>
            <targetReference>Create_Not_Provided_PHN_Patient_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patient_exists_within_SF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Patient_Dummy_Account_0.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Existing_Patient_ID_0</targetReference>
            </connector>
            <label>Patient exists within SF</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_no_PHN_patient_exist_0</name>
        <label>Does no PHN patient exist?</label>
        <locationX>1469</locationX>
        <locationY>9062</locationY>
        <defaultConnector>
            <targetReference>Create_Request_Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patient_exists_within_SF_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Patient_Dummy_Account_0.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Request_Detail</targetReference>
            </connector>
            <label>Patient exists within SF</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Patient_Dummy_Exist</name>
        <label>Does the Patient Dummy Exist</label>
        <locationX>710</locationX>
        <locationY>4742</locationY>
        <defaultConnector>
            <targetReference>Create_Patient_Record_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dummy_Patient_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Patient_Dummy_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dummy_Patient_Account_Exists_in_SF</targetReference>
            </connector>
            <label>Dummy Patient Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Provider_Dummy_Exist</name>
        <label>Does the Provider Dummy Exist</label>
        <locationX>693</locationX>
        <locationY>3158</locationY>
        <defaultConnector>
            <targetReference>Create_Provider_Record_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dummy_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Provider_Dummy_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dummy_Provider_Account_Exists</targetReference>
            </connector>
            <label>Dummy Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Drug_Diagnosis_Other_Request_Detail</name>
        <label>Drug Diagnosis Other Request Detail</label>
        <locationX>1469</locationX>
        <locationY>9518</locationY>
        <defaultConnector>
            <targetReference>Is_Provider_Overriden</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Diagnosis_Request_Detail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherDrugDiagnosis</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Other_Request_Detail</targetReference>
            </connector>
            <label>Other Diagnosis Request Detail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Drug_Diagnosis_Other_Request_Detail_0</name>
        <label>Drug Diagnosis Other Request Detail</label>
        <locationX>677</locationX>
        <locationY>9302</locationY>
        <defaultConnector>
            <targetReference>Is_Provider_Overriden_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Diagnosis_Request_Detail_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherDrugDiagnosis</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Other_Request_Detail_0</targetReference>
            </connector>
            <label>Other Diagnosis Request Detail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Patient_Deceased</name>
        <label>Is Patient Deceased</label>
        <locationX>1469</locationX>
        <locationY>10190</locationY>
        <defaultConnector>
            <targetReference>Update_Patient_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alive</defaultConnectorLabel>
        <rules>
            <name>Negative_Patient_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientOverrideReason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_Request_with_Origin</targetReference>
            </connector>
            <label>Negative Patient Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Patient_Deceased_0</name>
        <label>Is Patient Deceased</label>
        <locationX>677</locationX>
        <locationY>9974</locationY>
        <defaultConnector>
            <targetReference>Update_Patient_Validation_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alive</defaultConnectorLabel>
        <rules>
            <name>Negative_Patient_Outcome_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientOverrideReason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_Request_with_Origin_0</targetReference>
            </connector>
            <label>Negative Patient Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Provider_Overriden</name>
        <label>Is Provider Overriden</label>
        <locationX>1469</locationX>
        <locationY>9854</locationY>
        <defaultConnector>
            <targetReference>Update_SA_Request_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Normal Outcome</defaultConnectorLabel>
        <rules>
            <name>Negative_Provider_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Provider_Override_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Patient_Deceased</targetReference>
            </connector>
            <label>Negative Provider Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Provider_Overriden_0</name>
        <label>Is Provider Overriden</label>
        <locationX>677</locationX>
        <locationY>9638</locationY>
        <defaultConnector>
            <targetReference>Update_SA_Request_Validation_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Normal Outcome</defaultConnectorLabel>
        <rules>
            <name>Negative_Provider_Outcome_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Provider_Override_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Patient_Deceased_0</targetReference>
            </connector>
            <label>Negative Provider Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Patient_Overriden</name>
        <label>Is the Patient Overriden</label>
        <locationX>1073</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Get_Patient_Record_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patient_is_Overriden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientOverrideReason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Provider_0</targetReference>
            </connector>
            <label>Patient is Overriden</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Provider_Overriden</name>
        <label>Is the Provider Overriden</label>
        <locationX>1073</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Get_Provider_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provider_is_Overriden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Provider_Override_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_Patient_Overriden</targetReference>
            </connector>
            <label>Provider is Overriden</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_dupe</name>
        <label>Is this a dupe?</label>
        <locationX>1073</locationX>
        <locationY>8582</locationY>
        <defaultConnector>
            <targetReference>Create_SA_Request_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dupe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetActiveSARequests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SA_Request_Other_0</targetReference>
            </connector>
            <label>Dupe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Patient_Negative_Outcome</name>
        <label>Patient Negative Outcome</label>
        <locationX>776</locationX>
        <locationY>4382</locationY>
        <defaultConnector>
            <targetReference>Get_Patient_Record_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alive</defaultConnectorLabel>
        <rules>
            <name>Negative_Patient_Outcome_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientOverrideReason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Patient_Override_Outcomes</targetReference>
            </connector>
            <label>Negative Patient Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Patient_Override_Outcomes</name>
        <label>Patient Override Outcomes</label>
        <locationX>446</locationX>
        <locationY>4502</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Patient_Dummy_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Name_Provided_No_PHN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientOverrideReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No PHN Provided</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Patient_PHN_Not_Provided</targetReference>
            </connector>
            <label>Name Provided No PHN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_update_based_on_request_type</name>
        <label>Status update based on request type</label>
        <locationX>1469</locationX>
        <locationY>11102</locationY>
        <defaultConnector>
            <targetReference>Thank_You_Screen_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_request_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate_Submission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_Currently_Approved</targetReference>
            </connector>
            <label>Duplicate Submission</label>
        </rules>
        <rules>
            <name>Renewal_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_request_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thank_You_Screen_0_0</targetReference>
            </connector>
            <label>Renewal Submission</label>
        </rules>
        <rules>
            <name>Extension_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_request_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extension</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thank_You_Screen_0_0</targetReference>
            </connector>
            <label>Extension Submission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_update_based_on_request_type_0</name>
        <label>Status update based on request type</label>
        <locationX>677</locationX>
        <locationY>10886</locationY>
        <defaultConnector>
            <targetReference>Thank_You_Screen_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Submission_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_request_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate_Submission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_Currently_Approved_0</targetReference>
            </connector>
            <label>Duplicate Submission</label>
        </rules>
        <rules>
            <name>Renewal_Submission_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_request_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thank_You_Screen_0_0_0</targetReference>
            </connector>
            <label>Renewal Submission</label>
        </rules>
        <rules>
            <name>Extension_Submission_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_request_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extension</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thank_You_Screen_0_0_0</targetReference>
            </connector>
            <label>Extension Submission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submitter_is_Prescriber</name>
        <label>Submitter is Prescriber</label>
        <locationX>1073</locationX>
        <locationY>5846</locationY>
        <defaultConnector>
            <targetReference>Check_Active_SA_Requests_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Submitter is not Prescriber</defaultConnectorLabel>
        <rules>
            <name>Yes_Submitter_is_Prescriber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Final_Submitter_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitter_is_Prescriber_Assignment</targetReference>
            </connector>
            <label>Yes - Submitter is Prescriber</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_provider_not_provided</name>
        <label>Was provider not provided</label>
        <locationX>495</locationX>
        <locationY>2918</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Provider_Dummy_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provider_Not_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Provider_Override_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provider Not Provided</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provider_Not_Provided_Screen</targetReference>
            </connector>
            <label>Provider Not Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_the_Provider_Overriden</name>
        <label>Was the Provider Overriden</label>
        <locationX>792</locationX>
        <locationY>2798</locationY>
        <defaultConnector>
            <targetReference>Get_Provider_Record_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provider_Overriden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Provider_Override_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_provider_not_provided</targetReference>
            </connector>
            <label>Provider Overriden</label>
        </rules>
    </decisions>
    <decisions>
        <name>X3rd_Party_Submission_Decision</name>
        <label>3rd Party Submission Decision</label>
        <locationX>1073</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Is_the_Provider_Overriden</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - 3rd Party Submission</defaultConnectorLabel>
        <rules>
            <name>Yes_3rd_Party_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ODRSubmitter</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Submitter_Record</targetReference>
            </connector>
            <label>Yes - 3rd Party Submission</label>
        </rules>
    </decisions>
    <description>Hibc ServiceAccount</description>
    <dynamicChoiceSets>
        <name>CaseOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Diagnosis_Manual_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Diagnosis_Manual__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Drug_Manual_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Drug_Manual__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Patient_Override_Reason_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Patient_Override_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Primary_Diagnoses_Options</name>
        <dataType>String</dataType>
        <displayField>Diagnosis__c</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Drug__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DRUGRECORDID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Hierarchy__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary</stringValue>
            </value>
        </filters>
        <filters>
            <field>Hierarchy__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Diagnosis__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Diagnosis__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Provider_Override_Reason_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Prescriber_Override_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Provider_Type_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Provider_Type__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Provider_Type_Picklist_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Provider_Type__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Request_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Secondary_Diagnoses_Options</name>
        <dataType>String</dataType>
        <displayField>Diagnosis__c</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Drug__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DRUGRECORDID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Hierarchy__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Secondary</stringValue>
            </value>
        </filters>
        <filters>
            <field>Hierarchy__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Diagnosis__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Diagnosis__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ConcatenateNotProvidedProviderFirstAndLastName</name>
        <dataType>String</dataType>
        <expression>{!Not_Provided_Provider_First_Name} &amp; &quot; &quot; &amp; {!Not_Provided_Provider_Last_Name}</expression>
    </formulas>
    <formulas>
        <name>ConcatenateODRPatientFirstAndLastName</name>
        <dataType>String</dataType>
        <expression>{!ODRPatient.FirstName} &amp; &quot; &quot; &amp; {!ODRPatient.LastName}</expression>
    </formulas>
    <formulas>
        <name>ConcatenateODRProviderFirstAndLastName</name>
        <dataType>String</dataType>
        <expression>{!ODRPrescriber.FirstName} &amp; &quot; &quot; &amp; {!ODRPrescriber.LastName}</expression>
    </formulas>
    <formulas>
        <name>ConcatenatePatientFirstAndLastName2</name>
        <dataType>String</dataType>
        <expression>{!Patient_First_Name} &amp; &quot; &quot; &amp; {!Patient_Last_Name}</expression>
    </formulas>
    <formulas>
        <name>ConcatenatePatientFirstAndLastNameProvided</name>
        <dataType>String</dataType>
        <expression>{!Patient_First_Name_Provided} &amp; &quot; &quot; &amp; {!Patient_Last_Name_Provided}</expression>
    </formulas>
    <formulas>
        <name>ConcatenateProviderFirstAndLastName2</name>
        <dataType>String</dataType>
        <expression>{!Provider_First_Name} &amp; &quot; &quot; &amp; {!Provider_Last_Name}</expression>
    </formulas>
    <formulas>
        <name>Termination_Date_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>TruncateNotProvidedProviderFirstName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Not_Provided_Provider_First_Name}, 40)</expression>
    </formulas>
    <formulas>
        <name>TruncateODRPatientFirstName</name>
        <dataType>String</dataType>
        <expression>LEFT({!ODRPatient.FirstName}, 40)</expression>
    </formulas>
    <formulas>
        <name>TruncateODRProviderFirstName</name>
        <dataType>String</dataType>
        <expression>LEFT({!ODRPrescriber.FirstName}, 40)</expression>
    </formulas>
    <formulas>
        <name>TruncatePatientFirstName2</name>
        <dataType>String</dataType>
        <expression>LEFT({!Patient_First_Name}, 40)</expression>
    </formulas>
    <formulas>
        <name>TruncatePatientFirstNameProvided</name>
        <dataType>String</dataType>
        <expression>LEFT({!Patient_First_Name_Provided}, 40)</expression>
    </formulas>
    <formulas>
        <name>TruncateProviderFirstName2</name>
        <dataType>String</dataType>
        <expression>LEFT({!Provider_First_Name}, 40)</expression>
    </formulas>
    <interviewLabel>HIBC Create All Drugs Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create SA Request HIBC</label>
    <loops>
        <name>LoopActiveSARequests</name>
        <label>LoopActiveSARequests</label>
        <locationX>1023</locationX>
        <locationY>6542</locationY>
        <collectionReference>GetActiveSARequests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignLoopVariableActiveSARequest</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Active_SA_Requests_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Patient_Record</name>
        <label>Create New Patient Record</label>
        <locationX>1106</locationX>
        <locationY>4622</locationY>
        <connector>
            <targetReference>Get_Final_Patient_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>TruncateODRPatientFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ODRPatient.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Identifier__pc</field>
            <value>
                <elementReference>ODRPatient.Patient_Identifier__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>ODRPatient.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person_Full_Name__c</field>
            <value>
                <elementReference>ConcatenateODRPatientFirstAndLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Patient_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Patient_Record_2</name>
        <label>Create New Patient Record 2</label>
        <locationX>842</locationX>
        <locationY>5102</locationY>
        <connector>
            <targetReference>Get_Final_Patient_ID_2</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>TruncatePatientFirstName2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Patient_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Identifier__pc</field>
            <value>
                <elementReference>Patient_Identifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>Patient_Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person_Full_Name__c</field>
            <value>
                <elementReference>ConcatenatePatientFirstAndLastName2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Patient_Record_Type_ID_2.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Provider_Record</name>
        <label>Create New Provider Record</label>
        <locationX>1089</locationX>
        <locationY>3038</locationY>
        <connector>
            <targetReference>Get_Final_Provider_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>TruncateODRProviderFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ODRPrescriber.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>ODRPrescriber.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person_Full_Name__c</field>
            <value>
                <elementReference>ConcatenateODRProviderFirstAndLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Identifier__pc</field>
            <value>
                <elementReference>ODRPrescriber.Provider_Identifier__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Type__pc</field>
            <value>
                <elementReference>ODRPrescriber.Provider_Type__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Provider_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Provider_Record_2</name>
        <label>Create New Provider Record 2</label>
        <locationX>825</locationX>
        <locationY>3518</locationY>
        <connector>
            <targetReference>Get_Final_Provider_ID_2</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>TruncateProviderFirstName2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Provider_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person_Full_Name__c</field>
            <value>
                <elementReference>ConcatenateProviderFirstAndLastName2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Identifier__pc</field>
            <value>
                <elementReference>Provider_Identifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Provider_Record_2.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Submitter_Record</name>
        <label>Create New Submitter Record</label>
        <locationX>743</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Get_Final_Submitter_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ODRSubmitter.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ODRSubmitter.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>ODRSubmitter.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Identifier__pc</field>
            <value>
                <elementReference>ODRSubmitter.Provider_Identifier__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Type__pc</field>
            <value>
                <elementReference>ODRSubmitter.Provider_Type__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Submitter_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Not_Provided_PHN_Patient_Record</name>
        <label>Create Not Provided PHN Patient Record</label>
        <locationX>314</locationX>
        <locationY>5102</locationY>
        <connector>
            <targetReference>Get_Not_Provided_PHN_Final_Patient_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>TruncatePatientFirstNameProvided</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Patient_Last_Name_Provided</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Identifier__pc</field>
            <value>
                <stringValue>{!Patient_First_Name_Provided} {!Patient_Last_Name_Provided}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person_Full_Name__c</field>
            <value>
                <elementReference>ConcatenatePatientFirstAndLastNameProvided</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Not_Provided_PHN_Patient_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Not_Provided_Provider_Record</name>
        <label>Create Not Provided Provider Record</label>
        <locationX>297</locationX>
        <locationY>3278</locationY>
        <connector>
            <targetReference>Get_Not_Provided_Final_Provider_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>TruncateNotProvidedProviderFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Not_Provided_Provider_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person_Full_Name__c</field>
            <value>
                <elementReference>ConcatenateNotProvidedProviderFirstAndLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Identifier__pc</field>
            <value>
                <elementReference>Not_Provided_Provider_Identifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Type__pc</field>
            <value>
                <elementReference>Not_Provided_Provider_Identifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Not_Provided_Provider_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Other_Request_Detail</name>
        <label>Create Other Request Detail</label>
        <locationX>1337</locationX>
        <locationY>9638</locationY>
        <connector>
            <targetReference>Is_Provider_Overriden</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_SA_Request_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_ID__c</field>
            <value>
                <stringValue>hibc.diagnosis.other.manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Other drug indication:</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sort_Order__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>String_Value__c</field>
            <value>
                <elementReference>OtherDrugDiagnosis</elementReference>
            </value>
        </inputAssignments>
        <object>Request_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Other_Request_Detail_0</name>
        <label>Create Other Request Detail</label>
        <locationX>545</locationX>
        <locationY>9422</locationY>
        <connector>
            <targetReference>Is_Provider_Overriden_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_SA_Request_Other_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_ID__c</field>
            <value>
                <stringValue>hibc.diagnosis.other.manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Other drug indication:</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sort_Order__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>String_Value__c</field>
            <value>
                <elementReference>OtherDrugDiagnosis</elementReference>
            </value>
        </inputAssignments>
        <object>Request_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Request_Detail</name>
        <label>Create Request Detail</label>
        <locationX>1469</locationX>
        <locationY>9278</locationY>
        <connector>
            <targetReference>Create_Second_Request_Detail</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_SA_Request_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_ID__c</field>
            <value>
                <stringValue>hibc.manual.diagnosis</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Manual entry indication:</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sort_Order__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>String_Value__c</field>
            <value>
                <elementReference>Other_Drug_Diagnosis</elementReference>
            </value>
        </inputAssignments>
        <object>Request_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Request_Detail_0</name>
        <label>Create Request Detail</label>
        <locationX>677</locationX>
        <locationY>9062</locationY>
        <connector>
            <targetReference>Create_Second_Request_Detail_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_SA_Request_Other_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_ID__c</field>
            <value>
                <stringValue>hibc.manual.diagnosis</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Manual entry indication:</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sort_Order__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>String_Value__c</field>
            <value>
                <elementReference>Other_Drug_Diagnosis</elementReference>
            </value>
        </inputAssignments>
        <object>Request_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SA_Request_Other</name>
        <label>Create SA Request Other</label>
        <locationX>1469</locationX>
        <locationY>8702</locationY>
        <connector>
            <targetReference>Get_Service_Account_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>FinalPatientAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Final_Patient_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drug__c</field>
            <value>
                <elementReference>DRUGRECORDID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Parent_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Fax__c</field>
            <value>
                <elementReference>Provider_Fax.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>Final_Provider_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_SA_Request_Type_Id_Other.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitter__c</field>
            <value>
                <elementReference>Final_Submitter_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SA_Request_Other_0</name>
        <label>Create SA Request Other</label>
        <locationX>677</locationX>
        <locationY>8702</locationY>
        <connector>
            <targetReference>Get_Service_Account_ID_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>FinalPatientAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Final_Patient_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drug__c</field>
            <value>
                <elementReference>DRUGRECORDID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Parent_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Fax__c</field>
            <value>
                <elementReference>Provider_Fax.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>Final_Provider_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_SA_Request_Type_Id_Other.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <elementReference>What_type_of_request_is_this</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitter__c</field>
            <value>
                <elementReference>Final_Submitter_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Second_Request_Detail</name>
        <label>Create Second Request Detail</label>
        <locationX>1469</locationX>
        <locationY>9398</locationY>
        <connector>
            <targetReference>Drug_Diagnosis_Other_Request_Detail</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_SA_Request_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_ID__c</field>
            <value>
                <stringValue>hibc.manual.diagnosis.secondary</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Manual entry secondary indication:</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sort_Order__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>String_Value__c</field>
            <value>
                <elementReference>Other_Indication</elementReference>
            </value>
        </inputAssignments>
        <object>Request_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Second_Request_Detail_0</name>
        <label>Create Second Request Detail</label>
        <locationX>677</locationX>
        <locationY>9182</locationY>
        <connector>
            <targetReference>Drug_Diagnosis_Other_Request_Detail_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_SA_Request_Other_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_ID__c</field>
            <value>
                <stringValue>hibc.manual.diagnosis.secondary</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Manual entry secondary indication:</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sort_Order__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>String_Value__c</field>
            <value>
                <elementReference>Other_Indication</elementReference>
            </value>
        </inputAssignments>
        <object>Request_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Drug_Record_ID</name>
        <label>Get Drug Record ID</label>
        <locationX>1073</locationX>
        <locationY>8342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Diagnosis_of_Other_Drug</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Drug_Selection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Drug__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Drug_Selection_ID</name>
        <label>Get Drug Selection ID</label>
        <locationX>1205</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_of_Drug_Record_ID_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Drug_Selection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Drug__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Patient_Dummy_Account</name>
        <label>Get Existing Patient Dummy Account</label>
        <locationX>710</locationX>
        <locationY>4622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_Patient_Dummy_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Identifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ODRPatient.Patient_Identifier__pc</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Patient_Dummy_Account_0</name>
        <label>Get Existing Patient Dummy Account</label>
        <locationX>182</locationX>
        <locationY>4862</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_no_PHN_patient_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Identifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>{!Patient_First_Name_Provided} {!Patient_Last_Name_Provided}</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Provider_Dummy_Account</name>
        <label>Get Existing Provider Dummy Account</label>
        <locationX>693</locationX>
        <locationY>3038</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_Provider_Dummy_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Provider_Identifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ODRPrescriber.Provider_Identifier__pc</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Patient_ID</name>
        <label>Get Final Patient ID</label>
        <locationX>1106</locationX>
        <locationY>4742</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Created_Patient_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Patient_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Patient_ID_2</name>
        <label>Get Final Patient ID 2</label>
        <locationX>842</locationX>
        <locationY>5222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Created_Patient_ID_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Patient_Record_2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Provider_ID</name>
        <label>Get Final Provider ID</label>
        <locationX>1089</locationX>
        <locationY>3158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Created_Provider_ID_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Provider_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Provider_ID_2</name>
        <label>Get Final Provider ID 2</label>
        <locationX>825</locationX>
        <locationY>3638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Created_Provider_ID_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Provider_Record_2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Submitter_ID</name>
        <label>Get Final Submitter ID</label>
        <locationX>743</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Created_Submitter_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Submitter_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Not_Provided_Final_Provider_ID</name>
        <label>Get Not Provided Final Provider ID</label>
        <locationX>297</locationX>
        <locationY>3398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Not_Provided_Created_Provider_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Not_Provided_Provider_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Not_Provided_PHN_Final_Patient_ID</name>
        <label>Get Not Provided PHN Final Patient ID</label>
        <locationX>314</locationX>
        <locationY>5222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Not_Provided_PHN_Created_Patient_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Not_Provided_PHN_Patient_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Not_Provided_PHN_Patient_Record_Type_Id</name>
        <label>Get Not Provided PHN Patient Record Type Id</label>
        <locationX>182</locationX>
        <locationY>4742</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Patient_Dummy_Account_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Not_Provided_Provider_Record_Type_Id</name>
        <label>Get Not Provided Provider Record Type Id</label>
        <locationX>297</locationX>
        <locationY>3158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Not_Provided_Provider_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Record_0_0</name>
        <label>Get Patient Record</label>
        <locationX>1161</locationX>
        <locationY>2342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient_Summary_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Identifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ODRPatient.Patient_Identifier__pc</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Record_Type_Id</name>
        <label>Get Patient Record Type Id</label>
        <locationX>1106</locationX>
        <locationY>4502</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Patient_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Record_Type_ID_2</name>
        <label>Get Patient Record Type ID 2</label>
        <locationX>842</locationX>
        <locationY>4982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Patient_Record_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Record</name>
        <label>Get Provider Record</label>
        <locationX>1161</locationX>
        <locationY>1886</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Provider_Records_Summary_Screen_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Provider_Identifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ODRPrescriber.Provider_Identifier__pc</elementReference>
            </value>
        </filters>
        <filters>
            <field>Provider_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ODRPrescriber.Provider_Type__pc</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Record_2</name>
        <label>Get Provider Record 2</label>
        <locationX>825</locationX>
        <locationY>3398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Provider_Record_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Record_Type_Id</name>
        <label>Get Provider Record Type Id</label>
        <locationX>1089</locationX>
        <locationY>2918</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Provider_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Request_Type_Id_Other</name>
        <label>Get SA Request Type Id Other</label>
        <locationX>1073</locationX>
        <locationY>8222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Drug_Record_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Special_Authority_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Account_ID</name>
        <label>Get Service Account ID</label>
        <locationX>1469</locationX>
        <locationY>8822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SA_Request_with_Service_Account_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Account_ID_0</name>
        <label>Get Service Account ID</label>
        <locationX>677</locationX>
        <locationY>8822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SA_Request_with_Service_Account_ID_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submitter_Record</name>
        <label>Get Submitter Record</label>
        <locationX>875</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Submitter_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Provider_Identifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ODRSubmitter.Provider_Identifier__pc</elementReference>
            </value>
        </filters>
        <filters>
            <field>Provider_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ODRSubmitter.Provider_Type__pc</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submitter_Record_Type_Id</name>
        <label>Get Submitter Record Type Id</label>
        <locationX>743</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Submitter_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_records_with_Drug_Code</name>
        <label>Get the records with Drug Code</label>
        <locationX>941</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_of_Drug_Record_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Drug_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>acetaminophen</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Drug__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActiveSARequests</name>
        <label>GetActiveSARequests</label>
        <locationX>616</locationX>
        <locationY>6302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountSARequestsDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_Patient_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Drug__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DRUGRECORDID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Termination_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Termination_Date_Today</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CaseNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActiveSARequests_0</name>
        <label>GetActiveSARequests</label>
        <locationX>473</locationX>
        <locationY>7478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetActiveSARequests_Record_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_Patient_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Drug__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_Drug_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Termination_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Termination_Date_Today</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CaseNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActiveSARequests_Record_ID</name>
        <label>GetActiveSARequests Record ID</label>
        <locationX>473</locationX>
        <locationY>7598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Parent_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_Patient_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Drug__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_Drug_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Termination_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Termination_Date_Today</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Status_Currently_Approved</name>
        <label>Update Case Status Currently Approved</label>
        <locationX>1161</locationX>
        <locationY>11222</locationY>
        <connector>
            <targetReference>Thank_You_Screen_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SA_Request_Other</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <stringValue>Duplicate_Submission</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Currently Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Status_Currently_Approved_0</name>
        <label>Update Case Status Currently Approved</label>
        <locationX>369</locationX>
        <locationY>11006</locationY>
        <connector>
            <targetReference>Thank_You_Screen_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SA_Request_Other_0</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <stringValue>Duplicate_Submission</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Currently Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Status_Not_Approved</name>
        <label>Update Case Status Not Approved</label>
        <locationX>1337</locationX>
        <locationY>10886</locationY>
        <connector>
            <targetReference>Status_update_based_on_request_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SA_Request_Other</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Patient_Override_Reason__c</field>
            <value>
                <elementReference>PatientOverrideReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prescriber_Override_Reason__c</field>
            <value>
                <elementReference>Provider_Override_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Status_Not_Approved_0</name>
        <label>Update Case Status Not Approved</label>
        <locationX>545</locationX>
        <locationY>10670</locationY>
        <connector>
            <targetReference>Status_update_based_on_request_type_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SA_Request_Other_0</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Patient_Override_Reason__c</field>
            <value>
                <elementReference>PatientOverrideReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prescriber_Override_Reason__c</field>
            <value>
                <elementReference>Provider_Override_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Patient_Record_With_ODR_Info</name>
        <label>Update Existing Patient Record With ODR Info</label>
        <locationX>578</locationX>
        <locationY>5102</locationY>
        <connector>
            <targetReference>Submitter_is_Prescriber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Patient_Dummy_Account.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Existing_Patient_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Existing_Patient_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Patient_Record_With_ODR_Info_0</name>
        <label>Update Existing Patient Record With ODR Info</label>
        <locationX>50</locationX>
        <locationY>5222</locationY>
        <connector>
            <targetReference>Submitter_is_Prescriber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Not_Provided_PHN_Final_Patient_ID.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Patient_First_Name_Provided</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Patient_Last_Name_Provided</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Provider_Record_With_ODR_Info</name>
        <label>Update Existing Provider Record With ODR Info</label>
        <locationX>561</locationX>
        <locationY>3518</locationY>
        <connector>
            <targetReference>Create_Patient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Provider_Dummy_Account.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Existing_Provider_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Existing_Provider_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Record_With_ODR_Info_0</name>
        <label>Update Patient Record With ODR Info</label>
        <locationX>1370</locationX>
        <locationY>4502</locationY>
        <connector>
            <targetReference>Submitter_is_Prescriber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient_Record_0_0.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>ODRPatient.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ODRPatient.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ODRPatient.LastName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Validation</name>
        <label>Update Patient Validation</label>
        <locationX>1557</locationX>
        <locationY>10310</locationY>
        <connector>
            <targetReference>Update_SA_Request_with_Origin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SA_Request_Other</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Patient_Validated_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Validated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Validation_0</name>
        <label>Update Patient Validation</label>
        <locationX>765</locationX>
        <locationY>10094</locationY>
        <connector>
            <targetReference>Update_SA_Request_with_Origin_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SA_Request_Other_0</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Patient_Validated_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Validated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Provider_Record_With_ODR_Info</name>
        <label>Update Provider Record With ODR Info</label>
        <locationX>1353</locationX>
        <locationY>2918</locationY>
        <connector>
            <targetReference>Create_Patient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Provider_Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>ODRPrescriber.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ODRPrescriber.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ODRPrescriber.LastName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_Request_Validation</name>
        <label>Update SA Request Validation</label>
        <locationX>1557</locationX>
        <locationY>9974</locationY>
        <connector>
            <targetReference>Is_Patient_Deceased</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SA_Request_Other</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Provider_Validated_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Validated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_Request_Validation_0</name>
        <label>Update SA Request Validation</label>
        <locationX>765</locationX>
        <locationY>9758</locationY>
        <connector>
            <targetReference>Is_Patient_Deceased_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SA_Request_Other_0</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Provider_Validated_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Validated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_Request_with_Origin</name>
        <label>Update SA Request with Origin</label>
        <locationX>1469</locationX>
        <locationY>10526</locationY>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SA_Request_Other</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Created_By_HIBC_Agents__c</field>
            <value>
                <elementReference>Yes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_Request_with_Origin_0</name>
        <label>Update SA Request with Origin</label>
        <locationX>677</locationX>
        <locationY>10310</locationY>
        <connector>
            <targetReference>Upload_Files_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SA_Request_Other_0</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Created_By_HIBC_Agents__c</field>
            <value>
                <elementReference>Yes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_Request_with_Service_Account_ID</name>
        <label>Update SA Request with Service Account ID</label>
        <locationX>1469</locationX>
        <locationY>8942</locationY>
        <connector>
            <targetReference>Does_no_PHN_patient_exist_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SA_Request_Other</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Final_Patient_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Service_Account_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_Request_with_Service_Account_ID_0</name>
        <label>Update SA Request with Service Account ID</label>
        <locationX>677</locationX>
        <locationY>8942</locationY>
        <connector>
            <targetReference>Create_Request_Detail_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SA_Request_Other_0</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Final_Patient_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Service_Account_ID_0.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Submitter_Record_With_ODR_Info</name>
        <label>Update Submitter Record With ODR Info</label>
        <locationX>1007</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Is_the_Provider_Overriden</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Submitter_Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>ODRSubmitter.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ODRSubmitter.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ODRSubmitter.LastName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Active_SA_Requests_Screen</name>
        <label>Active SA Requests Screen</label>
        <locationX>1023</locationX>
        <locationY>6878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ExitScreen</targetReference>
        </connector>
        <fields>
            <name>ActiveSARequestsTitle</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The following active SA Requests were found where &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Final_Patient_Name}&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; is the patient and&lt;/span&gt;&lt;b style=&quot;font-size: 14px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Drug_Selection}&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; is the drug:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!ActiveSARequestInformation}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CountActiveSARequests</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoResultsMessageTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;There are NO ACTIVE SA Requests where&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;{!Final_Patient_Name}&lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt; is t&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;he patient and&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Drug_Selection}&lt;/b&gt;&lt;b style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt; &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;is the drug&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CountActiveSARequests</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_Diagnosis_of_Other_Drug</name>
        <label>Add Diagnosis of Other Drug</label>
        <locationX>1073</locationX>
        <locationY>8462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_this_a_dupe</targetReference>
        </connector>
        <fields>
            <name>Other_Drug_Diagnosis</name>
            <choiceReferences>Primary_Diagnoses_Options</choiceReferences>
            <choiceReferences>Empty_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Empty_Choice</defaultSelectedChoiceReference>
            <fieldText>Primary Indication</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_Indication</name>
            <choiceReferences>Secondary_Diagnoses_Options</choiceReferences>
            <choiceReferences>Empty_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Empty_Choice</defaultSelectedChoiceReference>
            <fieldText>Secondary Indication</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherDrugDiagnosis</name>
            <dataType>String</dataType>
            <fieldText>If drug indication is &quot;other&quot;, please enter value below:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Patient_Record_2</name>
        <label>Create Patient Record 2</label>
        <locationX>842</locationX>
        <locationY>4862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Patient_Record_Type_ID_2</targetReference>
        </connector>
        <fields>
            <name>Patient_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Patient Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Patient_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Patient First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Patient_Identifier</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ODRPatient.Patient_Identifier__pc</elementReference>
            </defaultValue>
            <fieldText>Patient Identifier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Patient_Date_of_Birth</name>
            <dataType>Date</dataType>
            <fieldText>Patient Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Provider_Record_2</name>
        <label>Create Provider Record 2</label>
        <locationX>825</locationX>
        <locationY>3278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Provider_Record_2</targetReference>
        </connector>
        <fields>
            <name>Provider_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Provider Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provider_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Provider First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provider_Identifier</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ODRPrescriber.Provider_Identifier__pc</elementReference>
            </defaultValue>
            <fieldText>Provider Identifier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dummy_Patient_Account_Exists_in_SF</name>
        <label>Dummy Patient Account Exists in SF</label>
        <locationX>578</locationX>
        <locationY>4862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Store_Existing_Patient_ID</targetReference>
        </connector>
        <fields>
            <name>Fake_Patient_Account_Exists</name>
            <fieldText>&lt;p&gt;Overridden Patient Account already exists within Salesforce. Please add the following information below to update the account details if needed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Existing_Patient_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Existing Patient First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Existing_Patient_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Existing Patient Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Existing_Patient_Identifier_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ODRPatient.Patient_Identifier__pc</elementReference>
            </defaultValue>
            <fieldText>Existing Patient Identifier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dummy_Provider_Account_Exists</name>
        <label>Dummy Provider Account Exists</label>
        <locationX>561</locationX>
        <locationY>3278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Store_Existing_Provider_ID</targetReference>
        </connector>
        <fields>
            <name>Fake_Provider_Account_Exists</name>
            <fieldText>&lt;p&gt;Overridden Provider Account already exists within Salesforce. Please add the following information below to update the account details if needed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Existing_Provider_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Existing Provider First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Existing_Provider_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Existing Provider Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Existing_Provider_Identifier</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ODRPrescriber.Provider_Identifier__pc</elementReference>
            </defaultValue>
            <fieldText>Existing Provider Identifier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ExitScreen</name>
        <label>ExitScreen</label>
        <locationX>1023</locationX>
        <locationY>6998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ContinueSACreationDecision</targetReference>
        </connector>
        <fields>
            <name>ExitDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;There might be a possiblity this case is a duplicate, do you wish to continue creating the SA request case:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Continue_SA_Request_Creation_Screen</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Continue Creation of SA Request?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Get_Patient_Summary_Screen</name>
        <label>Get Patient Summary Screen</label>
        <locationX>1161</locationX>
        <locationY>2462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Provider_0</targetReference>
        </connector>
        <fields>
            <name>Patient_Summary_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Patient Details&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Patient Identifier: {!Get_Patient_Record_0_0.Patient_Identifier__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt; Name: &lt;span style=&quot;color: rgb(32, 33, 36); font-family: Roboto, arial, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;{!ODRPatient.FirstName}{!ODRPatient.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Patient Date of Birth: {!ODRPatient.PersonBirthdate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Get_Provider_Records_Summary_Screen_0</name>
        <label>Get Provider Records Summary Screen</label>
        <locationX>1161</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_the_Patient_Overriden</targetReference>
        </connector>
        <fields>
            <name>Get_Records_Summary_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;The following information was found..&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Provider_Summary</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Provider Details&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Provider Identifier: {!Get_Provider_Record.Provider_Identifier__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Provider Name: &lt;span style=&quot;color: rgb(32, 33, 36); font-family: Roboto, arial, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;{!ODRPrescriber.FirstName} {!ODRPrescriber.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Provider Type: {!ODRPrescriber.Provider_Type__pc}&lt;/p&gt;&lt;p&gt;Provider Date of Birth: {!ODRPrescriber.PersonBirthdate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Provider_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Provider_Summary_Null_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 192, 48);&quot;&gt;Provider information was not found on Salesforce and will be created automatically on Salesforce&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Provider_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Submitter_Summary_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Submitter Details&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Submitter Identifier: {!Get_Submitter_Record.Provider_Identifier__c}&lt;/p&gt;&lt;p&gt;Submitter Name: &lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(32, 33, 36);&quot;&gt;{!ODRSubmitter.FirstName} {!ODRSubmitter.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Submitter Type: {!ODRSubmitter.Provider_Type__pc}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Submitter Date of Birth: {!ODRSubmitter.PersonBirthdate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Submitter_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Submitter_Summary_Null_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 192, 48); background-color: rgb(255, 255, 255);&quot;&gt;Submitter information was not found on Salesforce and will be created automatically on Salesforce&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Submitter_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ODRSubmitter.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Patient_PHN_Not_Provided</name>
        <label>Patient PHN Not Provided</label>
        <locationX>182</locationX>
        <locationY>4622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Not_Provided_PHN_Patient_Record_Type_Id</targetReference>
        </connector>
        <fields>
            <name>Patient_First_Name_Provided</name>
            <dataType>String</dataType>
            <fieldText>Patient First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Patient_Last_Name_Provided</name>
            <dataType>String</dataType>
            <fieldText>Patient Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Provider_Details_Screen</name>
        <label>Provider Details Screen</label>
        <locationX>1073</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_value_for_Drug_Selection</targetReference>
        </connector>
        <fields>
            <name>Provider_Details</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Search Provider &amp;amp; Patient Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ODRLookup</name>
            <extensionName>c:odrLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showPrescriber</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSubmitter</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPatient</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>patient</name>
                <value>
                    <elementReference>ODRPatient</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>prescriber</name>
                <value>
                    <elementReference>ODRPrescriber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>submitter</name>
                <value>
                    <elementReference>ODRSubmitter</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>patientOverrideReason</name>
                <value>
                    <elementReference>PatientOverrideReason</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>prescriberOverrideReason</name>
                <value>
                    <elementReference>Provider_Override_Reason</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ODRPrescriber</assignToReference>
                <name>prescriber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ODRSubmitter</assignToReference>
                <name>submitter</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ODRPatient</assignToReference>
                <name>patient</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PatientOverrideReason</assignToReference>
                <name>patientOverrideReason</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Provider_Override_Reason</assignToReference>
                <name>prescriberOverrideReason</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Provider_Fax</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Provider Fax Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Drug_Selection</name>
            <choiceReferences>vancomycin</choiceReferences>
            <choiceReferences>NRT</choiceReferences>
            <choiceReferences>acetaminophen</choiceReferences>
            <choiceReferences>dabigatran</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Drug Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Origin</name>
            <choiceReferences>CaseOrigin</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>Request_Type_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Provider_Not_Provided_Screen</name>
        <label>Provider Not Provided</label>
        <locationX>297</locationX>
        <locationY>3038</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Not_Provided_Provider_Record_Type_Id</targetReference>
        </connector>
        <fields>
            <name>Not_Provided_Provider_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Provider First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Not_Provided_Provider_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Provider Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provider_Type</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Not Provided</stringValue>
            </defaultValue>
            <fieldText>Provider Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Not_Provided_Provider_Identifier</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Not Provided</stringValue>
            </defaultValue>
            <fieldText>Provider Identifier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SA_Request_Type</name>
        <label>SA Request Type</label>
        <locationX>781</locationX>
        <locationY>7238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_update_based_on_type</targetReference>
        </connector>
        <fields>
            <name>What_type_of_request_is_this</name>
            <choiceReferences>Request_Type_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Request_Type</elementReference>
            </defaultValue>
            <fieldText>What type of request is this?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen_0_0</name>
        <label>Thank You Screen</label>
        <locationX>1469</locationX>
        <locationY>11438</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thank_You_Message_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!OtherSARequestURL}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen_0_0_0</name>
        <label>Thank You Screen</label>
        <locationX>677</locationX>
        <locationY>11222</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thank_You_Message_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!SARequestURL}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Files</name>
        <label>Upload Files</label>
        <locationX>1469</locationX>
        <locationY>10646</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Case_Approval_Status</targetReference>
        </connector>
        <fields>
            <name>Upload_File</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Upload your files here&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>File_Upload_Text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_SA_Request_Other</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Files_0</name>
        <label>Upload Files</label>
        <locationX>677</locationX>
        <locationY>10430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Case_Approval_Status_0</targetReference>
        </connector>
        <fields>
            <name>Upload_File_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Upload your files here&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File_Upload_0</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>File_Upload_Text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_SA_Request_Other_0</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Provider_Details_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActiveSARequestInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;tr&gt;&lt;td&gt;&lt;b&gt;Case #&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Status&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Drug Name&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Termination Date&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Created Date&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>CheckActiveSARequestsPatient</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CheckActiveSARequestsProvider</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CountActiveSARequests</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Drug_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DRUGRECORDID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>File_Upload_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Final_Drug_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Final_Patient_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Final_Patient_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Final_Provider_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Final_Provider_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Final_Submitter_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Final_Submitter_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores account Id of the contact Id</description>
        <name>FinalPatientAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ODRPatient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ODRPrescriber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ODRSubmitter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>OtherSARequestURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;a href=&quot;/{!Create_SA_Request_Other}&quot;target=&quot;_parent&quot;&gt;SA Request Created - Click Here&lt;/a&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>Parent_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PatientOverrideReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>None</stringValue>
        </value>
    </variables>
    <variables>
        <name>Provider_Override_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SARequestURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;a href=&quot;/{!Create_SA_Request_Other_0}&quot;target=&quot;_parent&quot;&gt;SA Request Created - Click Here&lt;/a&gt;</stringValue>
        </value>
    </variables>
</Flow>
