force-app/main/default/flows/Create_EDRD_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>AC_Review</name>
        <choiceText>AC Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AC Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>Approved</name>
        <choiceText>Approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dentist</name>
        <choiceText>Dentist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	Dentist</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fax</name>
        <choiceText>Fax</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fax</stringValue>
        </value>
    </choices>
    <choices>
        <name>Midwife</name>
        <choiceText>Midwife</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Midwife</stringValue>
        </value>
    </choices>
    <choices>
        <name>MOH_Review</name>
        <choiceText>MOH Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	MOH Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>Naturopathic_Practitioner</name>
        <choiceText>Naturopathic Practitioner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Naturopathic Practitioner</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <description>New Case</description>
        <name>New_Case</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Not_Approved</name>
        <choiceText>Not Approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nurse</name>
        <choiceText>Nurse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	Nurse</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nurse_Practitioner</name>
        <choiceText>Nurse Practitioner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	Nurse Practitioner</stringValue>
        </value>
    </choices>
    <choices>
        <name>OOP_Provider_Alberta</name>
        <choiceText>OOP Provider - Alberta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	OOP Provider - Alberta</stringValue>
        </value>
    </choices>
    <choices>
        <name>OOP_Provider_Manitoba</name>
        <choiceText>OOP Provider - Manitoba</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OOP Provider - Manitoba</stringValue>
        </value>
    </choices>
    <choices>
        <name>OOP_Provider_New_Brunswick</name>
        <choiceText>OOP Provider - New Brunswick</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OOP Provider - New Brunswick</stringValue>
        </value>
    </choices>
    <choices>
        <name>OOP_Provider_Newfoundland_and_Labrador</name>
        <choiceText>OOP Provider - Newfoundland and Labrador</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OOP Provider - Newfoundland and Labrador</stringValue>
        </value>
    </choices>
    <choices>
        <name>OOP_Provider_Northwest_Territories</name>
        <choiceText>OOP Provider - Northwest Territories</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OOP Provider - Northwest Territories</stringValue>
        </value>
    </choices>
    <choices>
        <name>OOP_Provider_Nova_Scotia</name>
        <choiceText>OOP Provider - Nova Scotia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OOP Provider - Nova Scotia</stringValue>
        </value>
    </choices>
    <choices>
        <name>OOP_Provider_Nunavut</name>
        <choiceText>OOP Provider - Nunavut</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	OOP Provider - Nunavut</stringValue>
        </value>
    </choices>
    <choices>
        <name>OOP_Provider_Ontario</name>
        <choiceText>OOP Provider - Ontario</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OOP Provider - Ontario</stringValue>
        </value>
    </choices>
    <choices>
        <name>OOP_Provider_PEI</name>
        <choiceText>OOP Provider - PEI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OOP Provider - PEI</stringValue>
        </value>
    </choices>
    <choices>
        <name>OOP_Provider_Quebec</name>
        <choiceText>OOP Provider - Quebec</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OOP Provider - Quebec</stringValue>
        </value>
    </choices>
    <choices>
        <name>OOP_Provider_Saskatchewan</name>
        <choiceText>OOP Provider - Saskatchewan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OOP Provider - Saskatchewan</stringValue>
        </value>
    </choices>
    <choices>
        <name>OOP_Provider_Yukon</name>
        <choiceText>OOP Provider- Yukon</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OOP Provider- Yukon</stringValue>
        </value>
    </choices>
    <choices>
        <name>Optometrist</name>
        <choiceText>Optometrist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Optometrist</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pharmacist</name>
        <choiceText>Pharmacist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	Pharmacist</stringValue>
        </value>
    </choices>
    <choices>
        <name>Physician</name>
        <choiceText>Physician</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Physician</stringValue>
        </value>
    </choices>
    <choices>
        <name>Podiatrist</name>
        <choiceText>Podiatrist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	Podiatrist</stringValue>
        </value>
    </choices>
    <choices>
        <name>Received</name>
        <choiceText>Received</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	Received</stringValue>
        </value>
    </choices>
    <choices>
        <name>Received_Awaiting_Verification</name>
        <choiceText>Received - Awaiting Verification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	Received - Awaiting Verification</stringValue>
        </value>
    </choices>
    <choices>
        <name>Registered_Psychiatric_Nurse</name>
        <choiceText>Registered Psychiatric Nurse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Registered Psychiatric Nurse</stringValue>
        </value>
    </choices>
    <choices>
        <name>Renewal</name>
        <choiceText>Renewal</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SC_Review</name>
        <choiceText>SC Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SC Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>Speech_and_Hearing_Professional</name>
        <choiceText>Speech and Hearing Professional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	Speech and Hearing Professional</stringValue>
        </value>
    </choices>
    <choices>
        <name>Under_Review</name>
        <choiceText>Under Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Under Review</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Choose_case_option</name>
        <label>Choose case option</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Record_Type_for_renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Renewal</defaultConnectorLabel>
        <rules>
            <name>Create_New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>New</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record_Type</targetReference>
            </connector>
            <label>Create New Case</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>caseTypeSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseTypeValue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create EDRD Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create EDRD Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Medication_request_with_New_Case</name>
        <label>Create Medication request with New Case</label>
        <locationX>50</locationX>
        <locationY>1970</locationY>
        <assignRecordIdToReference>MedicationRequestRec</assignRecordIdToReference>
        <connector>
            <targetReference>Sucees</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>StoreNewCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MedicationId</field>
            <value>
                <elementReference>Medication.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PatientId</field>
            <value>
                <elementReference>searchedPatientRecId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequesterId</field>
            <value>
                <elementReference>ProviderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>StoreNewCase.Type</elementReference>
            </value>
        </inputAssignments>
        <object>MedicationRequest</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Medication_Request_with_New_Renewal_Case</name>
        <label>Create Medication Request with New Renewal Case</label>
        <locationX>314</locationX>
        <locationY>1970</locationY>
        <assignRecordIdToReference>MedicationRequestRec</assignRecordIdToReference>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>StoreRenewalCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MedicationId</field>
            <value>
                <elementReference>Medication.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PatientId</field>
            <value>
                <elementReference>searchedPatientRecId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequesterId</field>
            <value>
                <elementReference>ProviderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>StoreRenewalCase.Type</elementReference>
            </value>
        </inputAssignments>
        <object>MedicationRequest</object>
    </recordCreates>
    <recordCreates>
        <name>New_case_Creation_for_Rec_type_New</name>
        <label>New case Creation for Rec type New</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Get_Newly_created_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>patientContactRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>ProviderContactRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Received - Awaiting Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>New</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_renewal_case_creation_for_RecType_Renew</name>
        <label>New renewal case creation for RecType Renew</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Get_newly_created_Renewal_Rec</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>patientContactRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>ProviderContactRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Received - Awaiting Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record_Type</name>
        <label>Get Case Record Type</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_case_Creation_for_Rec_type_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EDRD</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CaseRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Type_for_renewal</name>
        <label>Get Case Record Type for renewal</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_renewal_case_creation_for_RecType_Renew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EDRD</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CaseRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Medication</name>
        <label>Get Medication</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Medication_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Medication.recordId</elementReference>
            </value>
        </filters>
        <object>Medication</object>
        <outputReference>VarMedicationInformationRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BrandNameAlternative</queriedFields>
        <queriedFields>Initial_Recommended_Dosage__c</queriedFields>
        <queriedFields>Renewal_Recommended_Dosage__c</queriedFields>
        <queriedFields>Max_Initiation_Funding_Duration__c</queriedFields>
        <queriedFields>Max_Renewal_Funding_Duration__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Newly_created_Case</name>
        <label>Get Newly created Case</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Upload_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_case_Creation_for_Rec_type_New</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>StoreNewCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Provider__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Origin</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_newly_created_Renewal_Rec</name>
        <label>Get newly created Renewal Rec</label>
        <locationX>314</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UploadDocument</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_renewal_case_creation_for_RecType_Renew</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>StoreRenewalCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Provider__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Origin</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Contact_rec</name>
        <label>Get Patient Contact</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Provider_Contact_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>searchedPatientRecId.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>patientContactRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Patient_Identifier__c</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Records</name>
        <label>Get Patient Records</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_Provider_for_New_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newCasePatientsearch.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>searchedPatientRecId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_RecordTypeAccount</name>
        <label>Get Patient RecordType</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Contact_Rec</name>
        <label>Get Provider Contact</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_case_option</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProviderRecord.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ProviderContactRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Provider_Type__c</queriedFields>
        <queriedFields>Provider_Identifier__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Record_for_New_case</name>
        <label>Get Provider Record for New case</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Medication_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>searchNewCaseProvider.ProviderAccId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ProviderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Provider_Type__pc</queriedFields>
        <queriedFields>Provider_Identifier__pc</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getProviderRecordType</name>
        <label>Get Provider Record Type</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient_RecordTypeAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>getProviderRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Medication_Request</name>
        <label>Medication details</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Patient_Contact_rec</targetReference>
        </connector>
        <fields>
            <name>MedicationInformation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Medication Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShowMedicationInformation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Medication Name : &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!VarMedicationInformationRec.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Brand : &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!VarMedicationInformationRec.BrandNameAlternative}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Initial Recommended Dosage: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!VarMedicationInformationRec.Initial_Recommended_Dosage__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Renewal Recommended Dosage: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!VarMedicationInformationRec.Renewal_Recommended_Dosage__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Max Initiation Funding Duration: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!VarMedicationInformationRec.Max_Initiation_Funding_Duration__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Max Renewal Funding Duration: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!VarMedicationInformationRec.Max_Renewal_Funding_Duration__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Medication_Request</name>
        <label>Medication Request</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Medication</targetReference>
        </connector>
        <fields>
            <name>Search_Medication</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Search Medication&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Medication</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>MedicationId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Medication</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>MedicationRequest</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Medication_Name</name>
            <dataType>String</dataType>
            <fieldText>Medication Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Medication.recordName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>New Case</description>
        <name>New_Cases</name>
        <label>New Case</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Search_Patient</targetReference>
        </connector>
        <fields>
            <name>Case_Type</name>
            <choiceReferences>New</choiceReferences>
            <choiceReferences>Renewal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Origin</name>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>Fax</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Fax</defaultSelectedChoiceReference>
            <fieldText>Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Patient</name>
        <label>Search Patient</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Patient_Records</targetReference>
        </connector>
        <fields>
            <name>Search_Patient_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Select a Patient&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>newCasePatientsearch</name>
            <extensionName>c:lookupSearchComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Provider_for_New_Case</name>
        <label>Search Provider for New Case</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Provider_Record_for_New_case</targetReference>
        </connector>
        <fields>
            <name>Search_Provider_New</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Search for Provider&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>searchNewCaseProvider</name>
            <extensionName>c:providerAccountComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>314</locationX>
        <locationY>2078</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Success_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_SuccessfulMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(29, 31, 29);&quot;&gt;EDRD Case #&lt;/strong&gt;&lt;a href=&quot;/{!StoreNewCase.Id} &quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(29, 31, 29);&quot;&gt;&lt;strong&gt;{!StoreRenewalCase.CaseNumber}&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;color: rgb(29, 31, 29);&quot;&gt; has been created successfully.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Success_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Success_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sucees</name>
        <label>Sucees</label>
        <locationX>50</locationX>
        <locationY>2078</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Sucees_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sucees_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Sucees_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sucees_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SuccessfulMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(42, 44, 41);&quot;&gt;EDRD Case #&lt;/strong&gt;&lt;a href=&quot;/{!StoreNewCase.Id} &quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!StoreNewCase.CaseNumber}&lt;/strong&gt;&lt;/a&gt;&lt;a href=&quot;/{!StoreNewCase.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt; &lt;/strong&gt;&lt;/a&gt;&lt;strong&gt;ha&lt;/strong&gt;&lt;strong style=&quot;color: rgb(42, 44, 41);&quot;&gt;s been created successfully. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sucees_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sucees_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Sucees_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sucees_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Document</name>
        <label>Upload Document</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Medication_request_with_New_Case</targetReference>
        </connector>
        <fields>
            <name>Upload2</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Upload Supporting Documents&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>New_case_Creation_for_Rec_type_New</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UploadDocument</name>
        <label>Upload Document</label>
        <locationX>314</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Medication_Request_with_New_Renewal_Case</targetReference>
        </connector>
        <fields>
            <name>Upload</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Upload Supporting Documents&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>New_renewal_case_creation_for_RecType_Renew</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getProviderRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getAllRecordTypeItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>getProviderRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getRenewalAccDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>MedicationAssignment</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MedicationRequestRec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientContactRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ProviderContactRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ProviderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>searchedPatientRecId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>storedNewCaseSearchedProviderRec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storedNewSearchedPatientRec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storedRenewalPatientRec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StoreNewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>storeNewCreatedProviderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeNewPatientRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreRenewalCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>testrecVAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccountRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varMedicationInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarMedicationInformationRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Medication</objectType>
    </variables>
    <variables>
        <name>varRenewaAccName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
