force-app/main/default/flows/Defer_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Case_to_Related_Cases_Collection</name>
        <label>Add Case to Related Cases Collection</label>
        <locationX>1029</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>RelatedCaseRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RelatedCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Related_CRC_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CRC_record_to_CRC_Records_to_Be_Updated</name>
        <label>Add CRC record to CRC Records to Be Updated</label>
        <locationX>886</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>CRC_Records_To_Be_Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CRC_Record_to_Be_Updated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Related_CRC_to_Get_CRC_to_Be_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Selected_SA_In_SA_Lookup_of_CRC_Linking_Selected_Case_And_Current_SA</name>
        <label>Assigning Selected SA In SA Lookup of CRC Linking Selected Case And Current SA</label>
        <locationX>886</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>CRC_Record_to_Be_Updated.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CRC_Record_Linking_User_Selected_Case_SA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CRC_Record_to_Be_Updated.Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Review_Meeting.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CRC_record_to_CRC_Records_to_Be_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Case_Related_to_Current_CRC_Record</name>
        <label>Get Case Related to Current CRC Record</label>
        <locationX>1029</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>RelatedCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Type_of_Current_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedCase.EDRD_RPH_Simplified_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RPh_Simplified_Review_of_Current_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedCase.EDRD_Ref_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EDRD_Ref_of_Current_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedCase.CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Number_of_Current_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedCase.EDRD_MOHFunding_Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Expiry_of_Current_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedCase.Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Provider_on_Current_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedCase.EDRD_ProviderName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Related_CRC_Records.Related_Case__r.EDRD_ProviderName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_to_Related_Cases_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_CRC_Record_Linking_Selected_Case_And_Current_SA</name>
        <label>Get CRC Record Linking Selected Case And Current SA</label>
        <locationX>886</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>CRC_Record_Linking_User_Selected_Case_SA.Related_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Selected_Cases_To_Get_CRC_With_Current_SA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CRC_Record_Linking_User_Selected_Case_SA.Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Related_CRC_to_Get_CRC_to_Be_Updated.Service_Appointment__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CRC_Record_Linking_User_Selected_Case_SA.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Related_CRC_to_Get_CRC_to_Be_Updated.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_Selected_SA_In_SA_Lookup_of_CRC_Linking_Selected_Case_And_Current_SA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_CRC_Records_to_Be_Updated_Collection_Is_Not_Null</name>
        <label>Check if CRC Records to Be Updated Collection Is Not Null</label>
        <locationX>182</locationX>
        <locationY>2306</locationY>
        <defaultConnectorLabel>Is Null</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CRC_Records_To_Be_Updated</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CRC_Records</targetReference>
            </connector>
            <label>Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Current_CRC_Is_Linking_Selected_Case_And_Current_SA</name>
        <label>Check If Current CRC Is Linking Selected Case And Current SA</label>
        <locationX>1106</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Related_CRC_to_Get_CRC_to_Be_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CRC_links_selected_case_and_current_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_Related_CRC_to_Get_CRC_to_Be_Updated.Related_Case__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Over_Selected_Cases_To_Get_CRC_With_Current_SA.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_Related_CRC_to_Get_CRC_to_Be_Updated.Service_Appointment__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Current_Service_Appointment_Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CRC_Record_Linking_Selected_Case_And_Current_SA</targetReference>
            </connector>
            <label>CRC links selected case and current SA</label>
        </rules>
        <rules>
            <name>CRC_does_not_links_selected_case_and_current_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_Related_CRC_to_Get_CRC_to_Be_Updated.Related_Case__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Over_Selected_Cases_To_Get_CRC_With_Current_SA.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_Related_CRC_to_Get_CRC_to_Be_Updated</targetReference>
            </connector>
            <label>CRC does not links selected case and current SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_SA_Have_Related_Cases</name>
        <label>Does SA Have Related Cases</label>
        <locationX>941</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_Cases_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedCaseRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Related_Cases</targetReference>
            </connector>
            <label>Related Cases Exists</label>
        </rules>
        <rules>
            <name>Related_Cases_Do_Not_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedCaseRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Related_Cases</targetReference>
            </connector>
            <label>Related Cases Do Not Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_With_Same_Committee_Exists</name>
        <label>SAs With Same Committee Exists?</label>
        <locationX>512</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Planned_Service_Appointments_With_Same_Committee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Review_Meetings</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Planned_Service_Appointments_With_Same_Committee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Meetings_Found</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Case_Number_of_Current_Case</name>
        <dataType>String</dataType>
        <expression>{!Iterate_Over_Related_CRC_Records.Related_Case__r.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>Case_Type_of_Current_Case</name>
        <dataType>String</dataType>
        <expression>TEXT({!Iterate_Over_Related_CRC_Records.Related_Case__r.Type})</expression>
    </formulas>
    <formulas>
        <name>EDRD_Ref_of_Current_Case</name>
        <dataType>String</dataType>
        <expression>{!Iterate_Over_Related_CRC_Records.Related_Case__r.EDRD_Ref_No__c}</expression>
    </formulas>
    <formulas>
        <name>Funding_Expiry_of_Current_Case</name>
        <dataType>Date</dataType>
        <expression>{!Iterate_Over_Related_CRC_Records.Related_Case__r.EDRD_MOHFunding_Expiry_Date__c}</expression>
    </formulas>
    <formulas>
        <name>Parent_Account_Id_of_Current_Service_Appointment</name>
        <dataType>String</dataType>
        <expression>{!Current_Service_Appointment_Record.Account.Id}</expression>
    </formulas>
    <formulas>
        <name>Parent_Account_Name</name>
        <dataType>String</dataType>
        <expression>{!Get_Parent_Account_of_Current_Service_Appointment.Name}</expression>
    </formulas>
    <formulas>
        <name>Provider_on_Current_Case</name>
        <dataType>String</dataType>
        <expression>{!Iterate_Over_Related_CRC_Records.Related_Case__r.Provider__c}</expression>
    </formulas>
    <formulas>
        <name>RelatedCaseId</name>
        <dataType>String</dataType>
        <expression>{!Iterate_Over_Related_CRC_Records.Related_Case__r.Id}</expression>
    </formulas>
    <formulas>
        <name>RPh_Simplified_Review_of_Current_Case</name>
        <dataType>String</dataType>
        <expression>TEXT({!Iterate_Over_Related_CRC_Records.Related_Case__r.EDRD_RPH_Simplified_Review__c})</expression>
    </formulas>
    <interviewLabel>Defer Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Defer Cases</label>
    <loops>
        <name>Iterate_Over_Related_CRC_Records</name>
        <label>Iterate Over Related CRC Records</label>
        <locationX>941</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Related_Committee_Review_Case_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Case_Related_to_Current_CRC_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_SA_Have_Related_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Related_CRC_to_Get_CRC_to_Be_Updated</name>
        <label>Iterate Over Related CRC to Get CRC to Be Updated</label>
        <locationX>798</locationX>
        <locationY>1514</locationY>
        <collectionReference>Get_Related_Committee_Review_Case_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Current_CRC_Is_Linking_Selected_Case_And_Current_SA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Over_Selected_Cases_To_Get_CRC_With_Current_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Selected_Cases_To_Get_CRC_With_Current_SA</name>
        <label>Iterate Over Selected Cases To Get CRC With Current SA</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <collectionReference>Select_Cases.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Iterate_Over_Related_CRC_to_Get_CRC_to_Be_Updated</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_CRC_Records_to_Be_Updated_Collection_Is_Not_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Service_Appointment</name>
        <label>Get Current Service Appointment</label>
        <locationX>941</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Account_of_Current_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>Current_Service_Appointment_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>EarliestStartTime</queriedFields>
        <queriedFields>DueDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Account_of_Current_Service_Appointment</name>
        <label>Get Parent Account of Current Service Appointment</label>
        <locationX>941</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Committee_Review_Case_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent_Account_Id_of_Current_Service_Appointment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Planned_Service_Appointments_With_Same_Committee</name>
        <label>Get Planned Service Appointments With Same Committee</label>
        <locationX>512</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_With_Same_Committee_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Account_of_Current_Service_Appointment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Current_Service_Appointment_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Committee_Review_Case_Records</name>
        <label>Get Related Committee Review Case Records</label>
        <locationX>941</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Related_CRC_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Committee_Review_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CRC_Records</name>
        <label>Update CRC Records</label>
        <locationX>50</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Cases_Successfully_Deferred</targetReference>
        </connector>
        <inputReference>CRC_Records_To_Be_Updated</inputReference>
    </recordUpdates>
    <screens>
        <name>Cases_Successfully_Deferred</name>
        <label>Cases Successfully Deferred</label>
        <locationX>50</locationX>
        <locationY>2522</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;Selected case(s) are successfully deferred to {!Select_Review_Meeting.firstSelectedRow.EDRD_Name__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Related_Cases</name>
        <label>Display Related Cases</label>
        <locationX>512</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Get_Planned_Service_Appointments_With_Same_Committee</targetReference>
        </connector>
        <fields>
            <name>Select_Cases</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Case</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Case(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>RelatedCaseRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;EDRD_Ref_No__c&quot;,&quot;guid&quot;:&quot;column-5b7d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;EDRD Ref No&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CaseNumber&quot;,&quot;guid&quot;:&quot;column-29d5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Case Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type&quot;,&quot;guid&quot;:&quot;column-3474&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Case Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;EDRD_RPH_Simplified_Review__c&quot;,&quot;guid&quot;:&quot;column-bb4a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;RPh Simplified Review&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;EDRD_MOHFunding_Expiry_Date__c&quot;,&quot;guid&quot;:&quot;column-4d00&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Funding Expiry Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;EDRD_ProviderName__c&quot;,&quot;guid&quot;:&quot;column-5662&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Provider&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;EDRD ProviderName&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Review_Meetings</name>
        <label>Display Review Meetings</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Iterate_Over_Selected_Cases_To_Get_CRC_With_Current_SA</targetReference>
        </connector>
        <fields>
            <name>Select_Review_Meeting</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceAppointment</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Review Meeting</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Planned_Service_Appointments_With_Same_Committee</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;EDRD_Name__c&quot;,&quot;guid&quot;:&quot;column-39e1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-f073&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;EarliestStartTime&quot;,&quot;guid&quot;:&quot;column-d2e3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Earliest Start Permitted&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;DueDate&quot;,&quot;guid&quot;:&quot;column-4b10&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Due Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;No_of_Cases_to_be_Presented__c&quot;,&quot;guid&quot;:&quot;column-5fa4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;No of Cases to be Presented&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;No_of_Simplified_Cases__c&quot;,&quot;guid&quot;:&quot;column-0cdc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;No of Simplified Cases&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Meetings_Found</name>
        <label>No Meetings Found</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;No planned meeting(s) found for {!Parent_Account_Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Related_Cases</name>
        <label>No Related Cases</label>
        <locationX>1106</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Cases_Found_Message</name>
            <fieldText>&lt;p&gt;No cases available for deferral as no cases are added to this meeting.   &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>815</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CRC_Record_Linking_User_Selected_Case_SA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Committee_Review_Case__c</objectType>
    </variables>
    <variables>
        <name>CRC_Record_to_Be_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Committee_Review_Case__c</objectType>
    </variables>
    <variables>
        <name>CRC_Records_To_Be_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Committee_Review_Case__c</objectType>
    </variables>
    <variables>
        <name>Current_Service_Appointment_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>RelatedCaseRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
