force-app/main/default/flows/External_Meeting_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Append_to_Update_List</name>
        <label>Append to Update List</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>UpdateCaseList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_On_Open_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_On_Open_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_External_Committee_ID</name>
        <label>Assign New External Committee ID</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Iterate_On_Open_Cases.External_Committee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clone_External_Meeting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Append_to_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_ID_Value</name>
        <label>Clear ID Value</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>NewExternalCommitte.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&apos;&apos;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewExternalCommitte.isCloned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_External_Meeting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_External_Committee_Record</name>
        <label>Copy External Committee  Record</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>NewExternalCommitte</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_External_Committee_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_ID_Value</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Verify_the_User_Selection</name>
        <label>Verify the User Selection</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Redirect_To_New_Meeting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Procced_to_move_cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>proceedclone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Open_Cases</targetReference>
            </connector>
            <label>Procced to move cases</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>External Meeting Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ESA_ExternalCommitee_Clone</label>
    <loops>
        <name>Iterate_On_Open_Cases</name>
        <label>Iterate On Open Cases</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <collectionReference>get_Open_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_External_Committee_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Open_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Clone_External_Meeting</name>
        <label>Clone External Meeting</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Verify_the_User_Selection</targetReference>
        </connector>
        <inputReference>NewExternalCommitte</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_External_Committee_Record</name>
        <label>get External Committee Record</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_External_Committee_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>External_Committee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Open_Cases</name>
        <label>get Open Cases</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_On_Open_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Committee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Open_Cases</name>
        <label>Update Open Cases</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Redirect_To_New_Meeting</targetReference>
        </connector>
        <inputReference>UpdateCaseList</inputReference>
    </recordUpdates>
    <screens>
        <name>Clone</name>
        <label>Clone</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_External_Committee_Record</targetReference>
        </connector>
        <fields>
            <name>proceedclone</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bring forward open cases from this meeting to the new meeting?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redirect_To_New_Meeting</name>
        <label>Redirect To New Meeting</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Redirect_Cloned_Meeting</name>
            <extensionName>c:eSA_LC_RedirectToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>External_Committee__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>NewExternalCommitte.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clone</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewExternalCommitte</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>External_Committee__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateCaseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
