force-app/main/default/flows/Get_HIBC_Drug_ID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Acetaminophen_as_Final_Drug_Code</name>
        <label>Assign Acetaminophen as Final Drug Code</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Final_Drug_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Acetaminophen_500mg_Drug_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Drug_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_Drug_Id</name>
        <label>Assign Final Drug Id</label>
        <locationX>446</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>Output_Drug_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Drug_Record.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Smoking_Cessation_as_Final_Drug_Code</name>
        <label>Assign Smoking Cessation as Final Drug Code</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Final_Drug_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Smoking_cessation_drug_code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Drug_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vancomycin_as_Final_Drug_Code</name>
        <label>Assign Vancomycin as Final Drug Code</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Final_Drug_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vancomycin_Drug_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Drug_Record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Acetaminophen_500mg_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>acetaminophen</stringValue>
        </value>
    </constants>
    <constants>
        <name>Acetaminophen_500mg_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>acetaminophen</stringValue>
        </value>
    </constants>
    <constants>
        <name>Smoking_cessation_drug_code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NRT</stringValue>
        </value>
    </constants>
    <constants>
        <name>Smoking_cessation_drug_name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NRT</stringValue>
        </value>
    </constants>
    <constants>
        <name>Vancomycin_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>vancomycin</stringValue>
        </value>
    </constants>
    <constants>
        <name>Vancomycin_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>vancomycin</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Name_of_Drug</name>
        <label>Name of Drug</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Drug_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Vancomycin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Drug_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Vancomycin_Drug_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Vancomycin_as_Final_Drug_Code</targetReference>
            </connector>
            <label>Vancomycin</label>
        </rules>
        <rules>
            <name>Acetaminophen_500mg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Drug_Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Acetaminophen_500mg_Drug_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Acetaminophen_as_Final_Drug_Code</targetReference>
            </connector>
            <label>Acetaminophen 500mg</label>
        </rules>
        <rules>
            <name>Smoking_cessation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Drug_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Smoking_cessation_drug_name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Smoking_Cessation_as_Final_Drug_Code</targetReference>
            </connector>
            <label>Smoking cessation</label>
        </rules>
    </decisions>
    <interviewLabel>Get HIBC Drug ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get HIBC Drug ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Drug_Record</name>
        <label>Get Drug Record</label>
        <locationX>446</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Final_Drug_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Drug_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_Drug_Code</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Drug__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Name_of_Drug</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Final_Drug_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Drug_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Output_Drug_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
