force-app/main/default/flows/Get_Drug_Id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Bupropion_as_Final_Drug_Code</name>
        <label>Assign Bupropion as Final Drug Code</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Final_Drug_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bupropion_Drug_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Drug_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_Drug_Id</name>
        <label>Assign Final Drug Id</label>
        <locationX>578</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>Output_Drug_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Drug_Record.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Gliclazide_as_Final_Drug_Code</name>
        <label>Assign Gliclazide as Final Drug Code</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Final_Drug_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gliclazide_Drug_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Drug_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pantoprazole_Magnesium_as_Final_Drug_Code</name>
        <label>Assign Pantoprazole Magnesium as Final Drug Code</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Final_Drug_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pantoprazole_Magnesium_Drug_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Drug_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rabeprazole_as_Final_Drug_Code</name>
        <label>Assign Rabeprazole as Final Drug Code</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Final_Drug_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rabeprazole_Drug_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Drug_Record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Bupropion_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>bupropion_[Wellbutrin_Type]</stringValue>
        </value>
    </constants>
    <constants>
        <name>Bupropion_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Bupropion</stringValue>
        </value>
    </constants>
    <constants>
        <name>FAKE</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>Gliclazide_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>gliclazide_30mg_&amp;_60mg_SR,_80mg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Gliclazide_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Gliclazide</stringValue>
        </value>
    </constants>
    <constants>
        <name>Pantoprazole_Magnesium_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>pantoprazole_Mg_40mg_NB4</stringValue>
        </value>
    </constants>
    <constants>
        <name>Pantoprazole_Magnesium_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pantoprazole Magnesium</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rabeprazole_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>rabeprazole_10,_20_mg_NB4</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rabeprazole_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rabeprazole</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Name_of_Drug</name>
        <label>Name of Drug</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Drug_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Rabeprazole</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Drug_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Rabeprazole_Drug_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rabeprazole_as_Final_Drug_Code</targetReference>
            </connector>
            <label>Rabeprazole</label>
        </rules>
        <rules>
            <name>Pantoprazole_Magnesium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Drug_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pantoprazole_Magnesium_Drug_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pantoprazole_Magnesium_as_Final_Drug_Code</targetReference>
            </connector>
            <label>Pantoprazole Magnesium</label>
        </rules>
        <rules>
            <name>Bupropion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Drug_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Bupropion_Drug_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bupropion_as_Final_Drug_Code</targetReference>
            </connector>
            <label>Bupropion</label>
        </rules>
        <rules>
            <name>Gliclazide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Drug_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Gliclazide_Drug_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Gliclazide_as_Final_Drug_Code</targetReference>
            </connector>
            <label>Gliclazide</label>
        </rules>
    </decisions>
    <interviewLabel>Get Drug Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Drug Id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Drug_Record</name>
        <label>Get Drug Record</label>
        <locationX>578</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Final_Drug_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Drug_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_Drug_Code</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Drug__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Name_of_Drug</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Final_Drug_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Drug_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Output_Drug_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
