force-app/main/default/flows/HIBC_Case_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Patient_Validated_0</name>
        <label>Patient Validated</label>
        <locationX>3104</locationX>
        <locationY>3869</locationY>
        <actionName>Case.Patient_Validated</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Update_Drug_Id_on_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Patient_Validated__c</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Patient_Validated_Date__c</name>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Create_SA_Request</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Provider_Validated_0_0</name>
        <label>Provider_Validated</label>
        <locationX>3104</locationX>
        <locationY>3533</locationY>
        <actionName>Case.Provider_Validated</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Is_Patient_Deceased</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Provider_Validated__c</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Provider_Validated_Date__c</name>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Create_SA_Request</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Assign string value for AA logic</description>
        <name>Assign_String_Value_Assignment</name>
        <label>Assign String Value Assignment</label>
        <locationX>3016</locationX>
        <locationY>2813</locationY>
        <assignmentItems>
            <assignToReference>Drug_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HIBC_Drug_Diagnosis_Picklist.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_String_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HIBC_Drug_Diagnosis_Picklist.middleValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SA_Request_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLoopVariableActiveSARequest</name>
        <label>AssignLoopVariableActiveSARequest</label>
        <locationX>952</locationX>
        <locationY>6062</locationY>
        <assignmentItems>
            <assignToReference>ActiveSARequestInformation</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;tr&gt;&lt;td&gt;&lt;a href=&quot;/{!LoopActiveSARequests.Id}&quot;&gt;{!LoopActiveSARequests.CaseNumber}&lt;/a&gt;&lt;/td&gt;&lt;td&gt;{!LoopActiveSARequests.Status}&lt;/td&gt;&lt;td&gt;{!LoopActiveSARequests.Drug__r.Name}&lt;/td&gt;&lt;td&gt;{!LoopActiveSARequests.Termination_Date__c}&lt;/td&gt;&lt;td&gt;{!LoopActiveSARequests.CreatedDate}&lt;/td&gt;&lt;/tr&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountActiveSARequests</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopActiveSARequests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Drug_Assignment</name>
        <label>Drug Assignment</label>
        <locationX>913</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Drug_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Drug</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_the_Provider_Overriden</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Created_Patient_ID</name>
        <label>Store Created Patient ID</label>
        <locationX>880</locationX>
        <locationY>4358</locationY>
        <assignmentItems>
            <assignToReference>Final_Patient_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Patient_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_Patient_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Patient_ID.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckActiveSARequestsPatient</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submitter_is_Prescriber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Created_Patient_ID_2</name>
        <label>Store Created Patient ID 2</label>
        <locationX>616</locationX>
        <locationY>4718</locationY>
        <assignmentItems>
            <assignToReference>Final_Patient_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Patient_ID_2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submitter_is_Prescriber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Created_Provider_ID_0</name>
        <label>Store Created Provider ID</label>
        <locationX>880</locationX>
        <locationY>2990</locationY>
        <assignmentItems>
            <assignToReference>Final_Provider_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Provider_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_Provider_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Provider_ID.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckActiveSARequestsProvider</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Patient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Created_Provider_ID_2</name>
        <label>Store Created Provider ID 2</label>
        <locationX>616</locationX>
        <locationY>3350</locationY>
        <assignmentItems>
            <assignToReference>Final_Provider_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Provider_ID_2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Patient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Created_Submitter_ID</name>
        <label>Store Created Submitter ID</label>
        <locationX>583</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>Final_Submitter_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Submitter_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Drug_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Existing_Patient_ID</name>
        <label>Store Existing Patient ID</label>
        <locationX>352</locationX>
        <locationY>4358</locationY>
        <assignmentItems>
            <assignToReference>Final_Patient_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Patient_Dummy_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckActiveSARequestsProvider</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_Patient_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Patient_Dummy_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Patient_Record_With_ODR_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Existing_Provider_ID</name>
        <label>Store Existing Provider ID</label>
        <locationX>352</locationX>
        <locationY>2990</locationY>
        <assignmentItems>
            <assignToReference>Final_Provider_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Provider_Dummy_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckActiveSARequestsProvider</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_Provider_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Provider_Dummy_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Provider_Record_With_ODR_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Parent_ID</name>
        <label>Store Parent ID</label>
        <locationX>2417</locationX>
        <locationY>2189</locationY>
        <assignmentItems>
            <assignToReference>Parent_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetActiveSARequests_Record_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SA_Request_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Patient_ID</name>
        <label>Store Patient ID</label>
        <locationX>1144</locationX>
        <locationY>3878</locationY>
        <assignmentItems>
            <assignToReference>Final_Patient_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient_Record_0_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckActiveSARequestsPatient</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_Patient_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient_Record_0_0.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_Record_With_ODR_Info_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Provider_ID</name>
        <label>Store Provider ID</label>
        <locationX>1144</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>Final_Provider_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Provider_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckActiveSARequestsProvider</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_Provider_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Provider_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Provider_Record_With_ODR_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Submitter_Id</name>
        <label>Store Submitter Id</label>
        <locationX>847</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>Final_Submitter_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Submitter_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Submitter_Record_With_ODR_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Submitter_is_Prescriber_Assignment</name>
        <label>Submitter is Prescriber Assignment</label>
        <locationX>781</locationX>
        <locationY>5246</locationY>
        <assignmentItems>
            <assignToReference>Final_Submitter_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Provider_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Active_SA_Requests_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ZeroAssignSARequestsCount</name>
        <label>ZeroAssignSARequestsCount</label>
        <locationX>50</locationX>
        <locationY>5942</locationY>
        <assignmentItems>
            <assignToReference>CountActiveSARequests</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SA_Request_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>Acetaminophen_500mg_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>acetaminophen</stringValue>
        </value>
    </constants>
    <constants>
        <name>Acetaminophen_500mg_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>acetaminophen</stringValue>
        </value>
    </constants>
    <constants>
        <name>Bupropion_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>bupropiondepression</stringValue>
        </value>
    </constants>
    <constants>
        <name>Bupropion_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>bupropion</stringValue>
        </value>
    </constants>
    <constants>
        <name>Candesartan_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ARBcand</stringValue>
        </value>
    </constants>
    <constants>
        <name>Candesartan_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>candesartan</stringValue>
        </value>
    </constants>
    <constants>
        <name>Gliclazide_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>glic</stringValue>
        </value>
    </constants>
    <constants>
        <name>Gliclazide_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>gliclazide</stringValue>
        </value>
    </constants>
    <constants>
        <name>Losartan_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ARBlosa</stringValue>
        </value>
    </constants>
    <constants>
        <name>Losartan_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>losartan</stringValue>
        </value>
    </constants>
    <constants>
        <name>Pantoprazole_Magnesium_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1PPIpant</stringValue>
        </value>
    </constants>
    <constants>
        <name>Pantoprazole_Magnesium_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>pantoprazole magnesium</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rabeprazole_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1PPIrabe</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rabeprazole_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>rabeprazole</stringValue>
        </value>
    </constants>
    <constants>
        <name>Smoking_cessation_drug_code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NRT</stringValue>
        </value>
    </constants>
    <constants>
        <name>Smoking_cessation_drug_name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NRT</stringValue>
        </value>
    </constants>
    <constants>
        <name>Telmisartan_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ARBtelm</stringValue>
        </value>
    </constants>
    <constants>
        <name>Telmisartan_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>telmisartan</stringValue>
        </value>
    </constants>
    <constants>
        <name>Telmisartan_Twynsta_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>telmisartan + amlodipine combo NB4   NB4</stringValue>
        </value>
    </constants>
    <constants>
        <name>Telmisartan_Twynsta_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Telmisartan Twynsta</stringValue>
        </value>
    </constants>
    <constants>
        <name>Valsartan_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ARBvals</stringValue>
        </value>
    </constants>
    <constants>
        <name>Valsartan_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>valsartan</stringValue>
        </value>
    </constants>
    <constants>
        <name>Vancomycin_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>vancomycin</stringValue>
        </value>
    </constants>
    <constants>
        <name>Vancomycin_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Vancomycin</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Case_Approval_Status</name>
        <label>Case Approval Status</label>
        <locationX>3016</locationX>
        <locationY>4997</locationY>
        <defaultConnector>
            <targetReference>Status_update_based_on_request_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Approved</defaultConnectorLabel>
        <rules>
            <name>Override_Not_Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PatientOverrideReason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Provider_Override_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_Not_Approved</targetReference>
            </connector>
            <label>Override Not Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_update_based_on_type</name>
        <label>Case update based on type</label>
        <locationX>2725</locationX>
        <locationY>1829</locationY>
        <defaultConnector>
            <targetReference>Create_SA_Request_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_request_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate Submission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActiveSARequests_0</targetReference>
            </connector>
            <label>Duplicate</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_request_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SA_Request_Screen</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
        <rules>
            <name>Extension</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_request_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extension</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SA_Request_Screen</targetReference>
            </connector>
            <label>Extension</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Active_SA_Requests_Decision</name>
        <label>Check Active SA Requests Decision</label>
        <locationX>913</locationX>
        <locationY>5462</locationY>
        <defaultConnector>
            <targetReference>Create_SA_Request_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Check Active SA Requests</defaultConnectorLabel>
        <rules>
            <name>Check_Active_SA_Requests</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckActiveSARequestsPatient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckActiveSARequestsProvider</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_HIBC_Drug_ID</targetReference>
            </connector>
            <label>Check Active SA Requests</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContinueSACreationDecision</name>
        <label>ContinueSACreationDecision</label>
        <locationX>2966</locationX>
        <locationY>1589</locationY>
        <defaultConnectorLabel>Stop SA Request Creation</defaultConnectorLabel>
        <rules>
            <name>Continue_SA_Request_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Continue_SA_Request_Creation_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_Request_Type</targetReference>
            </connector>
            <label>Continue SA Request Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>CountSARequestsDecision</name>
        <label>CountSARequestsDecision</label>
        <locationX>457</locationX>
        <locationY>5822</locationY>
        <defaultConnector>
            <targetReference>LoopActiveSARequests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active Cases</defaultConnectorLabel>
        <rules>
            <name>No_Active_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetActiveSARequests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ZeroAssignSARequestsCount</targetReference>
            </connector>
            <label>No Active Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Patient</name>
        <label>Create Patient</label>
        <locationX>913</locationX>
        <locationY>3758</locationY>
        <defaultConnector>
            <targetReference>Store_Patient_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Patient Record</defaultConnectorLabel>
        <rules>
            <name>Create_Patient_Record</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patient_Record_0_0.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Patient_Negative_Outcome</targetReference>
            </connector>
            <label>Create Patient Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Provider_0</name>
        <label>Create Provider</label>
        <locationX>913</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Store_Provider_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Provider Record</defaultConnectorLabel>
        <rules>
            <name>Create_Provider_Record_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Provider_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_the_Provider_Overriden</targetReference>
            </connector>
            <label>Create Provider Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Submitter_Decision</name>
        <label>Create_Submitter_Decision</label>
        <locationX>715</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Store_Submitter_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Submitter Record</defaultConnectorLabel>
        <rules>
            <name>Create_Submitter_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Submitter_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Submitter_Record_Type_Id</targetReference>
            </connector>
            <label>Create Submitter Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Patient_Dummy_Exist</name>
        <label>Does the Patient Dummy Exist</label>
        <locationX>484</locationX>
        <locationY>4118</locationY>
        <defaultConnector>
            <targetReference>Create_Patient_Record_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dummy_Patient_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Patient_Dummy_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dummy_Patient_Account_Exists_in_SF</targetReference>
            </connector>
            <label>Dummy Patient Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Provider_Dummy_Exist</name>
        <label>Does the Provider Dummy Exist</label>
        <locationX>484</locationX>
        <locationY>2750</locationY>
        <defaultConnector>
            <targetReference>Create_Provider_Record_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dummy_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Provider_Dummy_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dummy_Provider_Account_Exists</targetReference>
            </connector>
            <label>Dummy Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Patient_Deceased</name>
        <label>Is Patient Deceased</label>
        <locationX>3016</locationX>
        <locationY>3749</locationY>
        <defaultConnector>
            <targetReference>Patient_Validated_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alive</defaultConnectorLabel>
        <rules>
            <name>Negative_Patient_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientOverrideReason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Drug_Id_on_Case</targetReference>
            </connector>
            <label>Negative Patient Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Provider_Overriden</name>
        <label>Is Provider Overriden</label>
        <locationX>3016</locationX>
        <locationY>3413</locationY>
        <defaultConnector>
            <targetReference>Provider_Validated_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Normal Outcome</defaultConnectorLabel>
        <rules>
            <name>Negative_Provider_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Provider_Override_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Patient_Deceased</targetReference>
            </connector>
            <label>Negative Provider Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Patient_Overriden</name>
        <label>Is the Patient Overriden</label>
        <locationX>913</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>Get_Patient_Record_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patient_is_Overriden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientOverrideReason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Provider_0</targetReference>
            </connector>
            <label>Patient is Overriden</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Provider_Overriden</name>
        <label>Is the Provider Overriden</label>
        <locationX>913</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>Get_Provider_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provider_is_Overriden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Provider_Override_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_Patient_Overriden</targetReference>
            </connector>
            <label>Provider is Overriden</label>
        </rules>
    </decisions>
    <decisions>
        <name>Patient_Negative_Outcome</name>
        <label>Patient Negative Outcome</label>
        <locationX>682</locationX>
        <locationY>3878</locationY>
        <defaultConnector>
            <targetReference>Get_Patient_Record_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alive</defaultConnectorLabel>
        <rules>
            <name>Negative_Patient_Outcome_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientOverrideReason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Patient_Dummy_Account</targetReference>
            </connector>
            <label>Negative Patient Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_Detail_Creation</name>
        <label>Request Detail Creation</label>
        <locationX>3016</locationX>
        <locationY>4661</locationY>
        <defaultConnector>
            <targetReference>Case_Approval_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Drug</defaultConnectorLabel>
        <rules>
            <name>Vancomycin_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HIBC_Drug_Diagnosis_Picklist.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Vancomycin_Drug_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Vancomycin</targetReference>
            </connector>
            <label>Vancomycin Creation</label>
        </rules>
        <rules>
            <name>Acetaminophen_500mg_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HIBC_Drug_Diagnosis_Picklist.topValue</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Acetaminophen_500mg_Drug_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Acetaminophen_500mg</targetReference>
            </connector>
            <label>Acetaminophen 500mg Creation</label>
        </rules>
        <rules>
            <name>Smoking_cessation_creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HIBC_Drug_Diagnosis_Picklist.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Smoking_cessation_drug_name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_smoking_cessation</targetReference>
            </connector>
            <label>Smoking cessation creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_update_based_on_request_type</name>
        <label>Status update based on request type</label>
        <locationX>3016</locationX>
        <locationY>5333</locationY>
        <defaultConnector>
            <targetReference>Thank_You_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_request_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate_Submission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_Currently_Approved</targetReference>
            </connector>
            <label>Duplicate Submission</label>
        </rules>
        <rules>
            <name>Renewal_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_request_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thank_You_Screen</targetReference>
            </connector>
            <label>Renewal Submission</label>
        </rules>
        <rules>
            <name>Extension_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_request_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extension</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thank_You_Screen</targetReference>
            </connector>
            <label>Extension Submission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submitter_is_Prescriber</name>
        <label>Submitter is Prescriber</label>
        <locationX>913</locationX>
        <locationY>5126</locationY>
        <defaultConnector>
            <targetReference>Check_Active_SA_Requests_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Submitter is not Prescriber</defaultConnectorLabel>
        <rules>
            <name>Yes_Submitter_is_Prescriber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Final_Submitter_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitter_is_Prescriber_Assignment</targetReference>
            </connector>
            <label>Yes - Submitter is Prescriber</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Drug_Id_on_Case</name>
        <label>Update Drug Id on Case</label>
        <locationX>3016</locationX>
        <locationY>4085</locationY>
        <defaultConnector>
            <targetReference>Thank_You_Screen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Drug</defaultConnectorLabel>
        <rules>
            <name>Vancomycin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HIBC_Drug_Diagnosis_Picklist.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Vancomycin_Drug_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vancomycin_Drug_ID</targetReference>
            </connector>
            <label>Vancomycin</label>
        </rules>
        <rules>
            <name>Acetaminophen_500mg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HIBC_Drug_Diagnosis_Picklist.topValue</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Acetaminophen_500mg_Drug_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Acetaminophen_500mg_Drug_ID</targetReference>
            </connector>
            <label>Acetaminophen 500mg</label>
        </rules>
        <rules>
            <name>Smoking_cessation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HIBC_Drug_Diagnosis_Picklist.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Smoking_cessation_drug_name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Smoking_Cessation_Drug_ID</targetReference>
            </connector>
            <label>Smoking cessation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_the_Provider_Overriden</name>
        <label>Was the Provider Overriden</label>
        <locationX>682</locationX>
        <locationY>2510</locationY>
        <defaultConnector>
            <targetReference>Get_Provider_Record_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provider_Overriden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Provider_Override_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Provider_Dummy_Account</targetReference>
            </connector>
            <label>Provider Overriden</label>
        </rules>
    </decisions>
    <decisions>
        <name>X3rd_Party_Submission_Decision</name>
        <label>3rd Party Submission Decision</label>
        <locationX>913</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Drug_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - 3rd Party Submission</defaultConnectorLabel>
        <rules>
            <name>Yes_3rd_Party_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ODRSubmitter</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Submitter_Record</targetReference>
            </connector>
            <label>Yes - 3rd Party Submission</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CaseOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Diagnosis_Manual_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Diagnosis_Manual__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Drug_Manual_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Drug_Manual__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HIBC_Diagnosis_Manual_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Diagnosis_HIBC_Manual__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HIBC_Drug_Manual_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Drug_HIBC_Manual__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Patient_Override_Reason_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Patient_Override_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Provider_Override_Reason_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Prescriber_Override_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Provider_Type_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Provider_Type__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Provider_Type_Picklist_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Provider_Type__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Request_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Termination_Date_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>HIBC Case Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HIBC Case Creation</label>
    <loops>
        <name>LoopActiveSARequests</name>
        <label>LoopActiveSARequests</label>
        <locationX>864</locationX>
        <locationY>5942</locationY>
        <collectionReference>GetActiveSARequests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignLoopVariableActiveSARequest</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Active_SA_Requests_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Patient_Record</name>
        <label>Create New Patient Record</label>
        <locationX>880</locationX>
        <locationY>4118</locationY>
        <connector>
            <targetReference>Get_Final_Patient_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ODRPatient.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ODRPatient.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Identifier__pc</field>
            <value>
                <elementReference>ODRPatient.Patient_Identifier__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>ODRPatient.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Patient_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Patient_Record_2</name>
        <label>Create New Patient Record 2</label>
        <locationX>616</locationX>
        <locationY>4478</locationY>
        <connector>
            <targetReference>Get_Final_Patient_ID_2</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Patient_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Patient_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Identifier__pc</field>
            <value>
                <elementReference>Patient_Identifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>Patient_Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Patient_Record_Type_ID_2.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Provider_Record</name>
        <label>Create New Provider Record</label>
        <locationX>880</locationX>
        <locationY>2750</locationY>
        <connector>
            <targetReference>Get_Final_Provider_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ODRPrescriber.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ODRPrescriber.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>ODRPrescriber.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Identifier__pc</field>
            <value>
                <elementReference>ODRPrescriber.Provider_Identifier__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Type__pc</field>
            <value>
                <elementReference>ODRPrescriber.Provider_Type__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Provider_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Provider_Record_2</name>
        <label>Create New Provider Record 2</label>
        <locationX>616</locationX>
        <locationY>3110</locationY>
        <connector>
            <targetReference>Get_Final_Provider_ID_2</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Provider_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Provider_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Identifier__pc</field>
            <value>
                <elementReference>Provider_Identifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Provider_Record_2.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Submitter_Record</name>
        <label>Create New Submitter Record</label>
        <locationX>583</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Get_Final_Submitter_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ODRSubmitter.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ODRSubmitter.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>ODRSubmitter.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Identifier__pc</field>
            <value>
                <elementReference>ODRSubmitter.Provider_Identifier__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Type__pc</field>
            <value>
                <elementReference>ODRSubmitter.Provider_Type__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Submitter_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SA_Request</name>
        <label>Create SA Request</label>
        <locationX>3016</locationX>
        <locationY>3053</locationY>
        <connector>
            <targetReference>Update_SA_Request_with_Contact_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Final_Patient_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diagnosis_HIBC_Manual__c</field>
            <value>
                <elementReference>HIBC_Drug_Diagnosis_Picklist.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drug_HIBC_Manual__c</field>
            <value>
                <elementReference>HIBC_Drug_Diagnosis_Picklist.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Diagnosis_Manual__c</field>
            <value>
                <elementReference>Other_Diagnosis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Parent_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Fax__c</field>
            <value>
                <elementReference>Provider_Fax.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>Final_Provider_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_SA_Request_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitter__c</field>
            <value>
                <elementReference>Final_Submitter_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Patient_Dummy_Account</name>
        <label>Get Existing Patient Dummy Account</label>
        <locationX>484</locationX>
        <locationY>3998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_Patient_Dummy_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Identifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ODRPatient.Patient_Identifier__pc</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Provider_Dummy_Account</name>
        <label>Get Existing Provider Dummy Account</label>
        <locationX>484</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_Provider_Dummy_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Provider_Identifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ODRPrescriber.Provider_Identifier__pc</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Patient_ID</name>
        <label>Get Final Patient ID</label>
        <locationX>880</locationX>
        <locationY>4238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Created_Patient_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Patient_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Patient_ID_2</name>
        <label>Get Final Patient ID 2</label>
        <locationX>616</locationX>
        <locationY>4598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Created_Patient_ID_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Patient_Record_2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Provider_ID</name>
        <label>Get Final Provider ID</label>
        <locationX>880</locationX>
        <locationY>2870</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Created_Provider_ID_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Provider_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Provider_ID_2</name>
        <label>Get Final Provider ID 2</label>
        <locationX>616</locationX>
        <locationY>3230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Created_Provider_ID_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Provider_Record_2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Submitter_ID</name>
        <label>Get Final Submitter ID</label>
        <locationX>583</locationX>
        <locationY>926</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Created_Submitter_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Submitter_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Record_0_0</name>
        <label>Get Patient Record</label>
        <locationX>1001</locationX>
        <locationY>2054</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient_Summary_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Identifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ODRPatient.Patient_Identifier__pc</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Record_Type_Id</name>
        <label>Get Patient Record Type Id</label>
        <locationX>880</locationX>
        <locationY>3998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Patient_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Record_Type_ID_2</name>
        <label>Get Patient Record Type ID 2</label>
        <locationX>616</locationX>
        <locationY>4358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Patient_Record_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Record</name>
        <label>Get Provider Record</label>
        <locationX>1001</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Provider_Records_Summary_Screen_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Provider_Identifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ODRPrescriber.Provider_Identifier__pc</elementReference>
            </value>
        </filters>
        <filters>
            <field>Provider_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ODRPrescriber.Provider_Type__pc</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Record_2</name>
        <label>Get Provider Record 2</label>
        <locationX>616</locationX>
        <locationY>2990</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Provider_Record_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Record_Type_Id</name>
        <label>Get Provider Record Type Id</label>
        <locationX>880</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Provider_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Request_Record_Type_Id</name>
        <label>Get SA Request Record Type Id</label>
        <locationX>3016</locationX>
        <locationY>2933</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_SA_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Special_Authority_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submitter_Record</name>
        <label>Get Submitter Record</label>
        <locationX>715</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Submitter_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Provider_Identifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ODRSubmitter.Provider_Identifier__pc</elementReference>
            </value>
        </filters>
        <filters>
            <field>Provider_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ODRSubmitter.Provider_Type__pc</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submitter_Record_Type_Id</name>
        <label>Get Submitter Record Type Id</label>
        <locationX>583</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Submitter_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActiveSARequests</name>
        <label>GetActiveSARequests</label>
        <locationX>457</locationX>
        <locationY>5702</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountSARequestsDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_Patient_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Drug__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_Drug_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Termination_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Termination_Date_Today</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CaseNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActiveSARequests_0</name>
        <label>GetActiveSARequests</label>
        <locationX>2417</locationX>
        <locationY>1949</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetActiveSARequests_Record_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_Patient_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Drug__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_Drug_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Termination_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Termination_Date_Today</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CaseNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActiveSARequests_Record_ID</name>
        <label>GetActiveSARequests Record ID</label>
        <locationX>2417</locationX>
        <locationY>2069</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Parent_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_Patient_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Drug__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_Drug_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Termination_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Termination_Date_Today</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Status_Currently_Approved</name>
        <label>Update Case Status Currently Approved</label>
        <locationX>2708</locationX>
        <locationY>5453</locationY>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SA_Request</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <stringValue>Duplicate_Submission</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Currently Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Status_Not_Approved</name>
        <label>Update Case Status Not Approved</label>
        <locationX>2884</locationX>
        <locationY>5117</locationY>
        <connector>
            <targetReference>Status_update_based_on_request_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SA_Request</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Patient_Override_Reason__c</field>
            <value>
                <elementReference>PatientOverrideReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prescriber_Override_Reason__c</field>
            <value>
                <elementReference>Provider_Override_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Patient_Record_With_ODR_Info</name>
        <label>Update Existing Patient Record With ODR Info</label>
        <locationX>352</locationX>
        <locationY>4478</locationY>
        <connector>
            <targetReference>Submitter_is_Prescriber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Patient_Dummy_Account.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Existing_Patient_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Existing_Patient_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Provider_Record_With_ODR_Info</name>
        <label>Update Existing Provider Record With ODR Info</label>
        <locationX>352</locationX>
        <locationY>3110</locationY>
        <connector>
            <targetReference>Create_Patient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Provider_Dummy_Account.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Existing_Provider_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Existing_Provider_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Record_With_ODR_Info_0</name>
        <label>Update Patient Record With ODR Info</label>
        <locationX>1144</locationX>
        <locationY>3998</locationY>
        <connector>
            <targetReference>Submitter_is_Prescriber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient_Record_0_0.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>ODRPatient.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ODRPatient.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ODRPatient.LastName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Provider_Record_With_ODR_Info</name>
        <label>Update Provider Record With ODR Info</label>
        <locationX>1144</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Create_Patient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Provider_Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>ODRPrescriber.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ODRPrescriber.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ODRPrescriber.LastName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_Request_with_Contact_ID</name>
        <label>Update SA Request with Contact ID</label>
        <locationX>3016</locationX>
        <locationY>3173</locationY>
        <connector>
            <targetReference>Update_SA_Request_with_Contact_ID_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SA_Request</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0050i0000014GzVAAU</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_Request_with_Contact_ID_0</name>
        <label>Update SA Request with Contact ID</label>
        <locationX>3016</locationX>
        <locationY>3293</locationY>
        <connector>
            <targetReference>Is_Provider_Overriden</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SA_Request</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Final_Patient_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_Request_with_Drug_Id</name>
        <label>Update SA Request with Drug Id</label>
        <locationX>3016</locationX>
        <locationY>4541</locationY>
        <connector>
            <targetReference>Request_Detail_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SA_Request</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Drug__c</field>
            <value>
                <elementReference>Final_Drug_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Submitter_Record_With_ODR_Info</name>
        <label>Update Submitter Record With ODR Info</label>
        <locationX>847</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Drug_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Submitter_Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>ODRSubmitter.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ODRSubmitter.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ODRSubmitter.LastName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Active_SA_Requests_Screen</name>
        <label>Active SA Requests Screen</label>
        <locationX>2966</locationX>
        <locationY>1349</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ExitScreen</targetReference>
        </connector>
        <fields>
            <name>ActiveSARequestsTitle</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The following active SA Requests were found where &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Final_Patient_Name}&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; is the patient &amp;amp; &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Drug_Name}&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; is the drug:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!ActiveSARequestInformation}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CountActiveSARequests</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoResultsMessageTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;There are NO ACTIVE SA Requests where&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;{!Final_Patient_Name}&lt;/b&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt; is the patient and&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;{!Drug_Name} &lt;/b&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;is the drug&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CountActiveSARequests</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Patient_Record_2</name>
        <label>Create Patient Record 2</label>
        <locationX>616</locationX>
        <locationY>4238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Patient_Record_Type_ID_2</targetReference>
        </connector>
        <fields>
            <name>Patient_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Patient Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Patient_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Patient First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Patient_Identifier</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ODRPatient.Patient_Identifier__pc</elementReference>
            </defaultValue>
            <fieldText>Patient Identifier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Patient_Date_of_Birth</name>
            <dataType>Date</dataType>
            <fieldText>Patient Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Provider_Record_2</name>
        <label>Create Provider Record 2</label>
        <locationX>616</locationX>
        <locationY>2870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Provider_Record_2</targetReference>
        </connector>
        <fields>
            <name>Provider_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Provider Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provider_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Provider First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provider_Identifier</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ODRPrescriber.Provider_Identifier__pc</elementReference>
            </defaultValue>
            <fieldText>Provider Identifier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_SA_Request_Screen</name>
        <label>Create SA Request Screen</label>
        <locationX>3016</locationX>
        <locationY>2693</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_String_Value_Assignment</targetReference>
        </connector>
        <fields>
            <name>Create_SA_Request_Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Create SA Request&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HIBC_Drug_Diagnosis_Picklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <elementReference>Case_Object</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <elementReference>HIBC_Drug_Manual_Picklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <elementReference>HIBC_Diagnosis_Manual_Picklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Drug</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Diagnosis</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Drug</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Other_Diagnosis</name>
            <dataType>String</dataType>
            <fieldText>Other Diagnosis</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>HIBC_Drug_Diagnosis_Picklist.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dummy_Patient_Account_Exists_in_SF</name>
        <label>Dummy Patient Account Exists in SF</label>
        <locationX>352</locationX>
        <locationY>4238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Store_Existing_Patient_ID</targetReference>
        </connector>
        <fields>
            <name>Fake_Patient_Account_Exists</name>
            <fieldText>&lt;p&gt;Overridden Patient Account already exists within Salesforce. Please add the following information below to update the account details if needed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Existing_Patient_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Existing Patient First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Existing_Patient_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Existing Patient Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Existing_Patient_Identifier_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ODRPatient.Patient_Identifier__pc</elementReference>
            </defaultValue>
            <fieldText>Existing Patient Identifier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dummy_Provider_Account_Exists</name>
        <label>Dummy Provider Account Exists</label>
        <locationX>352</locationX>
        <locationY>2870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Store_Existing_Provider_ID</targetReference>
        </connector>
        <fields>
            <name>Fake_Provider_Account_Exists</name>
            <fieldText>&lt;p&gt;Overridden Provider Account already exists within Salesforce. Please add the following information below to update the account details if needed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Existing_Provider_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Existing Provider First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Existing_Provider_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Existing Provider Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Existing_Provider_Identifier</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ODRPrescriber.Provider_Identifier__pc</elementReference>
            </defaultValue>
            <fieldText>Existing Provider Identifier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ExitScreen</name>
        <label>ExitScreen</label>
        <locationX>2966</locationX>
        <locationY>1469</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ContinueSACreationDecision</targetReference>
        </connector>
        <fields>
            <name>ExitDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;There might be a possiblity this case is a duplicate, do you wish to continue creating the SA request case:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Continue_SA_Request_Creation_Screen</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Continue Creation of SA Request?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Get_Patient_Summary_Screen</name>
        <label>Get Patient Summary Screen</label>
        <locationX>1001</locationX>
        <locationY>2174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Provider_0</targetReference>
        </connector>
        <fields>
            <name>Patient_Summary_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Patient Details&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Patient Identifier: {!Get_Patient_Record_0_0.Patient_Identifier__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Patient Name: &lt;span style=&quot;color: rgb(32, 33, 36); font-family: Roboto, arial, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;{!ODRPatient.FirstName}{!ODRPatient.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Provider Date of Birth: {!ODRPatient.PersonBirthdate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Get_Provider_Records_Summary_Screen_0</name>
        <label>Get Provider Records Summary Screen</label>
        <locationX>1001</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_the_Patient_Overriden</targetReference>
        </connector>
        <fields>
            <name>Get_Records_Summary_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;The following information was found..&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Provider_Summary</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Provider Details&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Provider Identifier: {!Get_Provider_Record.Provider_Identifier__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Provider Name: &lt;span style=&quot;color: rgb(32, 33, 36); font-family: Roboto, arial, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;{!ODRPrescriber.FirstName} {!ODRPrescriber.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Provider Type: {!ODRPrescriber.Provider_Type__pc}&lt;/p&gt;&lt;p&gt;Provider Date of Birth: {!ODRPrescriber.PersonBirthdate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Provider_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Provider_Summary_Null_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 192, 48);&quot;&gt;Provider information was not found on Salesforce and will be created automatically on Salesforce&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Provider_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Submitter_Summary_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Submitter Details&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Submitter Identifier: {!Get_Submitter_Record.Provider_Identifier__c}&lt;/p&gt;&lt;p&gt;Submitter Name: &lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(32, 33, 36);&quot;&gt;{!ODRSubmitter.FirstName} {!ODRSubmitter.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Submitter Type: {!ODRSubmitter.Provider_Type__pc}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Submitter Date of Birth: {!ODRSubmitter.PersonBirthdate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Submitter_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Submitter_Summary_Null_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 192, 48); background-color: rgb(255, 255, 255);&quot;&gt;Submitter information was not found on Salesforce and will be created automatically on Salesforce&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Submitter_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ODRSubmitter.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Provider_Details_Screen</name>
        <label>Provider Details Screen</label>
        <locationX>913</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>X3rd_Party_Submission_Decision</targetReference>
        </connector>
        <fields>
            <name>Provider_Details</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Search Provider &amp;amp; Patient Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ODRLookup</name>
            <extensionName>c:odrLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showPrescriber</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSubmitter</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPatient</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>patient</name>
                <value>
                    <elementReference>ODRPatient</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>prescriber</name>
                <value>
                    <elementReference>ODRPrescriber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>submitter</name>
                <value>
                    <elementReference>ODRSubmitter</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>patientOverrideReason</name>
                <value>
                    <elementReference>PatientOverrideReason</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>prescriberOverrideReason</name>
                <value>
                    <elementReference>Provider_Override_Reason</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ODRPrescriber</assignToReference>
                <name>prescriber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ODRSubmitter</assignToReference>
                <name>submitter</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ODRPatient</assignToReference>
                <name>patient</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PatientOverrideReason</assignToReference>
                <name>patientOverrideReason</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Provider_Override_Reason</assignToReference>
                <name>prescriberOverrideReason</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Drug</name>
            <choiceReferences>HIBC_Drug_Manual_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Drug</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Origin</name>
            <choiceReferences>CaseOrigin</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>Request_Type_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provider_Fax</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Provider Fax Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SA_Request_Type</name>
        <label>SA Request Type</label>
        <locationX>2725</locationX>
        <locationY>1709</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_update_based_on_type</targetReference>
        </connector>
        <fields>
            <name>What_type_of_request_is_this</name>
            <choiceReferences>Request_Type_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of request is this?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen</name>
        <label>Thank You Screen</label>
        <locationX>3016</locationX>
        <locationY>5669</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thank_You_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;{!SARequestURL}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen_0</name>
        <label>Thank You Screen</label>
        <locationX>3412</locationX>
        <locationY>4205</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thank_You_Message_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;{!SARequestURL}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>787</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Provider_Details_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Acetaminophen_500mg</name>
        <label>Create Acetaminophen 500mg</label>
        <locationX>2884</locationX>
        <locationY>4781</locationY>
        <connector>
            <targetReference>Case_Approval_Status</targetReference>
        </connector>
        <flowName>Acetaminophen_500mg_Creation</flowName>
        <inputAssignments>
            <name>OtherDiagnosis</name>
            <value>
                <elementReference>Other_Diagnosis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SARequestId</name>
            <value>
                <elementReference>Create_SA_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>String_Value</name>
            <value>
                <elementReference>Assign_String_Value</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_smoking_cessation</name>
        <label>Create smoking cessation</label>
        <locationX>3148</locationX>
        <locationY>4781</locationY>
        <connector>
            <targetReference>Case_Approval_Status</targetReference>
        </connector>
        <flowName>Smoking_cessation_creation</flowName>
        <inputAssignments>
            <name>OtherDiagnosis</name>
            <value>
                <elementReference>Other_Diagnosis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SARequestId</name>
            <value>
                <elementReference>Create_SA_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>String_Value</name>
            <value>
                <elementReference>Assign_String_Value</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Vancomycin</name>
        <label>Create Vancomycin</label>
        <locationX>2620</locationX>
        <locationY>4781</locationY>
        <connector>
            <targetReference>Case_Approval_Status</targetReference>
        </connector>
        <flowName>Vancomycin_Creation</flowName>
        <inputAssignments>
            <name>OtherDiagnosis</name>
            <value>
                <elementReference>Other_Diagnosis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SARequestId</name>
            <value>
                <elementReference>Create_SA_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>String_Value</name>
            <value>
                <elementReference>Assign_String_Value</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_Acetaminophen_500mg_Drug_ID</name>
        <label>Get Acetaminophen 500mg Drug ID</label>
        <locationX>2884</locationX>
        <locationY>4205</locationY>
        <connector>
            <targetReference>Update_SA_Request_with_Drug_Id</targetReference>
        </connector>
        <flowName>Get_HIBC_Drug_ID</flowName>
        <inputAssignments>
            <name>Input_Drug_Name</name>
            <value>
                <elementReference>Acetaminophen_500mg_Drug_Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Final_Drug_Id</assignToReference>
            <name>Output_Drug_Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_HIBC_Drug_ID</name>
        <label>Get HIBC Drug ID</label>
        <locationX>457</locationX>
        <locationY>5582</locationY>
        <connector>
            <targetReference>GetActiveSARequests</targetReference>
        </connector>
        <flowName>Get_HIBC_Drug_ID</flowName>
        <inputAssignments>
            <name>Input_Drug_Name</name>
            <value>
                <elementReference>Drug_Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Final_Drug_Id</assignToReference>
            <name>Output_Drug_Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Smoking_Cessation_Drug_ID</name>
        <label>Get Smoking Cessation Drug ID</label>
        <locationX>3148</locationX>
        <locationY>4205</locationY>
        <connector>
            <targetReference>Update_SA_Request_with_Drug_Id</targetReference>
        </connector>
        <flowName>Get_HIBC_Drug_ID</flowName>
        <inputAssignments>
            <name>Input_Drug_Name</name>
            <value>
                <elementReference>Smoking_cessation_drug_name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Final_Drug_Id</assignToReference>
            <name>Output_Drug_Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Vancomycin_Drug_ID</name>
        <label>Get Vancomycin Drug ID</label>
        <locationX>2620</locationX>
        <locationY>4205</locationY>
        <connector>
            <targetReference>Update_SA_Request_with_Drug_Id</targetReference>
        </connector>
        <flowName>Get_HIBC_Drug_ID</flowName>
        <inputAssignments>
            <name>Input_Drug_Name</name>
            <value>
                <elementReference>Vancomycin_Drug_Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Final_Drug_Id</assignToReference>
            <name>Output_Drug_Id</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ActiveSARequestInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;tr&gt;&lt;td&gt;&lt;b&gt;Case #&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Status&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Drug Name&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Termination Date&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Created Date&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>Assign_String_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>HIBC_Drug_Diagnosis_Picklist.middleValue</elementReference>
        </value>
    </variables>
    <variables>
        <name>Boolean_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Case_Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </variables>
    <variables>
        <name>CheckActiveSARequestsPatient</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CheckActiveSARequestsProvider</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CountActiveSARequests</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Diagnosis_Manual_Picklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Diagnosis_Manual__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>Drug_Manual_Picklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Drug_Manual__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>Drug_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>File_Upload_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Final_Drug_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Final_Patient_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Final_Patient_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Final_Provider_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Final_Provider_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Final_Submitter_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Final_Submitter_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HIBC_Diagnosis_Manual_Picklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Diagnosis_HIBC_Manual__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>HIBC_Drug_Manual_Picklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Drug_HIBC_Manual__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>ODRPatient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ODRPrescriber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ODRSubmitter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0050i0000014GzVAAU</stringValue>
        </value>
    </variables>
    <variables>
        <name>Parent_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PatientOverrideReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>None</stringValue>
        </value>
    </variables>
    <variables>
        <name>Provider_Override_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SARequestURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;a href=&quot;/{!Create_SA_Request}&quot;target=&quot;_parent&quot;&gt;SA Request Created - Click Here&lt;/a&gt;</stringValue>
        </value>
    </variables>
</Flow>
