force-app/main/default/flows/Patient_and_Provider_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Buproprion_Drug_Id</name>
        <label>Assign Buproprion Drug Id</label>
        <locationX>578</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>DrugId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a010U000006t099QAA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_Request_with_Drug_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Drug_Id</name>
        <label>Assign Drug Id</label>
        <locationX>50</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>DrugId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Rabeprazole_Drug_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_Request_with_Drug_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Glicazide_Drug_Id</name>
        <label>Assign Glicazide Drug Id</label>
        <locationX>842</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>DrugId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a010U000006t0AaQAI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_Request_with_Drug_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pantoprazole_Magnesium_Drug_Id</name>
        <label>Assign Pantoprazole Magnesium Drug Id</label>
        <locationX>314</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>DrugId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a010U000006t0C5QAI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_Request_with_Drug_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign string value for AA logic</description>
        <name>Assign_String_Value_Assignment</name>
        <label>Assign String Value Assignment</label>
        <locationX>578</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>Assign_String_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Drug_Diagnosis_Picklist.middleValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SA_Request_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Created_Patient_ID</name>
        <label>Store Created Patient ID</label>
        <locationX>446</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>Final_Patient_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Patient_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SA_Request_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Created_Provider_ID</name>
        <label>Store Created Provider ID</label>
        <locationX>446</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Final_Provider_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Provider_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Patient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Patient_ID</name>
        <label>Store Patient ID</label>
        <locationX>710</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Final_Patient_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SA_Request_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Provider_ID</name>
        <label>Store Provider ID</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Final_Provider_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Provider_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Patient</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Auto_Adjudication</name>
        <label>Auto Adjudication</label>
        <locationX>578</locationX>
        <locationY>2870</locationY>
        <defaultConnector>
            <targetReference>Update_SA_Request_with_Drug_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Rabeprazole</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Drug_Diagnosis_Picklist.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rabeprazole</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Drug_Diagnosis_Picklist.middleValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rabeprazole_Creation</targetReference>
            </connector>
            <label>Rabeprazole</label>
        </rules>
        <rules>
            <name>Pantoprazole_Magnesium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Drug_Diagnosis_Picklist.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pantoprazole Magnesium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Drug_Diagnosis_Picklist.middleValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pantoprazole_Magnesium_Creation</targetReference>
            </connector>
            <label>Pantoprazole Magnesium</label>
        </rules>
        <rules>
            <name>Bupropion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Drug_Diagnosis_Picklist.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bupropion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Drug_Diagnosis_Picklist.middleValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buproprion_Creation</targetReference>
            </connector>
            <label>Bupropion</label>
        </rules>
        <rules>
            <name>Gliclazide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Drug_Diagnosis_Picklist.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gliclazide</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Drug_Diagnosis_Picklist.middleValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Glicazide_Creation</targetReference>
            </connector>
            <label>Gliclazide</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Patient</name>
        <label>Create Patient</label>
        <locationX>578</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>Store_Patient_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Patient Record</defaultConnectorLabel>
        <rules>
            <name>Create_Patient_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patient_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Patient_Screen</targetReference>
            </connector>
            <label>Create Patient Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Provider</name>
        <label>Create Provider</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Store_Provider_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Provider Record</defaultConnectorLabel>
        <rules>
            <name>Create_Provider_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Provider_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Provider_Screen</targetReference>
            </connector>
            <label>Create Provider Record</label>
        </rules>
    </decisions>
    <description>Patient and Provider Creation</description>
    <dynamicChoiceSets>
        <name>CaseOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Diagnosis_Manual_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Diagnosis_Manual__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Drug_Manual_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Drug_Manual__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Provider_Type_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Provider_Type__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Provider_Type_Picklist_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Provider_Type__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Patient and Provider Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient and Provider Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Patient_Record</name>
        <label>Create New Patient Record</label>
        <locationX>446</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Get_Final_Patient_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Patient_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Patient_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Identifier__pc</field>
            <value>
                <elementReference>Patient_Identifier_Create</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>Patient_Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Patient_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Patient_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Provider_Record</name>
        <label>Create New Provider Record</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Final_Provider_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Provider_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Provider_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>Provider_Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Provider_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Identifier__pc</field>
            <value>
                <elementReference>Provider_Identifier_Create</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Type__pc</field>
            <value>
                <elementReference>Provider_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Provider_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SA_Request</name>
        <label>Create SA Request</label>
        <locationX>578</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Final_Patient_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diagnosis_Manual__c</field>
            <value>
                <elementReference>Drug_Diagnosis_Picklist.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drug_Manual__c</field>
            <value>
                <elementReference>Drug_Diagnosis_Picklist.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Diagnosis_Manual__c</field>
            <value>
                <elementReference>Other_Diagnosis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>Final_Provider_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_SA_Request_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Final_Patient_ID</name>
        <label>Get Final Patient ID</label>
        <locationX>446</locationX>
        <locationY>1934</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Created_Patient_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Patient_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Provider_ID</name>
        <label>Get Final Provider ID</label>
        <locationX>446</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Created_Provider_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Provider_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Record</name>
        <label>Get Patient Record</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Records_Summary_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Identifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Patient_Identifier</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Record_Type_Id</name>
        <label>Get Patient Record Type Id</label>
        <locationX>446</locationX>
        <locationY>1694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Patient_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Record</name>
        <label>Get Provider Record</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Provider_Identifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Provider_Identifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>Provider_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Provider_Type_Picklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Record_Type_Id</name>
        <label>Get Provider Record Type Id</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Provider_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rabeprazole_Drug_Id</name>
        <label>Get Rabeprazole Drug Id</label>
        <locationX>50</locationX>
        <locationY>3110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Drug_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>rabeprazole 10, 20 mg   NB4</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Drug__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Request_Record_Type_Id</name>
        <label>Get SA Request Record Type Id</label>
        <locationX>578</locationX>
        <locationY>2510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_SA_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Special_Authority_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA_Request_with_Drug_Id</name>
        <label>Update SA Request with Drug Id</label>
        <locationX>578</locationX>
        <locationY>3446</locationY>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SA_Request</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Drug__c</field>
            <value>
                <elementReference>DrugId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_New_Patient_Screen</name>
        <label>Create New Patient Screen</label>
        <locationX>446</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Patient_Record_Type_Id</targetReference>
        </connector>
        <fields>
            <name>Create_New_Patient</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Create New Patient Record&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Patient_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Patient First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Patient_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Patient Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Patient_Identifier_Create</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Patient_Identifier</elementReference>
            </defaultValue>
            <fieldText>Patient Identifier</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter Patient PHN&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Patient_Date_of_Birth</name>
            <dataType>Date</dataType>
            <fieldText>Patient Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Patient_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Patient Phone</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_New_Provider_Screen</name>
        <label>Create New Provider Screen</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Provider_Record_Type_Id</targetReference>
        </connector>
        <fields>
            <name>Create_New_Provider</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Create New Provider Record&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Provider_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Provider First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provider_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Provider Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provider_Identifier_Create</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Provider_Identifier</elementReference>
            </defaultValue>
            <fieldText>Provider Identifier</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter Provider College ID&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provider_Type</name>
            <choiceReferences>Provider_Type_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Provider Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provider_Date_of_Birth</name>
            <dataType>Date</dataType>
            <fieldText>Provider Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provider_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Provider Phone</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_SA_Request_Screen</name>
        <label>Create SA Request Screen</label>
        <locationX>578</locationX>
        <locationY>2270</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_String_Value_Assignment</targetReference>
        </connector>
        <fields>
            <name>Create_SA_Request_Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Create SA Request&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Drug_Diagnosis_Picklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <elementReference>Case_Object</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <elementReference>Drug_Manual_Picklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <elementReference>Diagnosis_Manual_Picklist</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Other_Diagnosis</name>
            <dataType>String</dataType>
            <fieldText>Other Diagnosis</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Drug_Diagnosis_Picklist.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Verbal_Order</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Verbal Order</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Get_Records_Summary_Screen</name>
        <label>Get Records Summary Screen</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Provider</targetReference>
        </connector>
        <fields>
            <name>Get_Records_Summary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;The following information was found..&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Provider_Summary</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Provider Details&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Provider Name: {!Get_Provider_Record.Name}&lt;/p&gt;&lt;p&gt;Provider Type: {!Get_Provider_Record.Provider_Type__c}&lt;/p&gt;&lt;p&gt;Provider Identifier: {!Get_Provider_Record.Provider_Identifier__c}&lt;/p&gt;&lt;p&gt;Provider Phone: {!Get_Provider_Record.Phone}&lt;/p&gt;&lt;p&gt;Provider Date of Birth: {!Get_Provider_Record.Birthdate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Provider_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Provider_Summary_Null</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Provider information could not be found&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Provider_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Patient_Summary</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Patient Details&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Patient Name: {!Get_Patient_Record.Name}&lt;/p&gt;&lt;p&gt;Patient Identifier: {!Get_Patient_Record.Patient_Identifier__c}&lt;/p&gt;&lt;p&gt;Patient Phone: {!Get_Patient_Record.Phone}&lt;/p&gt;&lt;p&gt;Patient Date of Birth: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_Patient_Record.Birthdate}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Patient_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Patient_Summary_Null</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Patient information could not be found&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Patient_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Provider_Details_Screen</name>
        <label>Provider Details Screen</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Provider_Record</targetReference>
        </connector>
        <fields>
            <name>Provider_Details</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Search Provider &amp;amp; Patient Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Provider_Identifier</name>
            <dataType>String</dataType>
            <fieldText>Provider Identifier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provider_Type_Picklist</name>
            <choiceReferences>Provider_Type_Picklist_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Provider Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Patient_Identifier</name>
            <dataType>String</dataType>
            <fieldText>Patient Identifier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Origin</name>
            <choiceReferences>CaseOrigin</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen</name>
        <label>Thank You Screen</label>
        <locationX>578</locationX>
        <locationY>3566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thank_You_Message</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;/{!Create_SA_Request}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;Thank You. Your SA Request Has Been Created.&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Files</name>
        <label>Upload Files</label>
        <locationX>578</locationX>
        <locationY>2750</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Auto_Adjudication</targetReference>
        </connector>
        <fields>
            <name>Upload_File</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Upload your files here&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>File_Upload_Text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_SA_Request</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Provider_Details_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Buproprion_Creation</name>
        <label>Buproprion Creation</label>
        <locationX>578</locationX>
        <locationY>2990</locationY>
        <connector>
            <targetReference>Assign_Buproprion_Drug_Id</targetReference>
        </connector>
        <flowName>Buproprion_Creation</flowName>
        <inputAssignments>
            <name>SARequestId</name>
            <value>
                <elementReference>Create_SA_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>String_Value</name>
            <value>
                <elementReference>Drug_Diagnosis_Picklist.middleValue</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Glicazide_Creation</name>
        <label>Glicazide Creation</label>
        <locationX>842</locationX>
        <locationY>2990</locationY>
        <connector>
            <targetReference>Assign_Glicazide_Drug_Id</targetReference>
        </connector>
        <flowName>Glicazide_Creation</flowName>
        <inputAssignments>
            <name>SARequestId</name>
            <value>
                <elementReference>Create_SA_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>String_Value</name>
            <value>
                <elementReference>Drug_Diagnosis_Picklist.middleLabel</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Pantoprazole_Magnesium_Creation</name>
        <label>Pantoprazole Magnesium Creation</label>
        <locationX>314</locationX>
        <locationY>2990</locationY>
        <connector>
            <targetReference>Assign_Pantoprazole_Magnesium_Drug_Id</targetReference>
        </connector>
        <flowName>Pantoprazole_Magnesium_Creation</flowName>
        <inputAssignments>
            <name>SARequestId</name>
            <value>
                <elementReference>Create_SA_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>String_Value</name>
            <value>
                <elementReference>Drug_Diagnosis_Picklist.middleValue</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Rabeprazole_Creation</name>
        <label>Rabeprazole Creation</label>
        <locationX>50</locationX>
        <locationY>2990</locationY>
        <connector>
            <targetReference>Get_Rabeprazole_Drug_Id</targetReference>
        </connector>
        <flowName>Rabeprazole_Creation</flowName>
        <inputAssignments>
            <name>SARequestId</name>
            <value>
                <elementReference>Create_SA_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>String_Value</name>
            <value>
                <elementReference>Drug_Diagnosis_Picklist.middleValue</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Assign_String_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Drug_Diagnosis_Picklist.middleValue</elementReference>
        </value>
    </variables>
    <variables>
        <name>Case_Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </variables>
    <variables>
        <name>Diagnosis_Manual_Picklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Diagnosis_Manual__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>Drug_Manual_Picklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Drug_Manual__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>DrugId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>File_Upload_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Final_Patient_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Final_Provider_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
