force-app/main/default/flows/Patient_and_Provider_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Assign string value for AA logic</description>
        <name>Assign_String_Value_Assignment</name>
        <label>Assign String Value Assignment</label>
        <locationX>578</locationX>
        <locationY>5822</locationY>
        <assignmentItems>
            <assignToReference>Drug_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Drug_Diagnosis_Picklist.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_String_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Drug_Diagnosis_Picklist.middleValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SA_Request_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLoopVariableActiveSARequest</name>
        <label>AssignLoopVariableActiveSARequest</label>
        <locationX>578</locationX>
        <locationY>4718</locationY>
        <assignmentItems>
            <assignToReference>ActiveSARequestInformation</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;tr&gt;&lt;td&gt;&lt;a href=&quot;/{!LoopActiveSARequests.Id}&quot;&gt;{!LoopActiveSARequests.CaseNumber}&lt;/a&gt;&lt;/td&gt;&lt;td&gt;{!LoopActiveSARequests.Status}&lt;/td&gt;&lt;td&gt;{!LoopActiveSARequests.Drug__r.Name}&lt;/td&gt;&lt;td&gt;{!LoopActiveSARequests.CreatedDate}&lt;/td&gt;&lt;/tr&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountActiveSARequests</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopActiveSARequests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Drug_Assignment</name>
        <label>Drug Assignment</label>
        <locationX>578</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>Drug_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Drug</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Provider_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Created_Patient_ID</name>
        <label>Store Created Patient ID</label>
        <locationX>446</locationX>
        <locationY>3566</locationY>
        <assignmentItems>
            <assignToReference>Final_Patient_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Patient_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_Patient_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Patient_ID.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckActiveSARequestsPatient</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submitter_is_Prescriber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Created_Provider_ID</name>
        <label>Store Created Provider ID</label>
        <locationX>446</locationX>
        <locationY>2750</locationY>
        <assignmentItems>
            <assignToReference>Final_Provider_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Provider_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_Provider_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Provider_ID.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckActiveSARequestsProvider</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Patient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Created_Submitter_ID</name>
        <label>Store Created Submitter ID</label>
        <locationX>248</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Final_Submitter_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Submitter_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Drug_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Patient_ID</name>
        <label>Store Patient ID</label>
        <locationX>710</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>Final_Patient_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckActiveSARequestsPatient</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_Patient_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submitter_is_Prescriber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Provider_ID</name>
        <label>Store Provider ID</label>
        <locationX>710</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>Final_Provider_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Provider_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckActiveSARequestsProvider</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_Provider_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Provider_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Patient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Submitter_Id</name>
        <label>Store Submitter Id</label>
        <locationX>512</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Final_Submitter_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Submitter_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Drug_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Submitter_is_Prescriber_Assignment</name>
        <label>Submitter is Prescriber Assignment</label>
        <locationX>446</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>Final_Submitter_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Provider_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Active_SA_Requests_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ZeroAssignSARequestsCount</name>
        <label>ZeroAssignSARequestsCount</label>
        <locationX>138</locationX>
        <locationY>4598</locationY>
        <assignmentItems>
            <assignToReference>CountActiveSARequests</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SA_Request_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>Bupropion_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>bupropion_[Wellbutrin_Type]</stringValue>
        </value>
    </constants>
    <constants>
        <name>Bupropion_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Bupropion</stringValue>
        </value>
    </constants>
    <constants>
        <name>Gliclazide_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>gliclazide_30mg_&amp;_60mg_SR,_80mg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Gliclazide_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Gliclazide</stringValue>
        </value>
    </constants>
    <constants>
        <name>Pantoprazole_Magnesium_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>pantoprazole_Mg_40mg_NB4</stringValue>
        </value>
    </constants>
    <constants>
        <name>Pantoprazole_Magnesium_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pantoprazole Magnesium</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rabeprazole_Drug_Code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>rabeprazole_10,_20_mg_NB4</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rabeprazole_Drug_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rabeprazole</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Active_SA_Requests_Decision</name>
        <label>Check Active SA Requests Decision</label>
        <locationX>578</locationX>
        <locationY>4118</locationY>
        <defaultConnector>
            <targetReference>Create_SA_Request_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Check Active SA Requests</defaultConnectorLabel>
        <rules>
            <name>Check_Active_SA_Requests</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckActiveSARequestsPatient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckActiveSARequestsProvider</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Drug_Id</targetReference>
            </connector>
            <label>Check Active SA Requests</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContinueSACreationDecision</name>
        <label>ContinueSACreationDecision</label>
        <locationX>490</locationX>
        <locationY>5174</locationY>
        <defaultConnectorLabel>Stop SA Request Creation</defaultConnectorLabel>
        <rules>
            <name>Continue_SA_Request_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Continue_SA_Request_Creation_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SA_Request_Screen</targetReference>
            </connector>
            <label>Continue SA Request Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>CountSARequestsDecision</name>
        <label>CountSARequestsDecision</label>
        <locationX>314</locationX>
        <locationY>4478</locationY>
        <defaultConnector>
            <targetReference>LoopActiveSARequests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active Cases</defaultConnectorLabel>
        <rules>
            <name>No_Active_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetActiveSARequests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ZeroAssignSARequestsCount</targetReference>
            </connector>
            <label>No Active Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Patient</name>
        <label>Create Patient</label>
        <locationX>578</locationX>
        <locationY>2966</locationY>
        <defaultConnector>
            <targetReference>Store_Patient_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Patient Record</defaultConnectorLabel>
        <rules>
            <name>Create_Patient_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patient_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Patient_Screen</targetReference>
            </connector>
            <label>Create Patient Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Provider</name>
        <label>Create Provider</label>
        <locationX>578</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Store_Provider_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Provider Record</defaultConnectorLabel>
        <rules>
            <name>Create_Provider_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Provider_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Provider_Screen</targetReference>
            </connector>
            <label>Create Provider Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Submitter_Decision</name>
        <label>Create_Submitter_Decision</label>
        <locationX>380</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Store_Submitter_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Submitter Record</defaultConnectorLabel>
        <rules>
            <name>Create_Submitter_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Submitter_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Submitter_Screen</targetReference>
            </connector>
            <label>Create Submitter Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_Detail_Creation</name>
        <label>Request Detail Creation</label>
        <locationX>578</locationX>
        <locationY>6878</locationY>
        <defaultConnector>
            <targetReference>Thank_You_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Drug</defaultConnectorLabel>
        <rules>
            <name>Rabeprazole</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Drug_Diagnosis_Picklist.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Rabeprazole_Drug_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rabeprazole_Creation</targetReference>
            </connector>
            <label>Rabeprazole</label>
        </rules>
        <rules>
            <name>Pantoprazole_Magnesium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Drug_Diagnosis_Picklist.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pantoprazole_Magnesium_Drug_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pantoprazole_Magnesium_Creation</targetReference>
            </connector>
            <label>Pantoprazole Magnesium</label>
        </rules>
        <rules>
            <name>Bupropion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Drug_Diagnosis_Picklist.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Bupropion_Drug_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bupropion_Creation</targetReference>
            </connector>
            <label>Bupropion</label>
        </rules>
        <rules>
            <name>Gliclazide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Drug_Diagnosis_Picklist.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Gliclazide_Drug_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gliclazide_Creation</targetReference>
            </connector>
            <label>Gliclazide</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submitter_is_Prescriber</name>
        <label>Submitter is Prescriber</label>
        <locationX>578</locationX>
        <locationY>3782</locationY>
        <defaultConnector>
            <targetReference>Check_Active_SA_Requests_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Submitter is not Prescriber</defaultConnectorLabel>
        <rules>
            <name>Yes_Submitter_is_Prescriber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Final_Submitter_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitter_is_Prescriber_Assignment</targetReference>
            </connector>
            <label>Yes - Submitter is Prescriber</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Drug_Id_on_Case</name>
        <label>Update Drug Id on Case</label>
        <locationX>578</locationX>
        <locationY>6302</locationY>
        <defaultConnector>
            <targetReference>Thank_You_Screen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Drug</defaultConnectorLabel>
        <rules>
            <name>Rabeprazole_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Drug_Diagnosis_Picklist.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Rabeprazole_Drug_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Rabeprazole_Id</targetReference>
            </connector>
            <label>Rabeprazole</label>
        </rules>
        <rules>
            <name>Pantoprazole_Magnesium_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Drug_Diagnosis_Picklist.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pantoprazole_Magnesium_Drug_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pantoprazole_Magnesium_Id</targetReference>
            </connector>
            <label>Pantoprazole Magnesium</label>
        </rules>
        <rules>
            <name>Bupropion_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Drug_Diagnosis_Picklist.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Bupropion_Drug_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Bupropion_Id</targetReference>
            </connector>
            <label>Bupropion</label>
        </rules>
        <rules>
            <name>Gliclazide_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Drug_Diagnosis_Picklist.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Gliclazide_Drug_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Gliclazide_Id</targetReference>
            </connector>
            <label>Gliclazide</label>
        </rules>
    </decisions>
    <decisions>
        <name>X3rd_Party_Submission_Decision</name>
        <label>3rd Party Submission Decision</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Drug_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - 3rd Party Submission</defaultConnectorLabel>
        <rules>
            <name>Yes_3rd_Party_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X3rd_Party_Submission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Submitter_Record</targetReference>
            </connector>
            <label>Yes - 3rd Party Submission</label>
        </rules>
    </decisions>
    <description>Patient and Provider Creation</description>
    <dynamicChoiceSets>
        <name>CaseOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Diagnosis_Manual_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Diagnosis_Manual__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Drug_Manual_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Drug_Manual__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Provider_Type_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Provider_Type__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Provider_Type_Picklist_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Provider_Type__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Request_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Patient and Provider Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient and Provider Creation</label>
    <loops>
        <name>LoopActiveSARequests</name>
        <label>LoopActiveSARequests</label>
        <locationX>490</locationX>
        <locationY>4598</locationY>
        <collectionReference>GetActiveSARequests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignLoopVariableActiveSARequest</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Active_SA_Requests_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Patient_Record</name>
        <label>Create New Patient Record</label>
        <locationX>446</locationX>
        <locationY>3326</locationY>
        <connector>
            <targetReference>Get_Final_Patient_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Patient_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Patient_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Identifier__pc</field>
            <value>
                <elementReference>Patient_Identifier_Create</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>Patient_Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Patient_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Patient_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Provider_Record</name>
        <label>Create New Provider Record</label>
        <locationX>446</locationX>
        <locationY>2510</locationY>
        <connector>
            <targetReference>Get_Final_Provider_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>Provider_Fax.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Provider_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Provider_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>Provider_Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Provider_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Identifier__pc</field>
            <value>
                <elementReference>Provider_Identifier_Create</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Type__pc</field>
            <value>
                <elementReference>Provider_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Provider_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Submitter_Record</name>
        <label>Create New Submitter Record</label>
        <locationX>248</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Get_Final_Submitter_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>Submitter_Fax.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Submitter_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Submitter_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>Submitter_Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Submitter_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Identifier__pc</field>
            <value>
                <elementReference>Submitter_Identifier_Create</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Type__pc</field>
            <value>
                <elementReference>Submitter_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Submitter_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SA_Request</name>
        <label>Create SA Request</label>
        <locationX>578</locationX>
        <locationY>6062</locationY>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Final_Patient_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diagnosis_Manual__c</field>
            <value>
                <elementReference>Drug_Diagnosis_Picklist.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drug_Manual__c</field>
            <value>
                <elementReference>Drug_Diagnosis_Picklist.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Diagnosis_Manual__c</field>
            <value>
                <elementReference>Other_Diagnosis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>Final_Provider_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_SA_Request_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitter__c</field>
            <value>
                <elementReference>Final_Submitter_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Final_Patient_ID</name>
        <label>Get Final Patient ID</label>
        <locationX>446</locationX>
        <locationY>3446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Created_Patient_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Patient_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Provider_ID</name>
        <label>Get Final Provider ID</label>
        <locationX>446</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Created_Provider_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Provider_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Submitter_ID</name>
        <label>Get Final Submitter ID</label>
        <locationX>248</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Created_Submitter_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Submitter_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Record</name>
        <label>Get Patient Record</label>
        <locationX>578</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Records_Summary_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Identifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Patient_Identifier</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Record_Type_Id</name>
        <label>Get Patient Record Type Id</label>
        <locationX>446</locationX>
        <locationY>3206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Patient_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Record</name>
        <label>Get Provider Record</label>
        <locationX>578</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Provider_Identifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Provider_Identifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>Provider_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Provider_Type_Picklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Record_Type_Id</name>
        <label>Get Provider Record Type Id</label>
        <locationX>446</locationX>
        <locationY>2390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Provider_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Request_Record_Type_Id</name>
        <label>Get SA Request Record Type Id</label>
        <locationX>578</locationX>
        <locationY>5942</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_SA_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Special_Authority_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submitter_Record</name>
        <label>Get Submitter Record</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Submitter_Record_Summary_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Provider_Identifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Submitter_Identifier</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submitter_Record_Type_Id</name>
        <label>Get Submitter Record Type Id</label>
        <locationX>248</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Submitter_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActiveSARequests</name>
        <label>GetActiveSARequests</label>
        <locationX>314</locationX>
        <locationY>4358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountSARequestsDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_Patient_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Drug__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_Drug_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CaseNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA_Request_with_Drug_Id</name>
        <label>Update SA Request with Drug Id</label>
        <locationX>578</locationX>
        <locationY>6758</locationY>
        <connector>
            <targetReference>Request_Detail_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SA_Request</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Drug__c</field>
            <value>
                <elementReference>Final_Drug_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Active_SA_Requests_Screen</name>
        <label>Active SA Requests Screen</label>
        <locationX>490</locationX>
        <locationY>4934</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ExitScreen</targetReference>
        </connector>
        <fields>
            <name>ActiveSARequestsTitle</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The following active SA Requests were found where &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Final_Patient_Name}&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; is the patient &amp;amp; &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Drug_Name}&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; is the drug:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!ActiveSARequestInformation}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CountActiveSARequests</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoResultsMessageTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;There are NO ACTIVE SA Requests where&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;{!Final_Patient_Name}&lt;/b&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt; is the patient and&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;{!Drug_Name} &lt;/b&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;is the drug&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CountActiveSARequests</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_New_Patient_Screen</name>
        <label>Create New Patient Screen</label>
        <locationX>446</locationX>
        <locationY>3086</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Patient_Record_Type_Id</targetReference>
        </connector>
        <fields>
            <name>Create_New_Patient</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Create New Patient Record&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Patient_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Patient First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Patient_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Patient Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Patient_Identifier_Create</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Patient_Identifier</elementReference>
            </defaultValue>
            <fieldText>Patient Identifier</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter Patient PHN&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Patient_Date_of_Birth</name>
            <dataType>Date</dataType>
            <fieldText>Patient Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Patient_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Patient Phone</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_New_Provider_Screen</name>
        <label>Create New Provider Screen</label>
        <locationX>446</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Provider_Record_Type_Id</targetReference>
        </connector>
        <fields>
            <name>Create_New_Provider</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Create New Provider Record&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Provider_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Provider First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provider_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Provider Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provider_Identifier_Create</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Provider_Identifier</elementReference>
            </defaultValue>
            <fieldText>Provider Identifier</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter Provider College ID&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provider_Type</name>
            <choiceReferences>Provider_Type_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Provider Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provider_Date_of_Birth</name>
            <dataType>Date</dataType>
            <fieldText>Provider Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provider_Fax</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Provider Fax</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Provider_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Provider Phone</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_New_Submitter_Screen</name>
        <label>Create New Submitter Screen</label>
        <locationX>248</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Submitter_Record_Type_Id</targetReference>
        </connector>
        <fields>
            <name>Create_New_Submitter</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Create New Submitter Record&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Submitter_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Submitter First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Submitter_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Submitter Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Submitter_Identifier_Create</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Submitter_Identifier</elementReference>
            </defaultValue>
            <fieldText>Submitter Identifier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Submitter_Type</name>
            <choiceReferences>Provider_Type_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Submitter Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Submitter_Date_of_Birth</name>
            <dataType>Date</dataType>
            <fieldText>Submitter Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Submitter_Fax</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Submitter Fax</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Submitter_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Submitter Phone</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_SA_Request_Screen</name>
        <label>Create SA Request Screen</label>
        <locationX>578</locationX>
        <locationY>5702</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_String_Value_Assignment</targetReference>
        </connector>
        <fields>
            <name>Create_SA_Request_Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Create SA Request&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Drug_Diagnosis_Picklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <elementReference>Case_Object</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <elementReference>Drug_Manual_Picklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <elementReference>Diagnosis_Manual_Picklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Drug</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Diagnosis</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Drug</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Other_Diagnosis</name>
            <dataType>String</dataType>
            <fieldText>Other Diagnosis</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Drug_Diagnosis_Picklist.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ExitScreen</name>
        <label>ExitScreen</label>
        <locationX>490</locationX>
        <locationY>5054</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ContinueSACreationDecision</targetReference>
        </connector>
        <fields>
            <name>ExitDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;There might be a possiblity this case is a duplicate, do you wish to continue creating the SA request case:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Continue_SA_Request_Creation_Screen</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Continue Creation of SA Request?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Get_Records_Summary_Screen</name>
        <label>Get Records Summary Screen</label>
        <locationX>578</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Provider</targetReference>
        </connector>
        <fields>
            <name>Get_Records_Summary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;The following information was found..&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Provider_Summary</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Provider Details&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Provider Name: {!Get_Provider_Record.Name}&lt;/p&gt;&lt;p&gt;Provider Type: {!Get_Provider_Record.Provider_Type__c}&lt;/p&gt;&lt;p&gt;Provider Identifier: {!Get_Provider_Record.Provider_Identifier__c}&lt;/p&gt;&lt;p&gt;Provider Fax: {!Get_Provider_Record.Fax}&lt;/p&gt;&lt;p&gt;Provider Phone: {!Get_Provider_Record.Phone}&lt;/p&gt;&lt;p&gt;Provider Date of Birth: {!Get_Provider_Record.Birthdate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Provider_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Provider_Summary_Null</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Provider information could not be found&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Provider_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Patient_Summary</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Patient Details&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Patient Name: {!Get_Patient_Record.Name}&lt;/p&gt;&lt;p&gt;Patient Identifier: {!Get_Patient_Record.Patient_Identifier__c}&lt;/p&gt;&lt;p&gt;Patient Phone: {!Get_Patient_Record.Phone}&lt;/p&gt;&lt;p&gt;Patient Date of Birth: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_Patient_Record.Birthdate}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Patient_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Patient_Summary_Null</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Patient information could not be found&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Patient_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Get_Submitter_Record_Summary_Screen</name>
        <label>Get Submitter Record Summary Screen</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Submitter_Decision</targetReference>
        </connector>
        <fields>
            <name>Submitter_Summary_Screen</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Submitter Details&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Submitter Name: {!Get_Submitter_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Submitter Type: {!Get_Submitter_Record.Provider_Type__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Submitter Identifier: {!Get_Submitter_Record.Provider_Identifier__c}&lt;/p&gt;&lt;p&gt;Submitter Fax: {!Get_Submitter_Record.Fax}&lt;/p&gt;&lt;p&gt;Submitter Phone: {!Get_Submitter_Record.Phone}&lt;/p&gt;&lt;p&gt;Submitter Date of Birth: {!Get_Submitter_Record.Birthdate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Submitter_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Submitter_Summary_Null</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Submitter information could not be found&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Submitter_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ODR_Lookup</name>
        <label>ODR Lookup</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Provider_Details_Screen</targetReference>
        </connector>
        <fields>
            <name>odrLookup</name>
            <extensionName>c:odrLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>patientRecord</assignToReference>
                <name>patient</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>prescriberRecord</assignToReference>
                <name>prescriber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>submitterRecord</assignToReference>
                <name>submitter</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Provider_Details_Screen</name>
        <label>Provider Details Screen</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>X3rd_Party_Submission_Decision</targetReference>
        </connector>
        <fields>
            <name>Provider_Details</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Search Provider &amp;amp; Patient Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>providerRecord_Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Prescriber:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Name &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!prescriberRecord.FirstName} {!prescriberRecord.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;ID: {!prescriberRecord.Provider_Identifier__pc}&lt;/p&gt;&lt;p&gt;Type: {!prescriberRecord.Provider_Type__pc}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Submitter:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Name &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!submitterRecord.FirstName} {!submitterRecord.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;ID: {!submitterRecord.Provider_Identifier__pc}&lt;/p&gt;&lt;p&gt;Type: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!submitterRecord.Provider_Type__pc}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Patient&lt;/b&gt;&lt;/p&gt;&lt;p&gt;ID: {!patientRecord.Patient_Identifier__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Provider_Identifier</name>
            <dataType>String</dataType>
            <fieldText>Provider Identifier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provider_Type_Picklist</name>
            <choiceReferences>Provider_Type_Picklist_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Provider Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X3rd_Party_Submission</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>No</elementReference>
            </defaultValue>
            <fieldText>Submitted on behalf of Prescriber?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Submitter_Identifier</name>
            <dataType>String</dataType>
            <fieldText>Submitter Identifier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>X3rd_Party_Submission</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Submitter_Type_Picklist</name>
            <choiceReferences>Provider_Type_Picklist_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Submitter Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>X3rd_Party_Submission</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Patient_Identifier</name>
            <dataType>String</dataType>
            <fieldText>Patient Identifier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Drug</name>
            <choiceReferences>Drug_Manual_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Drug</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Origin</name>
            <choiceReferences>CaseOrigin</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>Request_Type_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen</name>
        <label>Thank You Screen</label>
        <locationX>578</locationX>
        <locationY>7214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thank_You_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;{!SARequestURL}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen_0</name>
        <label>Thank You Screen</label>
        <locationX>1106</locationX>
        <locationY>6422</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thank_You_Message_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;{!SARequestURL}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Files</name>
        <label>Upload Files</label>
        <locationX>578</locationX>
        <locationY>6182</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Drug_Id_on_Case</targetReference>
        </connector>
        <fields>
            <name>Upload_File</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Upload your files here&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>File_Upload_Text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_SA_Request</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ODR_Lookup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Bupropion_Creation</name>
        <label>Bupropion Creation</label>
        <locationX>578</locationX>
        <locationY>6998</locationY>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <flowName>Buproprion_Creation</flowName>
        <inputAssignments>
            <name>OtherDiagnosis</name>
            <value>
                <elementReference>Other_Diagnosis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SARequestId</name>
            <value>
                <elementReference>Create_SA_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>String_Value</name>
            <value>
                <elementReference>Assign_String_Value</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_Bupropion_Id</name>
        <label>Get Bupropion Id</label>
        <locationX>578</locationX>
        <locationY>6422</locationY>
        <connector>
            <targetReference>Update_SA_Request_with_Drug_Id</targetReference>
        </connector>
        <flowName>Get_Drug_Id</flowName>
        <inputAssignments>
            <name>Input_Drug_Name</name>
            <value>
                <elementReference>Bupropion_Drug_Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Final_Drug_Id</assignToReference>
            <name>Output_Drug_Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Drug_Id</name>
        <label>Get Drug Id</label>
        <locationX>314</locationX>
        <locationY>4238</locationY>
        <connector>
            <targetReference>GetActiveSARequests</targetReference>
        </connector>
        <flowName>Get_Drug_Id</flowName>
        <inputAssignments>
            <name>Input_Drug_Name</name>
            <value>
                <elementReference>Drug_Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Final_Drug_Id</assignToReference>
            <name>Output_Drug_Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Gliclazide_Id</name>
        <label>Get Gliclazide Id</label>
        <locationX>842</locationX>
        <locationY>6422</locationY>
        <connector>
            <targetReference>Update_SA_Request_with_Drug_Id</targetReference>
        </connector>
        <flowName>Get_Drug_Id</flowName>
        <inputAssignments>
            <name>Input_Drug_Name</name>
            <value>
                <elementReference>Gliclazide_Drug_Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Final_Drug_Id</assignToReference>
            <name>Output_Drug_Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Pantoprazole_Magnesium_Id</name>
        <label>Get Pantoprazole Magnesium Id</label>
        <locationX>314</locationX>
        <locationY>6422</locationY>
        <connector>
            <targetReference>Update_SA_Request_with_Drug_Id</targetReference>
        </connector>
        <flowName>Get_Drug_Id</flowName>
        <inputAssignments>
            <name>Input_Drug_Name</name>
            <value>
                <elementReference>Pantoprazole_Magnesium_Drug_Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Final_Drug_Id</assignToReference>
            <name>Output_Drug_Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Rabeprazole_Id</name>
        <label>Get Rabeprazole Id</label>
        <locationX>50</locationX>
        <locationY>6422</locationY>
        <connector>
            <targetReference>Update_SA_Request_with_Drug_Id</targetReference>
        </connector>
        <flowName>Get_Drug_Id</flowName>
        <inputAssignments>
            <name>Input_Drug_Name</name>
            <value>
                <elementReference>Rabeprazole_Drug_Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Final_Drug_Id</assignToReference>
            <name>Output_Drug_Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Gliclazide_Creation</name>
        <label>Gliclazide Creation</label>
        <locationX>842</locationX>
        <locationY>6998</locationY>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <flowName>Glicazide_Creation</flowName>
        <inputAssignments>
            <name>OtherDiagnosis</name>
            <value>
                <elementReference>Other_Diagnosis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SARequestId</name>
            <value>
                <elementReference>Create_SA_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>String_Value</name>
            <value>
                <elementReference>Assign_String_Value</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Pantoprazole_Magnesium_Creation</name>
        <label>Pantoprazole Magnesium Creation</label>
        <locationX>314</locationX>
        <locationY>6998</locationY>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <flowName>Pantoprazole_Magnesium_Creation</flowName>
        <inputAssignments>
            <name>OtherDiagnosis</name>
            <value>
                <elementReference>Other_Diagnosis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SARequestId</name>
            <value>
                <elementReference>Create_SA_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>String_Value</name>
            <value>
                <elementReference>Assign_String_Value</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Rabeprazole_Creation</name>
        <label>Rabeprazole Creation</label>
        <locationX>50</locationX>
        <locationY>6998</locationY>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <flowName>Rabeprazole_Creation</flowName>
        <inputAssignments>
            <name>OtherDiagnosis</name>
            <value>
                <elementReference>Other_Diagnosis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SARequestId</name>
            <value>
                <elementReference>Create_SA_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>String_Value</name>
            <value>
                <elementReference>Assign_String_Value</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ActiveSARequestInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;tr&gt;&lt;td&gt;&lt;b&gt;Case #&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Status&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Drug Name&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;Created Date&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>Assign_String_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Drug_Diagnosis_Picklist.middleValue</elementReference>
        </value>
    </variables>
    <variables>
        <name>Case_Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </variables>
    <variables>
        <name>CheckActiveSARequestsPatient</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CheckActiveSARequestsProvider</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CountActiveSARequests</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Diagnosis_Manual_Picklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Diagnosis_Manual__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>Drug_Manual_Picklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Drug_Manual__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>Drug_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>File_Upload_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Final_Drug_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Final_Patient_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Final_Patient_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Final_Provider_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Final_Provider_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Final_Submitter_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Final_Submitter_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable for storing patient info retrieved as a patient-type account record.</description>
        <name>patientRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Variable for storing prescriber info retrieved from Pharmanet as a provider-type account record.</description>
        <name>prescriberRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SARequestURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;a href=&quot;/{!Create_SA_Request}&quot;target=&quot;_parent&quot;&gt;SA Request Created - Click Here&lt;/a&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <description>Variable for storing submitter info retrieved from Pharmanet as a provider-type account record.</description>
        <name>submitterRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
