force-app/main/default/flows/Populate_Rationale_field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>Assigning the Approval Details field to a variable</description>
        <name>Assignment_of_Approval_Detail</name>
        <label>Assignment of Approval Detail</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>TempAD</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Store_Drug_records.Approval_Details__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case_record</targetReference>
        </connector>
    </assignments>
    <description>This flow is to populate the rationale field from cases with the Approval Details field from the Drug object.</description>
    <interviewLabel>Populate Rationale field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Rationale field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This is to fetch the case record and store the drug is related to the case</description>
        <name>Getcase</name>
        <label>Getcase</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Drug_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIdVar</elementReference>
            </value>
        </filters>
        <filters>
            <field>Drug__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DrugVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This is to store the Approval Details field from the selected drug record</description>
        <name>Store_Drug_records</name>
        <label>Store Drug records</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_of_Approval_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DrugVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Drug__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approval_Details__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This is to update the Rationale field on the case with the value stored in the variable TempAD</description>
        <name>Update_case_record</name>
        <label>Update case record</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIdVar</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rationale__c</field>
            <value>
                <elementReference>TempAD</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Getcase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DrugVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TempAD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
