force-app/main/default/flows/Remove_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Case_Record_to_Case_Collection_to_Update_AC_name_AC_Date</name>
        <label>Add Case Record to Case Collection to Update AC name &amp; AC Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>casesToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caseToBeUpdated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Selected_Cases_to_Update_Advisory_Committee_AC_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Record_to_Case_Collection_to_Update_SC_Name_SC_Date</name>
        <label>Add Case Record to Case Collection to Update SC Name &amp; SC Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>casesToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caseToBeUpdated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Selected_Cases_to_Update_Subcommittee_SC_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_to_Case_Collection</name>
        <label>Add Case to Case Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>relatedCaseRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>relatedCaseRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_CRC_to_Get_Committee_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_CRC_to_be_Deleted</name>
        <label>Get CRC to be Deleted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CRCtobeDeleted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_CRC_with_Selected_Cases_Current_SA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_CRC_with_Selected_Cases_Current_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Related_Case_from_Current_CRC</name>
        <label>Get Related Case from Current CRC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>relatedCaseRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_CRC_to_Get_Committee_Cases.Related_Case__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCaseRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_CRC_to_Get_Committee_Cases.Related_Case__r.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCaseRecord.EDRD_Ref_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_CRC_to_Get_Committee_Cases.Related_Case__r.EDRD_Ref_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCaseRecord.CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_CRC_to_Get_Committee_Cases.Related_Case__r.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCaseRecord.EDRD_RPH_Simplified_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_CRC_to_Get_Committee_Cases.Related_Case__r.EDRD_RPH_Simplified_Review__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCaseRecord.EDRD_MOHFunding_Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_CRC_to_Get_Committee_Cases.Related_Case__r.EDRD_MOHFunding_Expiry_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCaseRecord.EDRD_ProviderName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_CRC_to_Get_Committee_Cases.Related_Case__r.EDRD_ProviderName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_to_Case_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Advisory_Committee_AC_Review_Date_on_Case_Record</name>
        <label>Update Advisory Committee &amp; AC Review Date on Case Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>caseToBeUpdated.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Selected_Cases_to_Update_Advisory_Committee_AC_Date.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToBeUpdated.EDRD_Advisory_Committee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToBeUpdated.EDRD_AC_Review_Requested_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_Record_to_Case_Collection_to_Update_AC_name_AC_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Subcommittee_SC_Review_Date_on_Case_Record</name>
        <label>Update Subcommittee &amp; SC Review Date on Case Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>caseToBeUpdated.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Selected_Cases_to_Update_Subcommittee_SC_Date.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToBeUpdated.EDRD_SubCommittee_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToBeUpdated.EDRD_SC_Review_Requested_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_Record_to_Case_Collection_to_Update_SC_Name_SC_Date</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_CRC_with_Selected_Cases_Current_SA</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get CRC with Selected Cases &amp; Current SA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Get_CRC_with_Selected_Cases_Current_SA</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_CRC_Related_to_Current_SA</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_CRC_with_Selected_Cases_Current_SA.Related_Case__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterate_Over_Selected_Cases_to_Get_Case_Id.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_Over_Selected_Cases_to_Get_Case_Id</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <description>Meeting Type</description>
        <name>type_AdvisoryCommittee</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Advisory Committee</stringValue>
        </value>
    </constants>
    <constants>
        <description>Meeting Type</description>
        <name>type_Subcommittee</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Subcommittee</stringValue>
        </value>
    </constants>
    <decisions>
        <name>casesToBeUpdated_List_Is_Null_Check</name>
        <label>casesToBeUpdated List Is Null Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CRCToBeDeleted_List_Null_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>casesToBeUpdated</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Advisory_Committee_AC_Review_Date_on_Selected_Cases</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>casesToBeUpdated_List_Null_Check</name>
        <label>casesToBeUpdated List Null Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CRCToBeDeleted_List_Null_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>casesToBeUpdated</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Committee_SC_Review_Date_on_Selected_Cases</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CRC_with_Selected_Cases_Current_SA_Exists</name>
        <label>CRC with Selected Cases &amp; Current SA Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Do Not Exists</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CRCtobeDeleted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_Of_Service_Appointment</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CRCToBeDeleted_List_Null_Check</name>
        <label>CRCToBeDeleted List Null Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Cases_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>True</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CRCtobeDeleted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Selected_Cases_From_Meeting</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_SA_Have_Related_Cases</name>
        <label>Does SA Have Related Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CRC_Related_to_Current_SA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_CRC_to_Get_Committee_Cases</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Of_Service_Appointment</name>
        <label>Type Of Service Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CRCToBeDeleted_List_Null_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Subcommittee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>typeOfMeeting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>type_Subcommittee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_Selected_Cases_to_Update_Subcommittee_SC_Date</targetReference>
            </connector>
            <label>Subcommittee</label>
        </rules>
        <rules>
            <name>Advisory_Committee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>typeOfMeeting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>type_AdvisoryCommittee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_Selected_Cases_to_Update_Advisory_Committee_AC_Date</targetReference>
            </connector>
            <label>Advisory Committee</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>relatedCaseId</name>
        <dataType>String</dataType>
        <expression>{!Iterate_Over_CRC_to_Get_Committee_Cases.Related_Case__r.Id}</expression>
    </formulas>
    <formulas>
        <name>typeOfMeeting</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!Get_Current_SA.Account.EDRD_Committee_Type__c}), &quot;Subcommittee&quot;, &quot;Subcommittee&quot;, &quot;Advisory Committee&quot;, &quot;Advisory Committee&quot;, Null)</expression>
    </formulas>
    <interviewLabel>Remove Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remove Cases</label>
    <loops>
        <name>Iterate_Over_CRC_to_Get_Committee_Cases</name>
        <label>Iterate Over CRC to Get Committee Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_CRC_Related_to_Current_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Related_Case_from_Current_CRC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_Related_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_CRC_with_Selected_Cases_Current_SA</name>
        <label>Iterate Over CRC with Selected Cases &amp; Current SA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_CRC_with_Selected_Cases_Current_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_CRC_to_be_Deleted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CRC_with_Selected_Cases_Current_SA_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Selected_Cases_to_Get_Case_Id</name>
        <label>Iterate Over Selected Cases to Get Case Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Committee_Cases.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_CRC_with_Selected_Cases_Current_SA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Over_CRC_with_Selected_Cases_Current_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Selected_Cases_to_Update_Advisory_Committee_AC_Date</name>
        <label>Iterate Over Selected Cases to Update Advisory Committee &amp; AC Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Committee_Cases.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Advisory_Committee_AC_Review_Date_on_Case_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>casesToBeUpdated_List_Is_Null_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Selected_Cases_to_Update_Subcommittee_SC_Date</name>
        <label>Iterate Over Selected Cases to Update Subcommittee &amp; SC Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Committee_Cases.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Subcommittee_SC_Review_Date_on_Case_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>casesToBeUpdated_List_Null_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Remove_Selected_Cases_From_Meeting</name>
        <label>Remove Selected Cases From Meeting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cases_Removed</targetReference>
        </connector>
        <inputReference>CRCtobeDeleted</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_CRC_Related_to_Current_SA</name>
        <label>Get CRC Related to Current SA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_SA_Have_Related_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Committee_Review_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_SA</name>
        <label>Get Current SA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CRC_Related_to_Current_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Advisory_Committee_AC_Review_Date_on_Selected_Cases</name>
        <label>Update Advisory Committee &amp; AC Review Date on Selected Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CRCToBeDeleted_List_Null_Check</targetReference>
        </connector>
        <inputReference>casesToBeUpdated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Committee_SC_Review_Date_on_Selected_Cases</name>
        <label>Update Committee &amp; SC Review Date on Selected Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CRCToBeDeleted_List_Null_Check</targetReference>
        </connector>
        <inputReference>casesToBeUpdated</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Cases_Removed</name>
        <label>Cases Removed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMsg</name>
            <fieldText>&lt;p&gt;Selected case(s) were successfully removed from the meeting.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Iterate_Over_Selected_Cases_to_Get_Case_Id</targetReference>
        </connector>
        <fields>
            <name>confirmationMsg</name>
            <fieldText>&lt;p&gt;Selected case(s) will be removed from the committee meeting.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Related_Cases</name>
        <label>Display Related Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Committee_Cases</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Case</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Case(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>relatedCaseRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;EDRD_Ref_No__c&quot;,&quot;guid&quot;:&quot;column-76f3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;EDRD Ref No&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CaseNumber&quot;,&quot;guid&quot;:&quot;column-f556&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Case Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type&quot;,&quot;guid&quot;:&quot;column-42f7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Case Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;EDRD_RPH_Simplified_Review__c&quot;,&quot;guid&quot;:&quot;column-134f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;RPh Simplified Review&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;EDRD_MOHFunding_Expiry_Date__c&quot;,&quot;guid&quot;:&quot;column-5614&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Funding Expiry Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;EDRD_ProviderName__c&quot;,&quot;guid&quot;:&quot;column-d146&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Provider&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;EDRD ProviderName&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Cases</name>
        <label>No Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Message</name>
            <fieldText>&lt;p&gt;No cases available for removal as no cases were added to this meeting.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_SA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>casesToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CRCtobeDeleted</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Committee_Review_Case__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_CRC_with_Selected_Cases_Current_SA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Committee_Review_Case__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>relatedCaseRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
