force-app/main/default/flows/Send_Notification_to_Provider.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_from_Case_Action_1</name>
        <label>Send Email from Case Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SendEmailUtility</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseStatus</name>
            <value>
                <elementReference>$Record.EDRD_MOHFunding_Decision__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <customErrors>
        <name>Provider_Email_missing</name>
        <label>Provider Email missing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Email is missing on the case&apos;s provider.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Provider_not_added_to_case</name>
        <label>Provider not added to case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Provider is not added to the case.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_for_provider</name>
        <label>Check for provider</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Provider_not_added_to_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Provider not added to case</defaultConnectorLabel>
        <rules>
            <name>Provider_added_to_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provider__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Does_Provider_has_an_email</targetReference>
            </connector>
            <label>Provider added to case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Provider_has_an_email</name>
        <label>Does Provider has an email?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Provider_Email_missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Provider does not have email</defaultConnectorLabel>
        <rules>
            <name>Provider_has_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provider__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>getRefreshedCase</targetReference>
            </connector>
            <label>Provider has email</label>
        </rules>
    </decisions>
    <description>Send a email alert to provider on status update</description>
    <environments>Default</environments>
    <interviewLabel>Send Notification to Provider {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Notification to Provider</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRefreshedCase</name>
        <label>getRefreshedCase</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_from_Case_Action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_provider</targetReference>
        </connector>
        <filterFormula>OR(
		AND(
			ISPICKVAL({!$Record.Status}, &apos;Funding Approved&apos;),
			TEXT({!$Record__Prior.Status}) != &quot;Funding Approved&quot;
		),
		AND(
			ISPICKVAL({!$Record.Status}, &apos;Funding Denied&apos;),
			TEXT({!$Record__Prior.Status}) != &quot;Funding Denied&quot;
		)	
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MedicationNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>medicationRequests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MedicationRequest</objectType>
    </variables>
</Flow>
