force-app/main/default/flows/Telmisartan_Twynsta_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Boolean_Value_False</name>
        <label>Boolean Value = False</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Boolean_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Request_Detail_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Boolean_Value_True</name>
        <label>Boolean Value = True</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Boolean_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Request_Detail_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Other_Diagnosis_Decision</name>
        <label>Other Diagnosis Decision</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Boolean_Value_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Diagnosis = Cough + Telmisartan</defaultConnectorLabel>
        <rules>
            <name>Is_Other_Diagnosis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManualDiagnosis</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>String_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Boolean_Value_False</targetReference>
            </connector>
            <label>Is Other Diagnosis</label>
        </rules>
    </decisions>
    <interviewLabel>Telmisartan Twynsta Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Telmisartan Twynsta Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Request_Detail_0</name>
        <label>Create Request Detail</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>SARequestId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_ID__c</field>
            <value>
                <stringValue>arb1stLineReference.criteriaWell.IndicationForRequestedMedicationReferenceAngiotensionReceptorBlockerArbFullCoverage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sort_Order__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>String_Value__c</field>
            <value>
                <elementReference>ManualDiagnosis</elementReference>
            </value>
        </inputAssignments>
        <object>Request_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Request_Detail_0_0_0</name>
        <label>Create Request Detail</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Create_Request_Detail_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Boolean_Value__c</field>
            <value>
                <elementReference>Boolean_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>SARequestId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_ID__c</field>
            <value>
                <stringValue>arb1stLineReference.criteriaWell.IndicationForRequestedMedicationReferenceAngiotensionReceptorBlockerArbFullCoverage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Indication for Requested Medication - Reference Angiotension Reception Blocker (ARB) (Full Coverage):</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sort_Order__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Request_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Request_Detail_0_0_0_0</name>
        <label>Create Request Detail</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>Boolean_Value__c</field>
            <value>
                <elementReference>Boolean_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>SARequestId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_ID__c</field>
            <value>
                <stringValue>Twynsta.specialAuthorityCriteria.patientIsCurrentlyTakingStableDosesOfBothTelmisartanAndAmlodipine</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Indication for Requested Medication - Reference Angiotension Reception Blocker (ARB) (Full Coverage):</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sort_Order__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <object>Request_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Other_Diagnosis_Decision</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Boolean_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ManualDiagnosis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SARequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>String_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
