force-app/main/default/flows/UpdateCaseRecordonCRC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>CommitteeTypeCheck</name>
        <label>CommitteeTypeCheck</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>DefaultEnd</defaultConnectorLabel>
        <rules>
            <name>isSubcommittee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccountNameRecord.EDRD_Committee_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subcommittee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCase</targetReference>
            </connector>
            <label>isSubcommittee</label>
        </rules>
        <rules>
            <name>isAdvisoryCommittee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccountNameRecord.EDRD_Committee_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisory Committee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCaseAC</targetReference>
            </connector>
            <label>isAdvisoryCommittee</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>UpdateCaseRecordonCRC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateCaseRecordonCRC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccountNameRecord</name>
        <label>GetAccountNameRecord</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CommitteeTypeCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Appointment__r.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCase</name>
        <label>updateCase</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>EDRD_SC_Review_Requested_Date__c</field>
            <value>
                <elementReference>$Record.Service_Appointment__r.EarliestStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_SubCommittee_Name__c</field>
            <value>
                <elementReference>GetAccountNameRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Related_Case__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCaseAC</name>
        <label>updateCaseAC</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>EDRD_AC_Review_Requested_Date__c</field>
            <value>
                <elementReference>$Record.Service_Appointment__r.EarliestStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_Advisory_Committee__c</field>
            <value>
                <elementReference>GetAccountNameRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Related_Case__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAccountNameRecord</targetReference>
        </connector>
        <object>Committee_Review_Case__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
