force-app/main/default/flows/Vancomycin_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Other_Diagnosis_Decision</name>
        <label>Other Diagnosis Decision</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Not Other Diagnosis</defaultConnectorLabel>
        <rules>
            <name>Is_Other_Diagnosis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherDiagnosis</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Request_Detail_0</targetReference>
            </connector>
            <label>Is Other Diagnosis</label>
        </rules>
    </decisions>
    <interviewLabel>Vancomycin Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vancomycin Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Request_Detail</name>
        <label>Create Request Detail</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Other_Diagnosis_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>SARequestId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_ID__c</field>
            <value>
                <stringValue>vancomycin.manual.diagnosis.auto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>For the treatment of symptomatic Clostridium Difficile Infection (CDI), when:</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sort_Order__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>String_Value__c</field>
            <value>
                <elementReference>String_Value</elementReference>
            </value>
        </inputAssignments>
        <object>Request_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Request_Detail_0</name>
        <label>Create Request Detail</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>SARequestId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_ID__c</field>
            <value>
                <stringValue>vancomycin.manual.diagnosis.other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>For the treatment of symptomatic Clostridium Difficile Infection (CDI), when:</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sort_Order__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>String_Value__c</field>
            <value>
                <elementReference>OtherDiagnosis</elementReference>
            </value>
        </inputAssignments>
        <object>Request_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Request_Detail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OtherDiagnosis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SARequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>String_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
