dev-app-post/main/default/flows/Create_EDRD_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_PatientOverRide_Reason</name>
        <label>Assign_PatientOverRide_Reason</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>PatientOverrideReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newCasePatientsearch.overRideReason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_PatientOverrideReason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Manual_Patient_SF_Details</name>
        <label>Assigning_Manual_Patient_SF_Details</label>
        <locationX>1612</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>SFPatientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFPatientSearch.patientSFId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Patient_Records_After_Create_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Manual_PatientDetails</name>
        <label>Assigning_Manual_PatientDetails</label>
        <locationX>1216</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Patient_FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFPatientSearch.patientFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Patient_LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFPatientSearch.patientLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Patient_PHN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFPatientSearch.patientIdentifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Patient_Deceased</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Patient_Gender</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFPatientSearch.patientGender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Patient_DOB</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFPatientSearch.patientBirthdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PatientSummary_ScreenManual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_PatientDetails</name>
        <label>Assigning_PatientDetails</label>
        <locationX>622</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Patient_FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newCasePatientsearch.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Patient_LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newCasePatientsearch.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Patient_PHN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newCasePatientsearch.accountPHN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Patient_Deceased</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newCasePatientsearch.Deceased</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Patient_Gender</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newCasePatientsearch.Gender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Patient_DOB</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newCasePatientsearch.PatientDOB</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>validate_Is_patient_deceased</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_SFPatientId_create</name>
        <label>Assigning_SFPatientId_create</label>
        <locationX>556</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>SFPatientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_patientRecordWithEMPI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Patient_Records_After_Create_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_SFPatientId_createManuallyPHN</name>
        <label>Assigning_SFPatientId_createManuallyPHN</label>
        <locationX>1084</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>SFPatientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Manual_Create_patientRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Patient_Records_After_Create_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_SFPatientId_createNoPHN</name>
        <label>Assigning_SFPatientId_createNoPHN</label>
        <locationX>1348</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>SFPatientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Manual_Create_patientRecord_NoPHN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Patient_Records_After_Create_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_SFPatientId_update</name>
        <label>Assigning_SFPatientId_update</label>
        <locationX>292</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>SFPatientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>searchedPatientRecId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Patient_Records_After_Create_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_CDL_Record</name>
        <label>Assignment_CDL_Record</label>
        <locationX>402</locationX>
        <locationY>5642</locationY>
        <assignmentItems>
            <assignToReference>Insert_CDL_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CDL_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_CD_Records_NewCaseType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Renewal_CDL_Record</name>
        <label>Assignment_Renewal_CDL_Record</label>
        <locationX>930</locationX>
        <locationY>5642</locationY>
        <assignmentItems>
            <assignToReference>Insert_CDL_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CDL_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_CD_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CD_with_Entity_Id</name>
        <label>Update CD with Entity Id</label>
        <locationX>930</locationX>
        <locationY>5534</locationY>
        <assignmentItems>
            <assignToReference>CDL_Record.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_CD_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDL_Record.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreRenewalCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDL_Record.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDL_Record.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Renewal_CDL_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CD_with_Entity_Id_NewCaseType</name>
        <label>Update CD with Entity Id__NewCaseType</label>
        <locationX>402</locationX>
        <locationY>5534</locationY>
        <assignmentItems>
            <assignToReference>CDL_Record.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_CD_Records_NewCaseType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDL_Record.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreNewCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDL_Record.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDL_Record.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_CDL_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AC_Review</name>
        <choiceText>AC Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AC Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>Approved</name>
        <choiceText>Approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fax</name>
        <choiceText>Fax</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fax</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Received</name>
        <choiceText>Received</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	Received</stringValue>
        </value>
    </choices>
    <choices>
        <name>Renewal</name>
        <choiceText>Renewal</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_createpatientvalue</name>
        <label>Check_createpatientvalue</label>
        <locationX>1414</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assigning_Manual_Patient_SF_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Check_createpatientvalue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SFPatientSearch.isCreatePatientManuallyChecked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Manual_PatientDetails</targetReference>
            </connector>
            <label>Outcome 1 of Check_createpatientvalue</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Insert_CDL_list_is_not_empty</name>
        <label>check Insert CDL list is not empty</label>
        <locationX>842</locationX>
        <locationY>5834</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Update_EDRDRenewCase_withPSPOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CDL_List_is_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Insert_CDL_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_RelatedCDLfor_RenewalCase</targetReference>
            </connector>
            <label>CDL List is not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Insert_CDL_list_is_not_empty_NewCaseType</name>
        <label>check Insert CDL list is not empty_NewCaseType</label>
        <locationX>314</locationX>
        <locationY>5834</locationY>
        <defaultConnector>
            <targetReference>Update_EDRDNewCase_withPSPOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CDL_List_is_not_Empty_NewCaseType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Insert_CDL_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_RelatedCDLfor_RenewalCase_NewCaseType</targetReference>
            </connector>
            <label>CDL List is not Empty_NewCaseType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_isManaulPHNPresent</name>
        <label>Check_isManaulPHNPresent</label>
        <locationX>1216</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Manual_Create_patientRecord_NoPHN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckOutcome_isManaul_PHNPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Patient_PHN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manual_Create_patientRecord</targetReference>
            </connector>
            <label>CheckOutcome_isManaul_PHNPresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_patientFoundInSF</name>
        <label>Check_patientFoundInSF</label>
        <locationX>424</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Create_patientRecordWithEMPI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_PHN_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>searchedPatientRecId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_patientRecordWithEMPI</targetReference>
            </connector>
            <label>If PHN found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PatientOverrideReason</name>
        <label>Check_PatientOverrideReason</label>
        <locationX>1018</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Search_Patient_in_SF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PatientOverrideReason_isNone</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PatientOverrideReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_PatientDetails</targetReference>
            </connector>
            <label>PatientOverrideReason_isNone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choose_case_option</name>
        <label>Choose case option</label>
        <locationX>578</locationX>
        <locationY>4502</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Record_Type_for_renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Renewal</defaultConnectorLabel>
        <rules>
            <name>Create_New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record_Type</targetReference>
            </connector>
            <label>Create New Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Renewal_Indefinite_Funding_check2</name>
        <label>Renewal Indefinite Funding check</label>
        <locationX>842</locationX>
        <locationY>5126</locationY>
        <defaultConnector>
            <targetReference>Create_Medication_Request_with_New_Renewal_Case_without_indef</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal_Indefinite_Available2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarMedicationInformationRec.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cysteamine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Medication_Request_with_New_Renewal_Case</targetReference>
            </connector>
            <label>Renewal Indefinite Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_10</name>
        <label>Renewal Indefinite Funding check</label>
        <locationX>842</locationX>
        <locationY>4718</locationY>
        <defaultConnector>
            <targetReference>New_renewal_case_creation_for_RecType_Renew_without_indef</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal_Indefinite_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarMedicationInformationRec.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cysteamine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_renewal_case_creation_for_RecType_Renew</targetReference>
            </connector>
            <label>Renewal Indefinite Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Medication_details_New_Renewal_decision</name>
        <label>Medication details New/Renewal decision</label>
        <locationX>776</locationX>
        <locationY>3278</locationY>
        <defaultConnector>
            <targetReference>Renwal_Medication_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Show Renewal Medication details</defaultConnectorLabel>
        <rules>
            <name>Show_Initial_Medication_details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MedicationRequestDetails</targetReference>
            </connector>
            <label>Show Initial Medication details</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Indefinite_Funding_check</name>
        <label>New Indefinite Funding check</label>
        <locationX>314</locationX>
        <locationY>4718</locationY>
        <defaultConnector>
            <targetReference>New_case_Creation_for_Rec_type_New_without_indef</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Indefinite_Eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarMedicationInformationRec.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cysteamine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_case_Creation_for_Rec_type_New</targetReference>
            </connector>
            <label>Indefinite_Eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Indefinite_Funding_check2</name>
        <label>New Indefinite Funding check</label>
        <locationX>314</locationX>
        <locationY>5126</locationY>
        <defaultConnector>
            <targetReference>Create_Medication_request_with_New_Case_without_indef</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Indefinite_Available2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarMedicationInformationRec.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cysteamine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Medication_request_with_New_Case</targetReference>
            </connector>
            <label>Indefinite Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Medication_Decision</name>
        <label>Other Medication Decision</label>
        <locationX>578</locationX>
        <locationY>3062</locationY>
        <defaultConnector>
            <targetReference>Indication_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Medication Details</defaultConnectorLabel>
        <rules>
            <name>OtherMedicationDetail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Medication.recordName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Medication.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Medication</targetReference>
            </connector>
            <label>Other Medication Details</label>
        </rules>
    </decisions>
    <decisions>
        <name>validate_ACR_Relationship</name>
        <label>validate_ACR_Relationship</label>
        <locationX>578</locationX>
        <locationY>3878</locationY>
        <defaultConnector>
            <targetReference>Get_PSP_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ACR_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ACRRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ACRRecord.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProviderRecord.IsCustomerPortal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PSP_Queue</targetReference>
            </connector>
            <label>Customer Portal &amp; ACR &amp; Active</label>
        </rules>
        <rules>
            <name>ACR_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ACRRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ACRRecord.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProviderRecord.IsCustomerPortal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ACR_CusP_Status</targetReference>
            </connector>
            <label>Customer Portal &amp; ACR &amp; Inactive</label>
        </rules>
        <rules>
            <name>Customer_Portal_ACR_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ACRRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProviderRecord.IsCustomerPortal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ACR_CusP_Active_Status</targetReference>
            </connector>
            <label>Customer Portal &amp; ACR &amp; Create</label>
        </rules>
        <rules>
            <name>Not_Customer_Portal_ACR_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ACRRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProviderRecord.IsCustomerPortal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ACRRecord.Is_EDRD_Data_Migration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PSP_Queue</targetReference>
            </connector>
            <label>Not Customer Portal &amp; ACR &amp; Active</label>
        </rules>
        <rules>
            <name>Not_Customer_Portal_ACR_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ACRRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProviderRecord.IsCustomerPortal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ACRRecord.Is_EDRD_Data_Migration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ACR_NotCusP_EDRD_DM</targetReference>
            </connector>
            <label>Not Customer Portal &amp; ACR &amp; Inactive</label>
        </rules>
        <rules>
            <name>Not_Customer_Portal_ACR_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ACRRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProviderRecord.IsCustomerPortal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ACR_NotCusP_EDRD_DM</targetReference>
            </connector>
            <label>Not Customer Portal &amp; ACR &amp; Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>validate_CPERecord</name>
        <label>validate_CPERecord</label>
        <locationX>578</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Create_CPEStatus_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CPE_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RelatedCPERecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RelatedCPERecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Provider_for_New_Case</targetReference>
            </connector>
            <label>CPE &amp; Active</label>
        </rules>
        <rules>
            <name>CPE_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RelatedCPERecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RelatedCPERecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CPEStatus_Active</targetReference>
            </connector>
            <label>CPE &amp; Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>validate_EDRDCPRecord</name>
        <label>validate_EDRDCPRecord</label>
        <locationX>1018</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>CP_ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EDRD_CP_Record_Exits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EDRD_careProgramRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_RelatedCPERecord</targetReference>
            </connector>
            <label>EDRD CP Record Exits</label>
        </rules>
    </decisions>
    <decisions>
        <name>validate_Is_patient_deceased</name>
        <label>validate_Is_patient_deceased</label>
        <locationX>622</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>PatientDeceased_ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patient_Not_Deceased</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Patient_PHN</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PatientSummary_Screen</targetReference>
            </connector>
            <label>Patient Not Deceased</label>
        </rules>
    </decisions>
    <description>Changes related EMPI Integrations-v1.1</description>
    <dynamicChoiceSets>
        <name>caseTypeSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseTypeValue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IndicationChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Indication_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Medication__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Medication.recordId</elementReference>
            </value>
        </filters>
        <object>Medical_Diagnosis__c</object>
        <sortField>Indication_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestedFrequencyUnits</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Requested_Frequency_Unit__c</picklistField>
        <picklistObject>MedicationRequest</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestedFundingDurationUnit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Requested_Funding_Duration_Unit__c</picklistField>
        <picklistObject>MedicationRequest</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Patient_SFDeceased</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Patient_Deceased} = &quot;Yes&quot;, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Create EDRD Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create EDRD Case</label>
    <loops>
        <name>Iterate_CD_Records</name>
        <label>Iterate_CD_Records</label>
        <locationX>842</locationX>
        <locationY>5426</locationY>
        <collectionReference>UploadScreenDocument.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_CD_with_Entity_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_Insert_CDL_list_is_not_empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_CD_Records_NewCaseType</name>
        <label>Iterate_CD_Records_NewCaseType</label>
        <locationX>314</locationX>
        <locationY>5426</locationY>
        <collectionReference>UploadScreenDocument.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_CD_with_Entity_Id_NewCaseType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_Insert_CDL_list_is_not_empty_NewCaseType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ACR_CusP_Active_Status</name>
        <label>Create_ACR_CusP_Active_Status</label>
        <locationX>314</locationX>
        <locationY>3986</locationY>
        <connector>
            <targetReference>Get_PSP_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>ProviderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>searchedPatientRecId.PersonContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_EDRD_Data_Migration__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_ACR_NotCusP_EDRD_DM</name>
        <label>Create_ACR_NotCusP_EDRD_DM</label>
        <locationX>1018</locationX>
        <locationY>3986</locationY>
        <connector>
            <targetReference>Get_PSP_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>ProviderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>searchedPatientRecId.PersonContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_EDRD_Data_Migration__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CPEStatus_Active</name>
        <label>Create_CPEStatus_Active</label>
        <locationX>798</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Search_Provider_for_New_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>SFPatientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CareProgramId</field>
            <value>
                <elementReference>EDRD_careProgramRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>CareProgramEnrollee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Medication_request_with_New_Case</name>
        <label>Create Medication request with New Case</label>
        <locationX>182</locationX>
        <locationY>5234</locationY>
        <assignRecordIdToReference>MedicationRequestRec</assignRecordIdToReference>
        <connector>
            <targetReference>Iterate_CD_Records_NewCaseType</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>StoreNewCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dosage_Units__c</field>
            <value>
                <elementReference>VarMedicationInformationRec.HC_Initial_Dosage_Units__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dosage__c</field>
            <value>
                <elementReference>Dosage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_Indefinite_Funding__c</field>
            <value>
                <elementReference>Indefinite_Funding_initial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Diagnosis__c</field>
            <value>
                <elementReference>Select_Indication.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MedicationId</field>
            <value>
                <elementReference>Medication.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Medication_Detail__c</field>
            <value>
                <stringValue>{!Medication_Name} {!Other_Brand} {!Other_Indication} {!Supplier} {!Dosing} {!Dosage_Form}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PatientId</field>
            <value>
                <elementReference>searchedPatientRecId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_EDRD_MR_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Frequency_Unit__c</field>
            <value>
                <elementReference>Requested_Frequency_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Frequency__c</field>
            <value>
                <elementReference>Requested_Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Funding_Duration_Unit__c</field>
            <value>
                <elementReference>Requested_Funding_Duration_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Funding_Duration__c</field>
            <value>
                <elementReference>Requested_Funding_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequesterId</field>
            <value>
                <elementReference>ProviderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>StoreNewCase.Type</elementReference>
            </value>
        </inputAssignments>
        <object>MedicationRequest</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Medication_request_with_New_Case_without_indef</name>
        <label>Create Medication request with New Case without indef</label>
        <locationX>446</locationX>
        <locationY>5234</locationY>
        <assignRecordIdToReference>MedicationRequestRec</assignRecordIdToReference>
        <connector>
            <targetReference>Iterate_CD_Records_NewCaseType</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>StoreNewCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dosage_Units__c</field>
            <value>
                <elementReference>VarMedicationInformationRec.HC_Initial_Dosage_Units__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dosage__c</field>
            <value>
                <elementReference>Dosage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Diagnosis__c</field>
            <value>
                <elementReference>Select_Indication.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MedicationId</field>
            <value>
                <elementReference>Medication.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Medication_Detail__c</field>
            <value>
                <stringValue>{!Medication_Name} {!Other_Brand} {!Other_Indication} {!Supplier} {!Dosing} {!Dosage_Form}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PatientId</field>
            <value>
                <elementReference>searchedPatientRecId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_EDRD_MR_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Frequency_Unit__c</field>
            <value>
                <elementReference>Requested_Frequency_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Frequency__c</field>
            <value>
                <elementReference>Requested_Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Funding_Duration_Unit__c</field>
            <value>
                <elementReference>Requested_Funding_Duration_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Funding_Duration__c</field>
            <value>
                <elementReference>Requested_Funding_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequesterId</field>
            <value>
                <elementReference>ProviderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>StoreNewCase.Type</elementReference>
            </value>
        </inputAssignments>
        <object>MedicationRequest</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Medication_Request_with_New_Renewal_Case</name>
        <label>Create Medication Request with New Renewal Case</label>
        <locationX>710</locationX>
        <locationY>5234</locationY>
        <assignRecordIdToReference>MedicationRequestRec</assignRecordIdToReference>
        <connector>
            <targetReference>Iterate_CD_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>StoreRenewalCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dosage_Units__c</field>
            <value>
                <elementReference>VarMedicationInformationRec.HC_Renewal_Dosage_Units__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dosage__c</field>
            <value>
                <elementReference>Renewal_Dosage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_Indefinite_Funding__c</field>
            <value>
                <elementReference>Indefinite_Funding_Renewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Diagnosis__c</field>
            <value>
                <elementReference>Select_Indication.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MedicationId</field>
            <value>
                <elementReference>Medication.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Medication_Detail__c</field>
            <value>
                <stringValue>{!Medication_Name} {!Other_Brand} {!Other_Indication} {!Supplier} {!Dosing} {!Dosage_Form}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PatientId</field>
            <value>
                <elementReference>searchedPatientRecId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_EDRD_MR_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Frequency_Unit__c</field>
            <value>
                <elementReference>Renewal_Requested_Frequency_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Frequency__c</field>
            <value>
                <elementReference>Renewal_Requested_Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Funding_Duration_Unit__c</field>
            <value>
                <elementReference>Renewal_Requested_Funding_Duration_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Funding_Duration__c</field>
            <value>
                <elementReference>Renewal_Requested_Funding_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequesterId</field>
            <value>
                <elementReference>ProviderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>StoreRenewalCase.Type</elementReference>
            </value>
        </inputAssignments>
        <object>MedicationRequest</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Medication_Request_with_New_Renewal_Case_without_indef</name>
        <label>Create Medication Request with New Renewal Case without indef</label>
        <locationX>974</locationX>
        <locationY>5234</locationY>
        <assignRecordIdToReference>MedicationRequestRec</assignRecordIdToReference>
        <connector>
            <targetReference>Iterate_CD_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>StoreRenewalCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dosage_Units__c</field>
            <value>
                <elementReference>VarMedicationInformationRec.HC_Renewal_Dosage_Units__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dosage__c</field>
            <value>
                <elementReference>Renewal_Dosage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Diagnosis__c</field>
            <value>
                <elementReference>Select_Indication.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MedicationId</field>
            <value>
                <elementReference>Medication.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Medication_Detail__c</field>
            <value>
                <stringValue>{!Medication_Name} {!Other_Brand} {!Other_Indication} {!Supplier} {!Dosing} {!Dosage_Form}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PatientId</field>
            <value>
                <elementReference>searchedPatientRecId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_EDRD_MR_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Frequency_Unit__c</field>
            <value>
                <elementReference>Renewal_Requested_Frequency_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Frequency__c</field>
            <value>
                <elementReference>Renewal_Requested_Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Funding_Duration_Unit__c</field>
            <value>
                <elementReference>Renewal_Requested_Funding_Duration_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Funding_Duration__c</field>
            <value>
                <elementReference>Renewal_Requested_Funding_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequesterId</field>
            <value>
                <elementReference>ProviderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>StoreRenewalCase.Type</elementReference>
            </value>
        </inputAssignments>
        <object>MedicationRequest</object>
    </recordCreates>
    <recordCreates>
        <name>Create_patientRecordWithEMPI</name>
        <label>Create_patientRecordWithEMPI</label>
        <locationX>556</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Assigning_SFPatientId_create</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Patient_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Patient_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Identifier__pc</field>
            <value>
                <elementReference>Patient_PHN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_is_Deceased__pc</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>Patient_DOB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonGender</field>
            <value>
                <elementReference>Patient_Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_RelatedCDLfor_RenewalCase</name>
        <label>Create_RelatedCDLfor_RenewalCase</label>
        <locationX>710</locationX>
        <locationY>5942</locationY>
        <connector>
            <targetReference>Copy_2_of_Update_EDRDRenewCase_withPSPOwner</targetReference>
        </connector>
        <inputReference>Insert_CDL_Records</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_RelatedCDLfor_RenewalCase_NewCaseType</name>
        <label>Create_RelatedCDLfor_RenewalCase_NewCaseType</label>
        <locationX>182</locationX>
        <locationY>5942</locationY>
        <connector>
            <targetReference>Update_EDRDNewCase_withPSPOwner</targetReference>
        </connector>
        <inputReference>Insert_CDL_Records</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Manual_Create_patientRecord</name>
        <label>Manual_Create_patientRecord</label>
        <locationX>1084</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Assigning_SFPatientId_createManuallyPHN</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Patient_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Patient_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Identifier__pc</field>
            <value>
                <elementReference>Patient_PHN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_is_Deceased__pc</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>Patient_DOB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonGender</field>
            <value>
                <elementReference>Patient_Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Manual_Create_patientRecord_NoPHN</name>
        <label>Manual_Create_patientRecord_NoPHN</label>
        <locationX>1348</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Assigning_SFPatientId_createNoPHN</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Patient_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Patient_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_is_Deceased__pc</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>Patient_DOB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonGender</field>
            <value>
                <elementReference>Patient_Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_case_Creation_for_Rec_type_New</name>
        <label>New case Creation for Rec type New</label>
        <locationX>182</locationX>
        <locationY>4826</locationY>
        <connector>
            <targetReference>Get_Newly_created_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>patientContactRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Dosage_Unit__c</field>
            <value>
                <elementReference>VarMedicationInformationRec.HC_Initial_Dosage_Units__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Dosage__c</field>
            <value>
                <elementReference>Dosage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Frequency_Unit__c</field>
            <value>
                <elementReference>Requested_Frequency_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Frequency__c</field>
            <value>
                <elementReference>Requested_Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Funding_Duration_Unit__c</field>
            <value>
                <elementReference>Requested_Funding_Duration_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Funding_Duration__c</field>
            <value>
                <elementReference>Requested_Funding_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHIndefinite_Funding__c</field>
            <value>
                <elementReference>Indefinite_Funding_initial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>ProviderContactRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Received - Awaiting Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>New</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_case_Creation_for_Rec_type_New_without_indef</name>
        <label>New case Creation for Rec type New without indef</label>
        <locationX>446</locationX>
        <locationY>4826</locationY>
        <connector>
            <targetReference>Get_Newly_created_Case_without_indef</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>patientContactRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Dosage_Unit__c</field>
            <value>
                <elementReference>VarMedicationInformationRec.HC_Initial_Dosage_Units__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Dosage__c</field>
            <value>
                <elementReference>Dosage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Frequency_Unit__c</field>
            <value>
                <elementReference>Requested_Frequency_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Frequency__c</field>
            <value>
                <elementReference>Requested_Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Funding_Duration_Unit__c</field>
            <value>
                <elementReference>Requested_Funding_Duration_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Funding_Duration__c</field>
            <value>
                <elementReference>Requested_Funding_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>ProviderContactRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Received - Awaiting Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>New</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_renewal_case_creation_for_RecType_Renew</name>
        <label>New renewal case creation for RecType Renew</label>
        <locationX>710</locationX>
        <locationY>4826</locationY>
        <connector>
            <targetReference>Get_newly_created_Renewal_Rec</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>patientContactRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Dosage_Unit__c</field>
            <value>
                <elementReference>VarMedicationInformationRec.HC_Renewal_Dosage_Units__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Dosage__c</field>
            <value>
                <elementReference>Renewal_Dosage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Frequency_Unit__c</field>
            <value>
                <elementReference>Renewal_Requested_Frequency_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Frequency__c</field>
            <value>
                <elementReference>Renewal_Requested_Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Funding_Duration_Unit__c</field>
            <value>
                <elementReference>Renewal_Requested_Funding_Duration_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Funding_Duration__c</field>
            <value>
                <elementReference>Renewal_Requested_Funding_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHIndefinite_Funding__c</field>
            <value>
                <elementReference>Indefinite_Funding_Renewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>ProviderContactRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Received - Awaiting Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_renewal_case_creation_for_RecType_Renew_without_indef</name>
        <label>New renewal case creation for RecType Renew without indef</label>
        <locationX>974</locationX>
        <locationY>4826</locationY>
        <connector>
            <targetReference>Get_newly_created_Renewal_Rec_without_indef</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>patientContactRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Dosage_Unit__c</field>
            <value>
                <elementReference>VarMedicationInformationRec.HC_Renewal_Dosage_Units__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Dosage__c</field>
            <value>
                <elementReference>Renewal_Dosage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Frequency_Unit__c</field>
            <value>
                <elementReference>Renewal_Requested_Frequency_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Frequency__c</field>
            <value>
                <elementReference>Renewal_Requested_Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Funding_Duration_Unit__c</field>
            <value>
                <elementReference>Renewal_Requested_Funding_Duration_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDRD_MOHApproved_Funding_Duration__c</field>
            <value>
                <elementReference>Renewal_Requested_Funding_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>ProviderContactRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Received - Awaiting Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_ACRRecord</name>
        <label>get_ACRRecord</label>
        <locationX>578</locationX>
        <locationY>3770</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validate_ACR_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProviderRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>searchedPatientRecId.PersonContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Type</name>
        <label>Get Case Record Type</label>
        <locationX>314</locationX>
        <locationY>4610</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Indefinite_Funding_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EDRD</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CaseRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Type_for_renewal</name>
        <label>Get Case Record Type for renewal</label>
        <locationX>842</locationX>
        <locationY>4610</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_10</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EDRD</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CaseRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_EDRD_MR_Record_Type</name>
        <label>Get EDRD MR Record Type</label>
        <locationX>578</locationX>
        <locationY>2954</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Other_Medication_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>EDRD</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MedicationRequest</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EDRDCPRecord</name>
        <label>Get_EDRDCPRecord</label>
        <locationX>1018</locationX>
        <locationY>1898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validate_EDRDCPRecord</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>CP_ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EDRD</stringValue>
            </value>
        </filters>
        <object>CareProgram</object>
        <outputAssignments>
            <assignToReference>EDRD_careProgramRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Medication</name>
        <label>Get Medication</label>
        <locationX>578</locationX>
        <locationY>2846</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_EDRD_MR_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Medication.recordId</elementReference>
            </value>
        </filters>
        <object>Medication</object>
        <outputReference>VarMedicationInformationRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BrandNameAlternative</queriedFields>
        <queriedFields>Max_Initiation_Funding_Duration__c</queriedFields>
        <queriedFields>Max_Renewal_Funding_Duration__c</queriedFields>
        <queriedFields>HC_Initial_Funding_Duration__c</queriedFields>
        <queriedFields>HC_Initial_Funding_Duration_Unit__c</queriedFields>
        <queriedFields>HC_Initial_Frequency__c</queriedFields>
        <queriedFields>HC_Initial_Frequency_Unit__c</queriedFields>
        <queriedFields>HC_Renewal_Dosage__c</queriedFields>
        <queriedFields>HC_Renewal_Dosage_Units__c</queriedFields>
        <queriedFields>HC_Renewal_Funding_Duration__c</queriedFields>
        <queriedFields>HC_Renewal_Funding_Duration_Unit__c</queriedFields>
        <queriedFields>HC_Renewal_Frequency__c</queriedFields>
        <queriedFields>HC_Renewal_Frequency_Unit__c</queriedFields>
        <queriedFields>HC_Initial_Dosage__c</queriedFields>
        <queriedFields>HC_Initial_Dosage_Units__c</queriedFields>
        <queriedFields>Initial_Recommended_Dosage__c</queriedFields>
        <queriedFields>Renewal_Recommended_Dosage__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Newly_created_Case</name>
        <label>Get Newly created Case</label>
        <locationX>182</locationX>
        <locationY>4934</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Indefinite_Funding_check2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_case_Creation_for_Rec_type_New</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>StoreNewCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Provider__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Origin</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Newly_created_Case_without_indef</name>
        <label>Get Newly created Case without indef</label>
        <locationX>446</locationX>
        <locationY>4934</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Indefinite_Funding_check2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_case_Creation_for_Rec_type_New_without_indef</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>StoreNewCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Provider__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Origin</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_newly_created_Renewal_Rec</name>
        <label>Get newly created Renewal Rec</label>
        <locationX>710</locationX>
        <locationY>4934</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Renewal_Indefinite_Funding_check2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_renewal_case_creation_for_RecType_Renew</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>StoreRenewalCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Provider__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Origin</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_newly_created_Renewal_Rec_without_indef</name>
        <label>Get newly created Renewal Rec without indef</label>
        <locationX>974</locationX>
        <locationY>4934</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Renewal_Indefinite_Funding_check2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_renewal_case_creation_for_RecType_Renew_without_indef</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>StoreRenewalCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Provider__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Origin</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Contact_rec</name>
        <label>Get Patient Contact</label>
        <locationX>578</locationX>
        <locationY>4286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Provider_Contact_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>searchedPatientRecId.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>patientContactRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Patient_Identifier__c</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Records</name>
        <label>Get Patient Records</label>
        <locationX>424</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_patientFoundInSF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Identifier__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Patient_PHN</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>searchedPatientRecId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Patient_Identifier__pc</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
        <queriedFields>Patient_is_Deceased__pc</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <queriedFields>PersonGender</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Records_After_Create_Update</name>
        <label>Get Patient Records After Create/Update</label>
        <locationX>1018</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_EDRDCPRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SFPatientId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>searchedPatientRecId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Patient_Identifier__pc</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
        <queriedFields>Patient_is_Deceased__pc</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <queriedFields>PersonGender</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_RecordTypeAccount</name>
        <label>Get Patient RecordType</label>
        <locationX>1018</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Contact_Rec</name>
        <label>Get Provider Contact</label>
        <locationX>578</locationX>
        <locationY>4394</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_case_option</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProviderRecord.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ProviderContactRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Provider_Type__c</queriedFields>
        <queriedFields>Provider_Identifier__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Record_for_New_case</name>
        <label>Get Provider Record for New case</label>
        <locationX>578</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Medication_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>searchNewCaseProvider.ProviderAccId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ProviderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Provider_Type__pc</queriedFields>
        <queriedFields>Provider_Identifier__pc</queriedFields>
        <queriedFields>IsCustomerPortal</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PSP_Queue</name>
        <label>Get PSP Queue</label>
        <locationX>578</locationX>
        <locationY>4178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient_Contact_rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EDRD_PSP_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RelatedCPERecord</name>
        <label>get_RelatedCPERecord</label>
        <locationX>578</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validate_CPERecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SFPatientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CareProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EDRD_careProgramRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareProgramEnrollee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProviderRecordType</name>
        <label>Get Provider Record Type</label>
        <locationX>1018</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient_RecordTypeAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>getProviderRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Copy_2_of_Update_EDRDRenewCase_withPSPOwner</name>
        <label>Update_EDRDRenewCase_withPSPOwner</label>
        <locationX>842</locationX>
        <locationY>6134</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreRenewalCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_PSP_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ACR_CusP_Status</name>
        <label>Update_ACR_CusP_Status</label>
        <locationX>50</locationX>
        <locationY>3986</locationY>
        <connector>
            <targetReference>Get_PSP_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ACRRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ACR_NotCusP_EDRD_DM</name>
        <label>Update_ACR_NotCusP_EDRD_DM</label>
        <locationX>754</locationX>
        <locationY>3986</locationY>
        <connector>
            <targetReference>Get_PSP_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProviderRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_EDRD_Data_Migration__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CPEStatus_Active</name>
        <label>Update_CPEStatus_Active</label>
        <locationX>534</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Search_Provider_for_New_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SFPatientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CareProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EDRD_careProgramRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inactive_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>CareProgramEnrollee</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EDRDNewCase_withPSPOwner</name>
        <label>Update_EDRDNewCase_withPSPOwner</label>
        <locationX>314</locationX>
        <locationY>6134</locationY>
        <connector>
            <targetReference>Sucees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreNewCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_PSP_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_patientRecordWithEMPI</name>
        <label>Update_patientRecordWithEMPI</label>
        <locationX>292</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Assigning_SFPatientId_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Identifier__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Patient_PHN</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Patient_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Patient_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_is_Deceased__pc</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>Patient_DOB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonGender</field>
            <value>
                <elementReference>Patient_Gender</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>CP_ErrorScreen</name>
        <label>CP_ErrorScreen</label>
        <locationX>1458</locationX>
        <locationY>2114</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CP_Errordisplay</name>
            <fieldText>&lt;p&gt;{!$Label.EDRD_label_CP_Errordisplay}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Indication_Screen</name>
        <label>Indication Screen</label>
        <locationX>776</locationX>
        <locationY>3170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Medication_details_New_Renewal_decision</targetReference>
        </connector>
        <fields>
            <name>Search_Indication</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Search Indication&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Indication</name>
            <choiceReferences>IndicationChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select Indication</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Medication_Request</name>
        <label>Medication Request</label>
        <locationX>578</locationX>
        <locationY>2738</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Medication</targetReference>
        </connector>
        <fields>
            <name>Search_Medication</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Search Medication&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Medication</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>MedicationId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Medication</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>MedicationRequest</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Medication_Name</name>
            <dataType>String</dataType>
            <fieldText>Enter Other Medication Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Medication.recordName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Other</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Medication.recordName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MedicationRequestDetails</name>
        <label>Medication details</label>
        <locationX>644</locationX>
        <locationY>3386</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Upload_Supporting_Documents</targetReference>
        </connector>
        <fields>
            <name>MedicationInformation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Medication Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShowMedicationInformation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Medication Name : &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!VarMedicationInformationRec.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Brand : &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!VarMedicationInformationRec.BrandNameAlternative}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Initial Recommended Dosage: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!VarMedicationInformationRec.Initial_Recommended_Dosage__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Renewal Recommended Dosage: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!VarMedicationInformationRec.Renewal_Recommended_Dosage__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Max Initiation Funding Duration: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!VarMedicationInformationRec.Max_Initiation_Funding_Duration__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Max Renewal Funding Duration: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!VarMedicationInformationRec.Max_Renewal_Funding_Duration__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MedicationRequestDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MedicationRequestDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Dosage</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>VarMedicationInformationRec.HC_Initial_Dosage__c</elementReference>
                    </defaultValue>
                    <fieldText>Requested Dosage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Requested_Frequency</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>VarMedicationInformationRec.HC_Initial_Frequency__c</elementReference>
                    </defaultValue>
                    <fieldText>Requested Frequency</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Indefinite_Funding_initial</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Indefinite Funding</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>VarMedicationInformationRec.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>cysteamine</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Requested_Funding_Duration</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>VarMedicationInformationRec.HC_Initial_Funding_Duration__c</elementReference>
                    </defaultValue>
                    <fieldText>Requested Funding Duration</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Indefinite_Funding_initial</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>VarMedicationInformationRec.Name</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>cysteamine</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MedicationRequestDetails_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Dosage_Units</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>HC_Initial_Dosage_Units__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Dosage Units</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Medication</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>VarMedicationInformationRec.HC_Initial_Dosage_Units__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Medication.recordName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Other</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displayDosageUnits</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Requested Dosage Units&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!VarMedicationInformationRec.HC_Initial_Dosage_Units__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;     &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Requested_Frequency_Units</name>
                    <choiceReferences>RequestedFrequencyUnits</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarMedicationInformationRec.HC_Initial_Frequency_Unit__c</elementReference>
                    </defaultValue>
                    <fieldText>Requested Frequency Units</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Requested_Funding_Duration_Units</name>
                    <choiceReferences>RequestedFundingDurationUnit</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarMedicationInformationRec.HC_Initial_Funding_Duration_Unit__c</elementReference>
                    </defaultValue>
                    <fieldText>Requested Funding Duration Units</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Indefinite_Funding_initial</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>VarMedicationInformationRec.Name</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>cysteamine</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>New Case</description>
        <name>New_Cases</name>
        <label>New Case</label>
        <locationX>1018</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Search_Patient</targetReference>
        </connector>
        <fields>
            <name>Case_Type</name>
            <choiceReferences>New</choiceReferences>
            <choiceReferences>Renewal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Origin</name>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>Fax</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Fax</defaultSelectedChoiceReference>
            <fieldText>Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Medication</name>
        <label>Other Medication</label>
        <locationX>380</locationX>
        <locationY>3170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Other_Medication_details</targetReference>
        </connector>
        <fields>
            <name>DisplayOtherMedicine</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please Enter Other Medication Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Other_Medication_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Other_Medication_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other_Indication</name>
                    <dataType>String</dataType>
                    <fieldText>Indication</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Other_Medication_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other_Brand</name>
                    <dataType>String</dataType>
                    <fieldText>Brand</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Supplier</name>
            <dataType>String</dataType>
            <fieldText>Supplier</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dosing</name>
            <dataType>String</dataType>
            <fieldText>Dosing</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dosage_Form</name>
            <dataType>String</dataType>
            <fieldText>Dosage Form</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Medication_details</name>
        <label>Other Medication details</label>
        <locationX>380</locationX>
        <locationY>3278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Upload_Supporting_Documents</targetReference>
        </connector>
        <fields>
            <name>Other_MedicationInformation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Medication Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_ShowMedicationInformation</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Medication Name&lt;/strong&gt; &lt;strong&gt;:&lt;/strong&gt; {!Medication_Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Brand&lt;/strong&gt; &lt;strong&gt;:&lt;/strong&gt; {!Other_Brand}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Indication:&lt;/strong&gt; {!Other_Indication}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Supplier:&lt;/strong&gt;&amp;nbsp;{!Supplier}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Dosing:&lt;/strong&gt; {!Dosing}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Dosage Form:&lt;/strong&gt; {!Dosage_Form}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PatientDeceased_ErrorScreen</name>
        <label>PatientDeceased_ErrorScreen</label>
        <locationX>820</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PatientDeceased_Errordisplay</name>
            <fieldText>&lt;p&gt;{!$Label.EDRD_label_PatientDeceased_Errordisplay}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PatientSummary_Screen</name>
        <label>PatientSummary_Screen</label>
        <locationX>424</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Patient_Records</targetReference>
        </connector>
        <fields>
            <name>PatientSummary</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;u&gt;Patient Details&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Patient Name: {!Patient_FirstName}{!Patient_LastName}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Patient Identifier: {!Patient_PHN}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Patient Date of Birth: {!Patient_DOB}&lt;/p&gt;&lt;p&gt;Patient Gender: {!Patient_Gender}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PatientSummary_ScreenManual</name>
        <label>PatientSummary_ScreenManual</label>
        <locationX>1216</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_isManaulPHNPresent</targetReference>
        </connector>
        <fields>
            <name>PatientSummary_ManualCreate</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;u&gt;Patient Details&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Patient Name: {!Patient_FirstName}{!Patient_LastName}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Patient Identifier: {!Patient_PHN}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Patient Date of Birth: {!Patient_DOB}&lt;/p&gt;&lt;p&gt;Patient Gender: {!Patient_Gender}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Renwal_Medication_details</name>
        <label>Medication details</label>
        <locationX>908</locationX>
        <locationY>3386</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Upload_Supporting_Documents</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_MedicationInformation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Medication Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShowMedicationInformation_Renewal</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Medication Name : &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!VarMedicationInformationRec.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Brand : &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!VarMedicationInformationRec.BrandNameAlternative}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Initial Recommended Dosage: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!VarMedicationInformationRec.Initial_Recommended_Dosage__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Renewal Recommended Dosage: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!VarMedicationInformationRec.Renewal_Recommended_Dosage__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Max Initiation Funding Duration: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!VarMedicationInformationRec.Max_Initiation_Funding_Duration__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Max Renewal Funding Duration: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!VarMedicationInformationRec.Max_Renewal_Funding_Duration__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Renwal_Medication_details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Renwal_Medication_details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Renewal_Dosage</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>VarMedicationInformationRec.HC_Renewal_Dosage__c</elementReference>
                    </defaultValue>
                    <fieldText>Requested Dosage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Renewal_Requested_Frequency</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>VarMedicationInformationRec.HC_Renewal_Frequency__c</elementReference>
                    </defaultValue>
                    <fieldText>Requested Frequency</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Indefinite_Funding_Renewal</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Indefinite Funding</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>VarMedicationInformationRec.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>cysteamine</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Renewal_Requested_Funding_Duration</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>VarMedicationInformationRec.HC_Renewal_Funding_Duration__c</elementReference>
                    </defaultValue>
                    <fieldText>Requested Funding Duration</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Indefinite_Funding_Renewal</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>VarMedicationInformationRec.Name</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>cysteamine</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Renwal_Medication_details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Renewal_Dosage_Units</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>HC_Renewal_Dosage_Units__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Dosage Units</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Medication</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>VarMedicationInformationRec.HC_Renewal_Dosage_Units__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Medication.recordName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Other</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displayRenewalDosage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Requested Dosage Units&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!VarMedicationInformationRec.HC_Renewal_Dosage_Units__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;   &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Renewal_Requested_Frequency_Units</name>
                    <choiceReferences>RequestedFrequencyUnits</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarMedicationInformationRec.HC_Renewal_Frequency_Unit__c</elementReference>
                    </defaultValue>
                    <fieldText>Requested Frequency Units</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Renewal_Requested_Funding_Duration_Units</name>
                    <choiceReferences>RequestedFundingDurationUnit</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarMedicationInformationRec.HC_Renewal_Funding_Duration_Unit__c</elementReference>
                    </defaultValue>
                    <fieldText>Requested Funding Duration Units</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Indefinite_Funding_Renewal</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>VarMedicationInformationRec.Name</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>cysteamine</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Patient</name>
        <label>Search Patient</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_PatientOverRide_Reason</targetReference>
        </connector>
        <fields>
            <name>newCasePatientsearch</name>
            <extensionName>c:lookupSearchComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>overRideReason</name>
                <value>
                    <stringValue>None</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Patient_in_SF</name>
        <label>Search Patient in SF</label>
        <locationX>1414</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_createpatientvalue</targetReference>
        </connector>
        <fields>
            <name>SFPatientSearch</name>
            <extensionName>c:eDRD_lwc_SFPatientSearchComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Provider_for_New_Case</name>
        <label>Search Provider for New Case</label>
        <locationX>578</locationX>
        <locationY>2522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Provider_Record_for_New_case</targetReference>
        </connector>
        <fields>
            <name>searchNewCaseProvider</name>
            <extensionName>c:providerAccountComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>842</locationX>
        <locationY>6242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Success_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_SuccessfulMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(29, 31, 29);&quot;&gt;EDRD Case #&lt;/strong&gt;&lt;a href=&quot;/{!StoreNewCase.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(72, 121, 244);&quot;&gt;&lt;strong&gt;{!StoreRenewalCase.CaseNumber}&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;color: rgb(29, 31, 29);&quot;&gt; has been created successfully.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Success_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Success_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sucees</name>
        <label>Sucees</label>
        <locationX>314</locationX>
        <locationY>6242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Sucees_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sucees_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Sucees_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sucees_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SuccessfulMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(42, 44, 41);&quot;&gt;EDRD Case #&lt;/strong&gt;&lt;a href=&quot;/{!StoreNewCase.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(12, 46, 237);&quot;&gt;&lt;strong&gt;{!StoreNewCase.CaseNumber}&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt; ha&lt;/strong&gt;&lt;strong style=&quot;color: rgb(42, 44, 41);&quot;&gt;s been created successfully. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sucees_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sucees_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Sucees_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sucees_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Supporting_Documents</name>
        <label>Upload Supporting Documents</label>
        <locationX>578</locationX>
        <locationY>3662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_ACRRecord</targetReference>
        </connector>
        <fields>
            <name>Upload_SupportingDocuments</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Upload Supporting Documents&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UploadScreenDocument</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>892</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getProviderRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CDL_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>EDRD_careProgramRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>getAllRecordTypeItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>getProviderRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getRenewalAccDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Insert_CDL_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>MedicationRequestRec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Other</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </variables>
    <variables>
        <name>OtherMedDetail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Patient_Deceased</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Patient_DOB</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Patient_FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Patient_Gender</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Patient_LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Patient_PHN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientContactRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>PatientOverrideReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProviderContactRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ProviderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>searchedPatientRecId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SFPatientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storedNewCaseSearchedProviderRec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storedNewSearchedPatientRec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storedRenewalPatientRec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StoreNewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>storeNewCreatedProviderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeNewPatientRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreRenewalCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>testrecVAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccountRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varMedicationInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarMedicationInformationRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Medication</objectType>
    </variables>
    <variables>
        <name>varRenewaAccName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
