dev-app-post/main/default/flows/EDRD_Change_Enrollee_Status_OnPatient.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Store_Updated_EDRD_Cases</name>
        <label>Store Updated EDRD Cases</label>
        <locationX>534</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>update_EDRD_Cases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterate_EDRD_open_cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_EDRD_open_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_EDRD_Case_Status_to_Closed_Other</name>
        <label>Update EDRD Case Status to Closed_Other</label>
        <locationX>534</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>iterate_EDRD_open_cases.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iterate_EDRD_open_cases.EDRD_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.EDRD_label_Patient_Inactive_caseNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iterate_EDRD_open_cases.EDRD_Case_closure_reasons__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Patient_Inactive_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iterate_EDRD_open_cases.EDRD_MOHIndefinite_Funding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Updated_EDRD_Cases</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>activatePatient_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>activatePatient_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>closeCases_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>closeCases_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>deactivatePatient_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>deactivatePatient_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <constants>
        <name>Care_Program_Name_EDRD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EDRD</stringValue>
        </value>
    </constants>
    <constants>
        <name>EDRD_RecordNameConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EDRD</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ActivatePatient_decision</name>
        <label>ActivatePatient_decision</label>
        <locationX>1238</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ActivePatient_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Activate_PatientScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>activatePatient_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Patient</targetReference>
            </connector>
            <label>ActivePatient_Choice</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Patient_is_Active</name>
        <label>Check Patient is Active</label>
        <locationX>990</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>active_noCPE_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Patient_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_careProgramEnrollee_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_careProgramEnrollee_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_careProgramEnrollee_Record.CareProgram.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Care_Program_Name_EDRD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_Patient_Screen</targetReference>
            </connector>
            <label>Is Patient Active</label>
        </rules>
        <rules>
            <name>Is_Patient_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_careProgramEnrollee_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_careProgramEnrollee_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_careProgramEnrollee_Record.CareProgram.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Care_Program_Name_EDRD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Patient</targetReference>
            </connector>
            <label>Is Patient Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_update_list_is_not_empty</name>
        <label>check update list is not empty</label>
        <locationX>446</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Inactive_update_Screen_noCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Update_List_is_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>update_EDRD_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_CloseStatus_Other</targetReference>
            </connector>
            <label>Case Update List is not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCPE_Record</name>
        <label>CheckCPE_Record</label>
        <locationX>1803</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>active_noCPE_Screen_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCPRERecord_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_careProgramEnrollee_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_UserRecordAccess</targetReference>
            </connector>
            <label>IsCPRERecord_Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>closeEDRDCase_inactivePatient</name>
        <label>closeEDRDCase_inactivePatient</label>
        <locationX>644</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>inactive_PatientScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>closeEDRDassociatedCase_inactivePatient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>closeCases_EDRD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>closeCases_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_recordTypeId_of_EDRD_Case</targetReference>
            </connector>
            <label>closeEDRDassociatedCase_inactivePatient</label>
        </rules>
    </decisions>
    <decisions>
        <name>closePatientScreen</name>
        <label>closePatientScreen</label>
        <locationX>347</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>deactivate_patient_Checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>closePatientdeactive_Screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deactivatePatientQuestion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>deactivatePatient_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactive_noCPE_Screen</targetReference>
            </connector>
            <label>closePatientdeactive Screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_HasCPEEdit_access</name>
        <label>User_HasCPEEdit access</label>
        <locationX>1444</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>User_noCPEEditScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>user_HasCPEAccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasCPEEditAccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Patient_is_Active</targetReference>
            </connector>
            <label>user_HasCPEAccess</label>
        </rules>
    </decisions>
    <description>Updated the according to EDRD-MOH Layout Changes, Removing Funding Decision.</description>
    <dynamicChoiceSets>
        <name>careProgramEnrolInactive_picklistSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Inactive_Reason__c</picklistField>
        <picklistObject>CareProgramEnrollee</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>EDRD Change Enrollee Status_OnPatient {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EDRD Change Enrollee Status_OnPatient</label>
    <loops>
        <name>iterate_EDRD_open_cases</name>
        <label>iterate EDRD open cases</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <collectionReference>getAssociatedEDRDCaseRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_EDRD_Case_Status_to_Closed_Other</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_update_list_is_not_empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_careProgramEnrollee_Record</name>
        <label>get_careProgramEnrollee_Record</label>
        <locationX>1803</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckCPE_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareProgramEnrollee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_recordTypeId_of_EDRD_Case</name>
        <label>get recordTypeId of EDRD Case</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAssociatedEDRDCaseRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EDRD_RecordNameConstant</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>EDRDRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_UserRecordAccess</name>
        <label>get_UserRecordAccess</label>
        <locationX>1444</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_HasCPEEdit_access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_careProgramEnrollee_Record.Id</elementReference>
            </value>
        </filters>
        <object>UserRecordAccess</object>
        <outputAssignments>
            <assignToReference>hasCPEEditAccess</assignToReference>
            <field>HasEditAccess</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CPE_RecordId</assignToReference>
            <field>RecordId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getAssociatedEDRDCaseRecords</name>
        <label>getAssociatedEDRDCaseRecords</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterate_EDRD_open_cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.PersonContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EDRDRecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>deactivate_patient_Checkbox</name>
        <label>deactivate patient Checkbox</label>
        <locationX>644</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Deactivate_Patient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_careProgramEnrollee_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inactive_Reason__c</field>
            <value>
                <elementReference>Patient_Inactive_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>CareProgramEnrollee</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_CloseStatus_Other</name>
        <label>Update Case CloseStatus_Other</label>
        <locationX>314</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Inactive_update_Screen</targetReference>
        </connector>
        <inputReference>update_EDRD_Cases</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Patient</name>
        <label>update Patient</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>patientactive_displayMsgScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_careProgramEnrollee_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inactive_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>CareProgramEnrollee</object>
    </recordUpdates>
    <screens>
        <name>Activate_Patient</name>
        <label>Activate Patient</label>
        <locationX>1238</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ActivatePatient_decision</targetReference>
        </connector>
        <fields>
            <name>Activate_Patient_screenName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Activate Patient﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Activate_PatientScreen</name>
            <choiceReferences>activatePatient_Yes</choiceReferences>
            <choiceReferences>activatePatient_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>activatePatient_Yes</defaultSelectedChoiceReference>
            <fieldText>Would you like to activate the patient?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>active_noCPE_Screen</name>
        <label>active_noCPE_Screen</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayScreen_noActiveCPE</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Activate Patient&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ActivePatient_MsgScreen_noCPE</name>
            <fieldText>&lt;p&gt;{!$Label.EDRD_label_Patient_noedrdCPE}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>active_noCPE_Screen_1</name>
        <label>active_noCPE_Screen_1</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayScreen_noActiveCPE_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Activate Patient&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ActivePatient_MsgScreen_noCPE_1</name>
            <fieldText>&lt;p&gt;{!$Label.EDRD_label_Patient_noedrdCPE}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Deactivate_Patient</name>
        <label>Deactivate Patient</label>
        <locationX>644</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>closeEDRDCase_inactivePatient</targetReference>
        </connector>
        <fields>
            <name>Deactivate_Patient_screenName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Deactivate Patient&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>closeCases_EDRD</name>
            <choiceReferences>closeCases_Yes</choiceReferences>
            <choiceReferences>closeCases_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>closeCases_Yes</defaultSelectedChoiceReference>
            <fieldText>Would you like to close all EDRD open cases associated with the patient?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Deactivate_Patient_Screen</name>
        <label>Deactivate Patient Screen</label>
        <locationX>347</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>closePatientScreen</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Deactivate_Patient_screenName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Deactivate Patient﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>deactivatePatientQuestion</name>
            <choiceReferences>closeCases_Yes</choiceReferences>
            <choiceReferences>closeCases_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>closeCases_Yes</defaultSelectedChoiceReference>
            <fieldText>Would you like to deactivate the patient?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Patient_Inactive_Reason</name>
            <choiceReferences>careProgramEnrolInactive_picklistSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Patient not a BC resident</stringValue>
            </defaultValue>
            <fieldText>Patient Inactive Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>deactivatePatientQuestion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>deactivatePatient_Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Deactive_noCPE_Screen</name>
        <label>deactive_noCPE_Screen</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_displayScreen_noActiveCPE</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Deactivate Patient&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>deactivePatient_MsgScreen_close</name>
            <fieldText>&lt;p&gt;{!$Label.EDRD_label_Patient_deactive_closeScreen}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>inactive_PatientScreen</name>
        <label>inactive_PatientScreen</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>finalscreen_displaytext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Deactivate Patient&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>deactivatePatient_MsgScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!$Label.EDRD_label_Patient_Inactive}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inactive_update_Screen</name>
        <label>Inactive_update Screen</label>
        <locationX>314</locationX>
        <locationY>2054</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayScreen_FinalMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Deactivate Patient&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>closeCase_MsgScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!$Label.EDRD_label_Patient_Inactive_closeOpenCases}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inactive_update_Screen_noCases</name>
        <label>Inactive_update Screen</label>
        <locationX>578</locationX>
        <locationY>1946</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayScreen_FinalMsg_noCases</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Deactivate Patient&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>closeCase_MsgScreen_Nocases</name>
            <fieldText>&lt;p&gt;{!$Label.EDRD_label_Patient_Inactive_ListEmpty}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>patientactive_displayMsgScreen</name>
        <label>patientactive_displayMsgScreen</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayscreen_FinalMsg2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Activate Patient&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>patientActive_successMsg</name>
            <fieldText>&lt;p&gt;{!$Label.EDRD_label_Patient_active}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_noCPEEditScreen</name>
        <label>User_noCPEEditScreen</label>
        <locationX>1898</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>User_noEditScreen_display</name>
            <fieldText>&lt;p&gt;{!$Label.EDRD_label_UserNoCPEAccessEdit}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1677</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_careProgramEnrollee_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CPE_RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EDRDRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasCPEEditAccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>update_EDRD_Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
